[2013-12-25 11:59] algernon opened #49 "Grammar does not work with bison 3+"
There are multiple issues when trying to compile the grammar with bison 3:
- [x] The configure script flags 3.0 as too old (I have an easy fix for this)
- [x] `YYID` appears to be gone
- [x] bison throws a ton of warnings, we previously grepped through (we need -Wno-other in AM_YFLAGS now)

For the moment, I reverted my Debian unstable and Ubuntu Trusty build environments to bison 2.7, but that wo

[2013-12-25 14:01] #49 closed, assigned to nobody

[2014-01-09 11:18] ihrwein opened #59 "Embedded template functions don't work"
I tried to use the following template function, but syslog-ng didn't accept it:

[code]

The error message was:

[code]

I used syslog-ng OSE 3.5.

[2014-01-14 11:23] algernon opened #62 "Time to update some defaults?"
A recent discussion here in the syslog-ng room at work, the topic of ancient defaults came up, and we were wondering if we could tweak a few defaults for 3.6, to cater for the expectations of a wide number of installations:
- [x] Up `flush-lines()` from 1 to maybe 100. This has a noticable performance impact in a good way, at the expense of possibly losing more messages. I would rather have a bit

[2014-01-14 17:53] algernon opened #67 "Memory leaks during reload"
When reloading the configuration, there are quite a few spots where we're leaking memory. This hurts not only when stress testing with lots of reloads, but when you leave a syslog-ng running with a big and complex configuration for months, with daily reloads, it shows.

A few spots I identified:
- [ ] `template_content_inner` calls `log_template_compile()` with a fresh GError, but that variable is

[2014-01-29 20:34] nlaplante opened #75 "Support mongodb connection over SSL"
I cannot find any information about how to connect to a MongoDB database using SSL. If the MongoDB server has the `sslOnNormalPorts` configuration enabled, clients are required to connecto to it via SSL. I don't see any option in the mongodb destination to enable such a flag. Does it autodetect it? Or it's not supported at all?

[2014-01-31 08:16] talien opened #76 "Backport log_macro_expand bugfix for 3.5"
Could you please backport the following patch for the next 3.5 maintenace release?
https://github.com/balabit/syslog-ng/commit/75a4fd09dec17984dbde0fc85f92c72adec38875

Thank you in advance!

[2014-02-10 16:23] steveberryman opened #80 "amqp module causes syslog-ng (3.4 and 3.5) to segfault"
destination config here:

amqp(
  vhost("/")
  host("rabbitmq-0.internal.example.com")
  port(5672)
  exchange("raw_logs")
  exchange_type("fanout")
  routing_key("")
  body("")
  persistent(yes)
  value-pairs(
    scope("selected-macros" "nv-pairs" "sdata")
  )
);

Backtrace here:

Core was generated by `syslog-ng -dev -F --enable-core'.
Program terminated with signal 11, Segmentation fault.
#0

[2014-02-19 10:11] mitzkia opened #83 "--with-libmongo-client option does not have auto choice."
And it's default parameter is internal(aka git submodule), which is not fortunate if you are a distro packager. (mostly you want to use the system libmongo-client library).

[2014-02-19 13:49] algernon opened #85 "Threaded destination vs Worker threads"
Suppose we have the following config:

[code]

If we start stressing this with loggen, like this: `loggen -r 10000 -I 100 -i 127.0.0.1 12345 --active-connections=10`, it will crash and burn:

The reason this happens is because both IO workers and the extra thread used by LogThreadedDestDriver count towards the maximum number of threads allowed. But we don't take the extra thread into consideration

[2014-02-19 16:17] algernon opened #86 "The zone file parser does not support Tzif3 files"
As the title says: the zone file parser does not support tzif3 format files, which is produced by zic >= 2013. This causes test case failures on at least Fedora.

The updated manpage says:

[code]

Originally reported by Peter Czanik czanik@balabit.hu

[2014-02-20 14:18] algernon opened #87 "value-pairs key() vs special macros"
`value-pairs(key("PRI"))` does not do what one would expect, because PRI is not stored in the nvtable, but is a special macro. value-pairs should be clever enough to take those into account too.

[2014-02-21 11:24] #83 closed, assigned to algernon

[2014-02-21 11:58] #76 closed, assigned to nobody

[2014-02-21 21:44] #86 closed, assigned to algernon

[2014-02-27 14:42] mitzkia opened #92 "Make obsolete the mongodb host() and port() options"
syslog-ng OSE admin guide writes about these options are obsolete.
http://www.balabit.com/sites/default/files/documents/syslog-ng-ose-3.5-guides/en/syslog-ng-ose-v3.5-guide-admin/html-single/index.html#reference-destination-mongodb

There is also missing a config warning for that options.

[2014-02-27 14:54] algernon opened #93 "system(): FreeBSD jail support"
On FreeBSD, when in jail, `/dev/klog` does not exist, and should not be included in `system()`. We should detect if we're running in a jail, and not include that source in that case.

To detect the jail, `sysctl security.jail.jailed` returns 1 if in jail, 0 if not. Need to figure out how to do that from C, though.

[2014-02-27 14:56] algernon opened #94 "system(): A tool to expand system() only"
Since the `system()` source is implemented in C, it is kind of tiresome to figure out what it expands to on a given system. We should ship a tool that does that for us, and prints the expanded part only.

A shell script can do this just fine.

[2014-02-27 15:03] mitzkia opened #95 "Because of mongodb restriction database names longer than 64 char. not created"
Using the following config syslog-ng does not warning for the database name longer than 64 char.

destination d_mongodb {
  mongodb(
    servers("localhost:28018")
    database("11111111111111111111111111111111111111111111111111111111111111111")
    safe_mode(yes)
  );
};

syslog-ng console-log:
Initializing MongoDB destination; address='localhost', port='28018', database='111111111111111111111111

[2014-02-27 15:13] mitzkia opened #96 "mongodb: fallback not works if the first server is unreachable"
In the following config the first server is unreachable, the second is up. syslog-ng does not fallback to the second server.

destination d_mongodb {
  mongodb(
    servers("localhost:27017", "localhost:28018")
    safe_mode(yes)
  );
};

console log:
Initializing MongoDB destination; address='localhost', port='27017', database='syslog', collection='messages'
Worker thread started; driver='d_mongo

[2014-02-28 12:51] #93 closed, assigned to algernon

[2014-03-05 15:09] faxm0dem opened #102 "Enhancement: PRI template function"
When not using `syslog` protocol it's not possible without some hackish template function to extract the `priority` and `facility` and/or their numeric versions from `PRI`. It would be nice to make that template function available, for instance for people who send json formatted logs, e.g.

[code]

That being said, same goes for `legacy_msghdr`: a template function to extract `program` and `pid` w

[2014-03-11 13:44] pzoleex opened #105 "format_json: wrong date when base/selected_macros is used"
If you are using "base" or "selected_macros", the date will contain the value of R_DATE macro instead of the S_DATE.
If you are using "everything", the DATE is fine.

config:
source s_file_57d097b7282846beb3b14d2d8d4f08a6 {
    file("/var/testdb_working_dir/9509b21c-e6f9-42f8-b2a8-8cc34d26e46a.txt");
};
destination d_file_8bf0d1a88a6a43f38965186bd67f1584 {
    file("/var/testdb_working_dir/9777373

[2014-03-11 20:27] #92 closed, assigned to nobody

[2014-03-12 12:04] #95 closed, assigned to nobody

[2014-03-12 12:05] #80 closed, assigned to nobody

[2014-03-13 15:51] faxm0dem opened #109 "pdbtool merge generates XML with version 3"
In my understanding, `pdbtool` should merge the versions of individual files with the following logic:
- fail when there is a version mismatch (or use highest, if backwards compatible)
- use the provided version if all files have the same version

See: https://github.com/balabit/syslog-ng/blob/master/modules/dbparser/pdbtool/pdbtool.c#L314-L315

[2014-03-20 09:01] czanik opened #111 "Incoming frame larger than log_msg_size()"
It's not my problem actually, but reported by multiple users in GetSatisfaction:

http://communities.balabit.com/balabit/topics/syslog_ng_version_3_4_host_closes_tcp_syslog_connection_with_message_incoming_frame_larger_than_log_msg_size

Downgrading to 3.2 resolved the issue for one of the reporters, but that's an EoL version...

[2014-04-07 14:52] #111 closed, assigned to nobody

[2014-04-11 21:30] ColdForest opened #117 "Parser overwriting .classifier.class when matching over multiple parsers"
Viktor replies to my original query (below):
"If a log message does not match any pattern for a parser, syslog-ng db-parser sets its .classifier.class to "unknown" regardless of the field's previous state. So if it matched on a previous parser, the next parser will overwrite it if it doesn't match on that. I think it's a bug rather than a feature, so could you please open an issue for that on gith

[2014-04-26 13:42] benkibbey opened #121 "Kernel log message time drift"
There is a strange problem in syslog-ng that the kernel timestamp drifts over time. I now have an uptime of 5d 13h and the kernel log timestamp has drifted by about 11 minutes and gets greater as time passes. If I remove syslog-ng and install rsyslog or busybox-klogd/syslogd then the timestamp is correct.

This only happens with kernel log messages and not other normal messages.

[2014-05-14 11:34] talien opened #124 "Syslog-ng make install should install ivykis headers when using internal ivykis."
Because without this, incubator couldn't compile when compiling syslog-ng from source with internal ivykis.

[2014-05-22 11:49] faxm0dem opened #129 "pdbtool merge: htmlentities break functionality"
I have a `pdb` file which triggers an action on a given condition:
[code]
`pdbtool merge` transforms this snippet into:
[code]

Problem is, the condition now matches all events, even those where `${appacct.difference_dur} < 604800`.

[2014-05-23 08:42] faxm0dem opened #131 "Enhancement: separate actions from rules in patterndb"
I feel a strong need to separate business logic (actions) from implementation logic (patterns). The reason is simple: patterns can and should be shared with the community. Actions however are very business specific, and thus should not be fused together with patterns, which would make sharing difficult. We need a way to have actions and patterns in different files.

I see two possibilities, both o

[2014-05-26 08:51] mitzkia opened #132 "test_basicfuncs cause SIGSEGV on ubuntu trusty"
relevant output for make check:
./test-driver: line 107:  8752 Segmentation fault      (core dumped) "$@" > $log_file 2>&1
FAIL: modules/basicfuncs/tests/test_basicfuncs

bt for test_basicfuncs's core:
Program received signal SIGSEGV, Segmentation fault.
0xb7f49de0 in g_static_mutex_get_mutex_impl@plt ()
   from /home/micek/syslog-ng-collector/checkout-dir/syslog-ng-ose-3.6/lib/.libs/libsyslog-ng-

[2014-05-30 09:14] #94 closed, assigned to algernon

[2014-06-02 08:02] #124 closed, assigned to nobody

[2014-06-04 16:52] ColdForest opened #137 "Facility Filter Ranges Don't Work"
I thought I must have just messed up some syntax here, but nothing I do seems to work. The issue is with my attempts to specify filter facility function _ranges_ - here's the error message (from "syslog-ng -s"):

"Error parsing filter expression, syntax error, unexpected LL_DOTDOT, expecting ')' in /etc/syslog-ng.conf at line 69, column 35:

filter f_namain { facility(local0 .. local7) and program

[2014-06-05 10:09] #105 closed, assigned to nobody

[2014-06-05 11:25] #87 closed, assigned to algernon

[2014-06-05 11:34] #137 closed, assigned to nobody

[2014-06-17 11:00] pzoleex opened #138 "file_destination is not reopened after error"
The issue:
When syslog-ng starts, the given file destination exists, but this is a directory thus syslog-ng cannot write it when a message incomes.
Than I remove the directory, but syslog-ng never tries to reopen the destination and to write the message again. After reloading syslog-ng, this message is lost.

output:
[2014-06-17T10:40:45.483910] syslog-ng starting up; version='3.6.0alpha0'
[2014-0

[2014-06-18 09:53] pzoleex opened #140 "implement multi-line-timeout"
well, it seems that syslog-ng does not detect any files in this mode and/or at least not displaying any incoming message.
To reproduce the issue: create the source file with this content:
[code]

then start syslog-ng with the config below.
The result:
[code]
Thats all, syslog-ng does not recognize the file.

Expected result: syslog-ng processes the file then creates the proper multi line message w

[2014-06-18 11:35] faxm0dem opened #141 "patterndb parser: PROGRAM and MSG should be configurable"
Currently the patterndb parser enforces the use of the following macros:
- `$PROGRAM` for the _ruleset patterns_
- `$MESSAGE` for the _rule patterns_

The latter is not entirely true, as it seems to be possible according to the _source_ to use `template()` in a `db_parser` block. It is however not officially possible, from reading the docs.

Nevertheless I have the strong feeling this is an unnece

[2014-06-19 10:59] pzoleex opened #142 "statistics: stored should mean queued"
the stored counter of statistics should only increase when the message is stored in the queue (so syslog-ng could not send the message).
Now in case of mongodb, it is increased every time when a message is sent

[2014-06-24 12:39] Jim-son opened #144 "Timezones not supported in format-json macro?"
syslog-ng 3.5.4.1 (freebsd)

config:
@version: 3.5
log {
    source { file("/dev/stdin" time_zone('PST8PDT')); };
    destination { file("/dev/stdout" time_zone('UTC') template("$DATE $(format-json date=$DATE isodate=$ISODATE)\n")); };
};

$ syslog-ng -vFf ./syslogng-json-date.conf
Jun 24 00:00:01.295 host proc: message
Jun 24 07:00:01 {"isodate":"2014-06-24T00:00:01-07:00","date":"Jun 24 00:00:01

[2014-06-30 10:57] #85 closed, assigned to nobody

[2014-07-01 10:22] faxm0dem opened #146 "patterndb parser: bug in condition"
Consider the following config:

[code]

[code]

This is not working as expected, as both conditions always apply:

[code]

[2014-07-01 10:36] faxm0dem opened #147 "patterndb parser: undocumented feature"
It _seems_ it is possible to modify a message using _actions_ without creating new ones by omitting the _message_ element.
Is this an undocumented feature, or a bug?

[code]

[code]

This is _somehow_ functional, but doesn't _validate_ the _xsd_.

[code]

IMHO this is a useful feature, though maybe not very comprehensive in its "current" form. Maybe this would be more clear:

[code]

[2014-07-02 09:32] mitzkia opened #149 "Add configure option to enable all modules"
It will be good if I can use ./configure --enable-all-modules instead of:
 ./configure  --enable-geoip --enable-systemd --enable-redis --enable-smtp --enable-stomp --enable-amqp --enable-json --enable-mongodb --enable-pacct --enable-sql --enable-spoof-source --enable-ipv6 --enable-ssl

[2014-07-03 11:44] faxm0dem opened #150 "docbug: log_fetch_limit cannot be global"
The OSE 3.5 documentation claims in _Figure 8.3. Managing log messages in syslog-ng_: "_The log_fetch_limit() parameter can be set as a global option, or for every source individually._".

The _syslog-ng_ daemon (3.5.3) doesn't agree:

[code]

[2014-07-07 19:26] mstarks01 opened #154 "pdbtool merge converts greater-than character"
Simply put, when merging two pattern databases, the > symbol is converted to &gt in the output file. This is meant to match literally in my log line (from a Cisco ASA log).

[2014-07-10 11:08] talien opened #161 "Patterndb packaging and link to webpage"
We should make debian packages from the https://github.com/balabit/syslog-ng-patterndb
repo, to be able to distribute it easily. We should also make a link to this repo from the syslog-ng.org site.

Further plans: We should also consolidate them: some files has .pdb extensions, some
of them has .xml. And they are separated in different files, so it is hard to load them,
or manage them.

[2014-07-13 20:50] #154 closed, assigned to nobody

[2014-07-17 11:17] #67 closed, assigned to nobody

[2014-07-17 11:41] #144 closed, assigned to nobody

[2014-07-17 12:55] faxm0dem opened #168 "Enhancement: csv-parser multichar delimiter"
It would be tremendously useful to be able to specify string delimiters for csv-parsers

[code]

Obviously this would break multiple delimiters, not sure how to make this backwards compatible.

[2014-07-26 03:42] juju4 opened #173 "latest on Macos: compile issues"
Hello,

I'm trying to update syslog-ng for macports on Macos (10.9.4)
A patch is referenced in old bugzilla https://bugzilla.balabit.com/show_bug.cgi?id=155
so I fit it to current configure.ac in 3.5.5 but I fall on another issue

[code]

outcome also presented here https://github.com/Homebrew/homebrew/issues/22030

outside of *.y there are
[code]
in modules/dbparser and modules/json.
var is used

[2014-07-28 10:36] lojha opened #174 "syslog-ng v3.4.8 issue on solaris sparc 8"
Attempting to compile syslog-ng v3.4.8 from source on solaris sparc 8  fails with

logsource.c: In function ‘log_source_msg_ack’:
logsource.c:85: error: ‘CLOCK_MONOTONIC’ undeclared (first use in this function)
logsource.c:85: error: (Each undeclared identifier is reported only once
logsource.c:85: error: for each function it appears in.)

[2014-07-28 14:23] algernon opened #175 "Misdetecting linux capabilities on FreeBSD"
Right now we detect whether to enable linux capability support by checking for `sys/capabilities.h` only. We also check for `-lcap`, but if we can't find it, we just ignore it. We should disable linux capabilities if we can't find libcap.

This affects every branch of syslog-ng.

[2014-07-29 12:05] lojha opened #176 "Urgent: syslog-ng v3.4.8 issue on AIX 5.3"
libtool: link: gcc -std=gnu99 -shared -o .libs/libsyslog-ng-3.4.8.so  .libs/libsyslog_ng_la-afinter.o .libs/libsyslog_ng_la-alarms.o .libs/libsyslog_ng_la-apphook.o .libs/libsyslog_ng_la-block-ref-parser.o .libs/libsyslog_ng_la-cfg.o .libs/libsyslog_ng_la-cfg-args.o .libs/libsyslog_ng_la-cfg-lexer.o .libs/libsyslog_ng_la-cfg-lexer-subst.o .libs/libsyslog_ng_la-cfg-parser.o .libs/libsyslog_ng_la-cf

[2014-07-29 15:43] #175 closed, assigned to nobody

[2014-07-30 10:39] algernon opened #178 "Sequence numbering restarts on reload"
Though fixed in the SQL destination, a lot of other drivers will restart sequence numbering on reload. This should be corrected. (See 6edb63454c1b62770ac976b6ab171d1c64100b69 for the SQL fix, which should be ported to other drivers too.)

Perhaps this should be done in `LogThreadedDestDriver`?

[2014-07-30 12:00] algernon opened #180 "mongodb: Support for throttle()?"
According to 470beca0855965fbcb31271682f8e21c8f9e9bd2, `throttle()` should be supported by the MongoDB destination. However, due to an earlier patch (7c484afac0410486efa7be5212d66e3a943c0e5e), we ignore that and print a warning.

We need to revisit whether throttling works now, and if so, remove the warning and the disabling code.

[2014-07-31 09:40] #96 closed, assigned to nobody

[2014-07-31 10:47] algernon opened #181 "libmongo-client minimum version is too small"
The `configure.ac` script has a `libmongo-client >= 0.1.6` minimum requirement for the library, while the code relies on features and symbols added in `>= 0.1.8`. The minimum version should be bumped.

[2014-07-31 11:23] #181 closed, assigned to nobody

[2014-07-31 11:35] algernon opened #182 "3.6 fails to compile on FreeBSD 10"
[code]

In short, `ucred` is a linux-ism, FreeBSD has `cmsgcred` with similar contents.

[2014-07-31 12:35] #182 closed, assigned to nobody

[2014-07-31 14:12] faxm0dem opened #183 "memory leak in 3.5.5 vp/json"
As requested by @algernon

[code]

[2014-07-31 21:42] #183 closed, assigned to nobody

[2014-08-01 07:34] algernon opened #185 "afsocket: unix credentials on legacy unix platforms"
In `afsocket`, there's `modules/afsocket/transport-unix-socket.c` and `modules/afsocket/unix-credentials.*`. Together, they allow syslog-ng to retrieve the UNIX credentials passed over on a UNIX socket. So far, this has been ported to and tested on Linux, ported but not tested on FreeBSD.

But it may or may not compile, or work, on other platforms. Testing and porting that needs to be done before

[2014-08-04 12:34] algernon opened #186 "afsocket source does not set SOURCE"
Assuming I have this configuration:

[code]

If I send a log message, `$SOURCE` will not be set, and stats for the center counter will not be incremented, either. This is because in [`afsocket_sd_init_instance()`](https://github.com/balabit/syslog-ng/blob/416d3159c133a99134cf75607b74b2650cb73688/modules/afsocket/afsocket-source.c#L679), we explicitly set the queue method to NULL, which will then f

[2014-08-05 10:40] #186 closed, assigned to nobody

[2014-08-06 12:25] zstyblik opened #189 "heartbeat support for AMQP"
Please,

either enable or make configurable heartbeat in mod AMQP. This should be configurable and/or enabled.

https://github.com/balabit/syslog-ng-3.5/blob/master/modules/afamqp/afamqp.c#L334
https://github.com/omniti-labs/Net--RabbitMQ/blob/master/amqp.h#L234

Thank you.

[Edited by @Kokan]

As `rabbitmq` already supports heartbeat, from syslog-ng side it only has to make it configurable. For d

[2014-08-07 13:56] #109 closed, assigned to nobody

[2014-08-07 14:00] algernon opened #190 "libsyslog-ng versioning"
Currently, we set the soname of the library to `libsyslog-ng-$VERSION`, which means that third party modules will have a tight dependency on the syslog-ng version, even if the library does not change incompatibly between bugfix releases.

To remedy the issue, I would suggest using a soname like `libsyslog-ng-${MAJOR_VERSION}-${ABI_LEVEL}`, where we bump ABI level each time the library changes inco

[2014-08-08 12:47] zstyblik opened #192 "reloading configuration leads to duplicating messages when tailing a file"
Hello,

I've noticed this because another issue we were having with mod AMQP and configuration of mod in question had to be changed. Now, what happened.
I've changed AMQP configuration, issued `service syslog-ng reload`, but it seemed like configuration didn't take place. Moreover, messages got duplicated - one with old configuration applied and one with new applied. Message duplication was happen

[2014-08-08 21:35] dragetd opened #193 "Allow disabling of table-creation and validation for SQL destinations"
In a setup where you log into some database, the most secure configuration would be a database-server allowing only to 'INSERT' entries, but not DELETE, UPDATE or DROP entries. But for additional security, an attack who managed to compromise the SQL login creds, should also not be able to read (SELECT) the past log entries.

PostgreSQL allows setting permissions only for INSERT and not SELECT.
Ass

[2014-08-10 17:13] #193 closed, assigned to nobody

[2014-08-11 13:01] #190 closed, assigned to nobody

[2014-08-11 21:07] czanik opened #194 "make check fails on i386"
Tested on Fedora: "make check" fails on i386. Full build logs are available at http://copr.fedoraproject.org/coprs/czanik/syslog-ng36/build/25502/

Relevant detail:
[...]
DEBUG: PASS: modules/affile/tests/test_affile_open_file
DEBUG: PASS: modules/csvparser/tests/test_csvparser
DEBUG: PASS: modules/linux-kmsg-format/tests/test_linux_format_kmsg
DEBUG: FAIL: modules/basicfuncs/tests/test_basicfuncs

[2014-08-12 13:07] #194 closed, assigned to nobody

[2014-08-12 13:15] #132 closed, assigned to nobody

[2014-08-13 15:03] faxm0dem opened #197 "Enhancement: afsmtp: make to() templateable"
I'd like to make the to() parameter of smtp to be dynamic, by feeding it a macro.
In the same manner as subject() and body()

[2014-08-13 17:39] tykling opened #199 "syslog6 driver: ipv6 support for ietf/"syslog" driver"
At the moment it is not possible to specify an ipv6 address in an ietf/syslog listener. There should be a "syslog6" driver like there is a "tcp6" driver.

[2014-08-14 09:44] #142 closed, assigned to nobody

[2014-08-14 11:10] #199 closed, assigned to nobody

[2014-08-14 11:38] #62 closed, assigned to nobody

[2014-08-14 13:17] #178 closed, assigned to algernon

[2014-08-14 13:26] algernon opened #201 "LogThrDestDriver: Centralize message accept / drop"
For most drivers, accepting or dropping a message is exactly the same, so there is a fair amount of code duplication in various drivers.  We should change how `->worker.insert` functions. Instead of returning a boolean, it should return a state, and we'd act on that.

We have the following states:
- All is well, message sent.
- Error while sending the message, but retry limit not reached yet.
- Er

[2014-08-14 13:29] algernon opened #202 "mongodb: retries() and failure"
There's an issue with how `retries()` are implemented for MongoDB: if we fail to insert a message, we do the retry dance properly, but both on initial failure and after reaching the limit, we return FALSE, which will suspend the driver for `time_reopen()` time.

We should only suspend it upon real errors, not when we're explicitly dropping the message ourselves due to "normal" operation.

This sho

[2014-08-14 15:01] mitzkia opened #203 "SIGSEGV when trying to revert to old config"
1. Start syslog-ng with the following valid config:

2. Replace the config with the following invalid config:

3. send infinite reload to syslog-ng: `while true ; do kill -1 [syslog-ng pid] ; done`

backtrace:

[code]

[code]

[2014-08-15 11:16] #180 closed, assigned to nobody

[2014-08-15 11:51] algernon opened #205 "Add a CONTRIBUTORS.md file"
See [this blog post](https://github.com/blog/1184-contributing-guidelines) for details about this file. It should explain bug reporting best practices, feature requests, our workflow, pull requests, and so on.

[2014-08-15 20:09] coulas opened #206 "Writing a null character at the end of TCP payload"
I need to send a null character at the end of a message on a tcp output...
But this null is considered to be an end of string.

My use case is sending a GELF message to a graylog's tcp input.
GELF message is a json syntax quite simple to comply with thanks to format-json.
Graylog needs a null character at the end of a GELF message in TCP but not in UDP.

I tried many combination in the template wi

[2014-08-18 01:36] soxwell opened #213 "3.5 branch doesn't compile on Solaris 10"
Hi,

I'm seeing an issue compiling syslog-ng 3.5.6 on Solaris 10, with a missing getline function:

Undefined                       first referenced
 symbol                             in file
getline                             ./lib/.libs/libsyslog-ng.so

Where getline is called in lib/filter/filter-in-list.c:

  CC       lib/filter/lib_libsyslog_ng_la-filter-in-list.lo
lib/filter/filter-in-list

[2014-08-18 11:33] #59 closed, assigned to algernon

[2014-08-18 11:34] #174 closed, assigned to nobody

[2014-08-18 12:43] #201 closed, assigned to algernon

[2014-08-18 12:43] #202 closed, assigned to algernon

[2014-08-18 13:57] #205 closed, assigned to nobody

[2014-08-19 13:36] faxm0dem opened #218 "Discussion: §2.5.2 "A note on timezones and timestamps""
From the documentation, it is not clear how date macros are affected by timezones.
There should be a way to control the timezone, and here's the proposal:

* Implement a global option for controlling the output, e.g. `template-timezone`
* Modify all date related macros to honor that option
* Or alternatively, provide a timezone function that will convert dates

At the time of writing, what motivat

[2014-08-19 14:44] faxm0dem opened #219 "docbugs: Specifying data types in value-pairs"
According to paragraph 2.10.1. **"Specifying data types in value-pairs"**:  *"exclude(): Space-separated list of macros to remove from the selection created using the scope() option."*

However, the following:
[code]
results in a parse failure:
[code]

And `exclude("PROGRAM FILE_NAME")` does not as intended

Moreover, globs seem to be very limited: none of the following work:

* `[ab]` mentioned i

[2014-08-20 13:00] faxm0dem opened #221 "Segfault in perl plugin"
I have a weird issue with my perl plugin. Not pasting all the details yet on purpose: putting this here as a reminder.
Anyway, this runs fine when `syslog-ng` is run in the foreground using `-F` switch, but segfaults in the background:

[code]

[2014-08-20 13:11] #221 closed, assigned to nobody

[2014-08-22 16:40] erempel opened #225 "program source does not maintain the $FULLHOST from the incomming message"
messages read from a program source do not parse the HOST correctly

source s_prog { program("/bin/myprogram" flags(no-parse) ); };

results in a syslog message in the file as

2014-08-22T09:17:54-07:00 s_prog@myhost user.notice <030>2014-08-22T09:14:01 disk2.comp.uvic.ca myprogram: some arbitrary test

but with
source s_prog { program("/bin/myprogram"); };

the log file contains
2014-08-22T09:17:

[2014-08-25 12:18] faxm0dem opened #226 "Enhancement: Riemann: add tags() from ${TAGS}"
I was thinking of a way to have all events tagged naturally using their `${TAGS}` macro, but the following doesn't obviously do as intended:

[code]

How could this be done in a sane way?

[2014-08-26 09:05] algernon opened #227 "mark-mode() for LogThrDestDriver"
We should implement `mark-mode()` for LogThrDestDriver. See balabit/syslog-ng-incubator#83 for a reason why.

[2014-08-26 11:19] faxm0dem opened #228 "GeoIP: segfault when threaded(yes)"
The `geoip` template function segfaults when `threaded(yes)`. Here's the backtrace:

[code]

Maybe this [link](http://stackoverflow.com/questions/8388698/is-maxminds-geoip-c-implementation-thread-safe) can be of some help

[2014-08-27 08:35] #228 closed, assigned to nobody

[2014-08-27 08:36] #185 closed, assigned to nobody

[2014-08-27 15:37] #225 closed, assigned to nobody

[2014-08-28 10:00] #213 closed, assigned to nobody

[2014-09-01 12:18] zstyblik opened #240 "beware - AMQP module may and possibly will cause issues"
Lots and lots of fun for Monday morning. Outage accross the whole fleet thanks to AMQP module. If by any chance you're running syslog-ng + AMQP over unreliable links, this might bite you big. It seems like AMQP in syslog-ng got suck for who-knows why and everything else grinded to halt. We were unable to recover any information(sorry), because we were busy with recovering out fleet.

Some thoughts

[2014-09-02 05:35] andrejzverev opened #241 "[3.6.a3] - Error parsing filter expression, unknown matcher flag"
With following config i got error: Error parsing filter expression, unknown matcher flag.
Same config work with 3.5

[code]

[2014-09-02 05:38] andrejzverev opened #242 "[3.5.6] ERROR:lib/logmsg.c:535:void log_msg_set_value_indirect"
With following config and version 3.5.6 I got following crash:
ERROR:lib/logmsg.c:535:void log_msg_set_value_indirect(LogMessage *, NVHandle, NVHandle, guint8, guint16, guint16): assertion failed: (!log_msg_is_write_protected(self))

[code]

[2014-09-02 09:49] algernon opened #244 "json parser vs system()"
There's a slight problem with using the JSON parser in `system()`: if it does not match, the message gets dropped. This is because `json_parser_process()` returns `FALSE` if the marker is not present, and then `log_parser_queue()` will drop the message.

If I remember correctly - and @bazsi, please correct me if I'm wrong -, then if no marker is present, the JSON parser should return `TRUE` and do

[2014-09-02 10:45] #241 closed, assigned to nobody

[2014-09-02 12:48] #244 closed, assigned to nobody

[2014-09-04 09:21] algernon opened #247 "automatic make dist & upload on tagging"
When tagging a release, we should ask Travis to do a `make dist` too, and attach the resulting tarball to the release notes on GitHub (via API, if it is possible). If attaching is not possible or too cumbersome, `make dist` should be run nevertheless.

[2014-09-04 12:19] czanik opened #248 "parallel build does not wokr with 3.6beta1"
Parallel build (make -j4) does not work. Here is a log of a failure: https://kojipkgs.fedoraproject.org//work/tasks/2237/7522237/build.log Compiling without SMP optimizations worked.

[2014-09-04 13:27] czanik opened #249 "syslog-ng 3.6beta1 does not compile on FreeBSD 8.4"
syslog-ng 3.6beta1 does not compile on FreeBSD 8.4:

  CC       lib/stats/lib_libsyslog_ng_la-stats-syslog.lo
  CC       lib/control/lib_libsyslog_ng_la-control.lo
  CC       lib/control/lib_libsyslog_ng_la-control-server.lo
lib/control/control-server.c: In function 'control_connection_io_input':
lib/control/control-server.c:138: warning: implicit declaration of function 'strchr'
lib/control/contr

[2014-09-05 10:08] #248 closed, assigned to nobody

[2014-09-05 10:33] #249 closed, assigned to nobody

[2014-09-08 08:50] #242 closed, assigned to nobody

[2014-09-08 10:52] lojha opened #253 "syslog-ng frequent restart on solaris opteron"
Hello,

We have build syslog-ng 3.4.8 from source on Solaris opteron but when trying to run the syslog-ng daemon it is restarting very frequently. Any help would be highly appreciated.

# ./syslog-ng.d start
syslog-ng service starting.
# ps -ef | grep -i syslog
    root  2458  2456  20 10:55:04 ?           0:05 /opt/soe/local/syslog_ng/sbin/syslog-ng -f /opt/soe/local/syslog_ng/etc/syslog-
    roo

[2014-09-08 13:45] pasztor opened #254 "detecting if inside an lxc"
It would be great, if syslog-ng 's system() source could detect on linux platforms if it is inside a guest.
When it's inside a guest, it should change it's default behavior, and leave out from it's defaults the file("/proc/kmsg" program-override("kernel") flags(kernel));
definition, because the multiple syslog which try to handle /proc/kmsg, creates a racecondition-like situation, and instead of k

[2014-09-11 10:33] #254 closed, assigned to nobody

[2014-09-12 11:05] faxm0dem opened #257 "riemann: additional default fields"
`host` and `service` are picked up automatically if not set.
It would be nice to do the same with `state`, `ttl`, `metric` etc.

Some proposals:

* `state` would pickup in this order `${state}`, `${LEVEL}` (or a clever projection thereof to ok,warning,critical)
* `metric` would pickup in this order `${metric}`, `${SEQNUM}`
* `ttl` would pickup in this order `${ttl}`, `$(context-timeout)` or 300 if

[2014-09-12 11:26] faxm0dem opened #258 "riemann: empty string metric results in casting error"
setting the metric (and presumably other options) to `""` results in a casting error:

[code]

when `${foo}` is empty, we get:

[code]

[2014-09-12 14:38] faxm0dem opened #260 "riemann: setting ttl field from macro fails"
The following works perfectly fine if `${ttl}` is empty/undefined:

[code]

However, when it is not, and contains a value, e.g. extracted from patterndb:

[code]

Then the event does get sent to riemann, but riemann throws:

[code]

The same happens if using `ttl(int("${ttl:-300}"))`.
When querying for the event in riemann, we get an exception (which means the event _is_ in riemann, but somehow br

[2014-09-15 11:21] juhaszviktor opened #261 "create log_msg_set_value_by_name helper function"
There is a lot of occurrence of log_msg_get_value_handle and log_msg_set_value pair.

We should create a log_msg_set_value_by_name helper function.

[2014-09-18 11:25] pzoleex opened #265 "dns resolving from dns_cache_hosts does not work"
when I start syslog-ng with the config below, it does not start because it cannot resolve the hostname:
...
[2014-09-18T11:26:07.106996] Module loaded and initialized successfully; module='syslogformat'
[2014-09-18T11:26:07.114541] Error resolving hostname; host='server'
[2014-09-18T11:26:07.114741] Error initializing message pipeline;

however the given file contains the good hosts file format:
r

[2014-09-18 19:29] zstyblik opened #266 "should it be possible to tail one file more than once?"
Hello,

say, I have following configuration:
[code]

and as you can see the very same file is being tailed twice by syslog-ng. My worry is - wouldn't this confuse or even rock syslog-ng? Or even lead to something like this:

[code]

I'm asking, because I have entered such configuration and syslog-ng 3.5 obeyed.

Now, as I'm not familiar with internals, some presumptions based on which I wouldn't b

[2014-09-19 11:25] talien opened #268 "graphite-output unit tests"
The graphite-output template function needs some unit tests.

[2014-09-24 10:49] czanik opened #271 "UNIX credentials info on FreeBSD"
On Linux, the following configuration snippet correctly extracts UNIX credentials when uning a socket source:

destination d_bla { file("/var/log/bla" template("pid: ${.unix.pid}, uid: ${.unix.uid}, gid: ${.unix.gid}, exe: ${.unix.exe}, cmdline: ${.unix.cmdline}, massage: ${MESSAGE}\n\n")); };
log { source(src); destination(d_bla); };

On the other hand, it does not seem to work on FreeBSD, where

[2014-09-25 12:39] #261 closed, assigned to juhaszviktor

[2014-09-30 11:27] czanik opened #272 "syslog-ng stats as value pairs"
There are now multiple outputs which forward value pairs and enable administrators to create graphs, collect statistics or send alerts from these value pairs (graphite, redis, riemann, etc.). Many different statistics are collected by syslog-ng, but right now these are presented in a way, which can't be easily forwarded to these systems.
Statistics should be available as value pairs, making it eas

[2014-10-03 08:55] faxm0dem opened #273 "spinlock on 3.6 when using unix-stream ("/dev/log")"
My cpu is spinning at 100% when using an input source with `unix-stream ("/dev/log")`.
Removing the source makes the problem go away

[2014-10-03 12:18] blint opened #274 "change program destination mark-mode default to none"
From @version 3.5 on, the default for the mark-mode of the program destination is to use the global setting, so the program destination will emit a MARK message every mark-freq interval. This is not desirable in my use-case, as I use the program destination to send out emails. I have a gut feeling that most users will do something similar with their program destinations, so please consider changin

[2014-10-06 10:23] faxm0dem opened #275 "Enhancement: DNS template function"
It would be tremendously useful to have a template function to resolve/reverse IPs/hostnames

[2014-10-06 13:50] faxm0dem opened #276 "Bug: syntax check breaks Unix socket on running instance"
When running `syslog-ng -s` while there is another running instance, the control socket is broken:

[code]

This is a serious limitation, as many init scripts or equivalent check syntax before reloading.
Also, this bug was not present in 3.5.x

[2014-10-09 11:12] #102 closed, assigned to nobody

[2014-10-09 11:16] #258 closed, assigned to nobody

[2014-10-10 11:10] faxm0dem opened #281 "loggen: --loop-reading broken?"
This option seems to be a noop

[2014-10-10 16:01] #260 closed, assigned to nobody

[2014-10-13 09:04] #146 closed, assigned to nobody

[2014-10-13 10:44] #276 closed, assigned to nobody

[2014-10-15 10:44] faxm0dem opened #283 "3.6.0rc2 tarball is missing riemann grammar files"
[code]

[2014-10-17 07:29] faxm0dem opened #284 "Enhancement: riemann destination: support for batching / pipelining"
See https://github.com/algernon/riemann-c-client/issues/4

[2014-10-21 14:26] #283 closed, assigned to nobody

[2014-10-30 17:32] eduda opened #286 "Feature Request: Syslog-ng TLS support for Encrypted Keys"
Add a feature to syslog-ng tls so that you can use encrypted keys and not be prompted.

Example from Apache HTTPD mod_ssl:
SSLPassPhraseDialog exec:/opt/catool/bin/passphrasemanager

[2014-10-31 08:02] algernon opened #287 "scratch buffers vs the OOM killer"
We discovered a "little" problem with scratch buffers (or at least, my very strong suspicion is that it is the scratch buffers): its purpose is to cache string buffers, keep them around forever and reuse buffers. But there's a problem with this! If you have a HUGE incoming spike, SB will eat the memory _very_ fast, because it is never freed, even after the spike goes down. Next time there's a burs

[2014-10-31 08:12] algernon opened #288 "queue statistics for threaded destinations"
It would be nice to have statistics about the current size of the various queues (like `stored` is for disk buffer?). I faintly remember we have this somewhere, but I can't see it exposed in `syslog-ng-ctl stats`. Am I missing something?

[2014-10-31 08:13] #281 closed, assigned to nobody

[2014-11-03 15:34] faxm0dem opened #290 "json-parser triggers segfault"
I'll come up with a trivial test case ASAP, but if someone sees something obvious from this trace, please step forward:

[code]

[2014-11-06 12:09] faxm0dem opened #294 "add filename based sorting to pdbtool merge in a similar vein to what run-parts does"
https://bugzilla.balabit.com/show_bug.cgi?id=211

This issue is still open and IMHO very important.
The use case I have is when merging a `pam_unix` ruleset which matches `PROGRAM==sshd` and an `openssh` ruleset matching `PROGRAM==sshd` there are unpredictable results unless both rulesets are in the same file.

[2014-11-12 09:23] algernon opened #298 "Fails to build on hurd-i386 and GNU/kFreeBSD"
Previous versions of syslog-ng built fine on the Hurd and GNU/kFreeBSD, 3.6.1 (and later) do not, due to the credential stuff in afsocket:

[code]

Full build log available [here (for hurd)](https://buildd.debian.org/status/fetch.php?pkg=syslog-ng&arch=hurd-i386&ver=3.6.1-1&stamp=1415742821). and [here (for kfreebsd)](https://buildd.debian.org/status/fetch.php?pkg=syslog-ng&arch=kfreebsd-amd64&ver

[2014-11-14 15:13] #290 closed, assigned to nobody

[2014-11-17 09:21] algernon opened #299 "libsystemd-{daemon,journal} => libsystemd"
Recentish systemd versions have deprecated the old libsystemd-daemon, libsystemd-journal, etc libraries, and moved to a monolithic libsystemd. While for compatibility, the old names are still provided, they're going away at some point. It would be nice if syslog-ng's configure would be able to detect libsystemd, and use that instead of libsystemd-{daemon,journal} if present (but fall back to the o

[2014-11-18 08:59] #192 closed, assigned to nobody

[2014-11-19 19:33] jasperla opened #304 "Wrong year (random value) for logs directory"
In `syslog-ng.conf` I have:

[code]

And the logs are correctly received from syslog, however the location is incorrect:

[code]

Tracing the flow into `syslog-format.c:log_msg_parse_date()` there is:

[code]

inspecting `&now.tv_sec` shows a correct value

[code]

Then it goes on to finding the right format and ends up here:

[code]

because the lines come is as:

[code]

Then we hit this call:

[2014-11-20 10:47] rickynils opened #306 "SEQNUM is not persisted for riemann destination"
I have a simple syslog-ng setup that picks up logs from journald and sends them to a riemann server. My configuration looks roughly like this:

[code]

When I restart syslog-ng, the `SEQNUM` send to my riemann server starts over from 1. As I understand it, it should be persistent across restarts. Running `strings` on the persist file gives me no clue:

[code]

[2014-11-20 17:53] snmorrison opened #307 "no-multi-line with the tcp() driver"
Reviewing old bug 215 - https://bugzilla.balabit.com/show_bug.cgi?id=215 - it looked like the tcp() driver might be updated to allow multi-line in version 3.5.

The admin guide for 3.5 says that the tcp() driver still does not support multi-line messages.  Did I misunderstand the comments in bug 215?  Are there any plans to include multi-line support for the tcp() driver?

[2014-11-21 08:22] #304 closed, assigned to nobody

[2014-11-21 11:54] algernon opened #308 "unix-stream() source FD + mem leak?"
Reported in Debian bug [#727649](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=727649), there's a problem when using `unix-stream()` sources, by the looks of it. Using 3.6.1, and the following config, the problem is reproducible:

[code]

(The script to trigger this has also been modified to use `/tmp/fakedev-log`.)

What I see is that memory use slowly grows, and an increasing number of `/tmp

[2014-11-21 14:26] #307 closed, assigned to nobody

[2014-11-26 10:44] algernon opened #314 "systemd-journal() source vs syslog forwarding"
With syslog-ng 3.6, the default for the `system()` source is to use the `systemd-journal()` source when running under systemd. This works beautifully, except for one thing:

[code]

If syslog forwarding is enabled (on Debian, it is by default), then the Journal expects something to read from `/run/systemd/journal/syslog`, and will spam the log with messages like the one above if there's no reader.

[2014-11-27 10:55] #314 closed, assigned to nobody

[2014-12-01 09:15] czanik opened #317 "3.7 alpha1 does not compile on earlier FreeBSD releases"
syslog-ng 3.7 alpha1 compiles fine on FreeBSD 10.1 (the latest release), but fails to compile on earlier releases. Originally reported by Cy (FreeBSD ports maintainer) on FreeBSD 8.4 and 9.1. Reproduced here on FreeBSD 9.2:

root@fb92:/usr/ports/sysutils/syslog-ng-devel # make
===>  Building for syslog-ng-devel-3.7.0a1
gmake --no-print-directory all-recursive
  CC       lib/lib_libsyslog_ng_la-log

[2014-12-01 09:55] algernon opened #318 "Fails to start if destination host unreachable"
Reported by one of the Debian admins, syslog-ng 3.5.6 fails to start if a TLS destination is unreachable at the time syslog-ng is started during boot. This is very unfortunate, because this makes the whole system unbootable without manual intervention.

The desired behaviour would be suspending the destination until `time-reopen()` or somesuch. As far as I remember, something similar was attempted

[2014-12-01 10:05] algernon opened #319 "An idea to ease startup debugging"
Right now, it isn't exactly trivial to debug syslog-ng startup problems, when trying to use an init script or systemd unit file. We either get very little details, or enable debugging, and then we get way too much. It would be very nice to have an option to enable debugging only during startup, and fall back to the normal logging levels once READY=1 is reached.

This would be a terrific aid in deb

[2014-12-02 08:51] deirf opened #323 "netmask filter with ipv6 protocol"
Netmask6 filter porting from PE

[2014-12-04 08:57] czanik opened #329 "silence two annoying startup messages"
I got multiple reports, that two recently introduced startup messages make more harm than use, as they show up on just about every startup:

[2014-12-04T09:25:02.405290] system(): json-parser() is missing, skipping the automatic JSON parsing of messages submitted via syslog(3), Please install the json module;
[2014-12-04T09:25:02.417562] Unable to detect fully qualified hostname for localhost, use

[2014-12-05 14:40] faxm0dem opened #331 "Rethink drop error messages"
I think 14cf3f11 wil cause more problems than it solves. Here's why I think that:
1. Most users have `internal()` and `system()` in the same logpaths
2. When a destination is completely dead (_e.g._ a `pipe()`) obviously the queue will stay full, and we'll get a gazillion error messages

The combination of these two assertions means that something unpredictable and usually destructive happens:
1.

[2014-12-06 12:28] #298 closed, assigned to nobody

[2014-12-08 11:39] #149 closed, assigned to nobody

[2014-12-08 23:05] junkb opened #339 "mistake in documentation - section 6.4?"
http://www.balabit.com/sites/default/files/documents/syslog-ng-ose-3.5-guides/en/syslog-ng-ose-v3.5-guide-admin/html/configuring-sources-network.html says:
"The network() destination driver can receive syslog messages conforming to RFC3164 from the network using the TCP, TLS, and UDP networking protocols."
should this say "source driver" rather than "destination driver"?

also - network doesn't ap

[2014-12-10 14:08] #339 closed, assigned to nobody

[2014-12-10 14:11] #329 closed, assigned to nobody

[2014-12-10 14:14] #323 closed, assigned to nobody

[2014-12-10 14:28] #150 closed, assigned to nobody

[2014-12-11 09:42] catharsis opened #344 "Add support for source level encoding-modes"
Proposal. Cut-n-pasted from the parts of @bazsi's comments in the discussion on #312 that deal with what we desire on a functional level from this type of change. See that discussion for more info and added context.

1) encoding-mode()

Mode can be one of four options:

[code]

Probably change the default here to utf8-with-fallback either this version or the next one after introducing these option

[2014-12-11 10:46] #299 closed, assigned to nobody

[2014-12-11 11:35] #306 closed, assigned to nobody

[2014-12-16 10:09] czanik opened #352 "make check false positive"
https://github.com/balabit/syslog-ng/commit/98e0be70666939c6a81cb781a5b843544b94c10a changed which field to use from the journal, but the test case was not updated:

make --no-print-directory all-recursive
========================
   : ./test-suite.log
========================

# TOTAL: 62
# PASS:  61
# SKIP:  0
# XFAIL: 0
# FAIL:  1
# XPASS: 0
# ERROR: 0

.. contents:: :depth: 2

FAIL: modules/sy

[2014-12-16 10:34] czanik opened #353 "make UNIX credential collection opt-in"
Collecting UNIX credential information from sockets in high traffic environments can be resource intensive. Make this feature opt-in with global and per source configuration possibilities.

[2014-12-16 21:29] algernon opened #355 "3.6 fails to build on the Hurd"
3.6 as of commit 4d90138 fails the test suite on Hurd, with the following message:

[code]

Full build log available [here](https://buildd.debian.org/status/fetch.php?pkg=syslog-ng&arch=hurd-i386&ver=3.6.1%2Bgit20141206-g4d90138-4&stamp=1418654631).

I will be retrying with 3.6.2 (or latest 3.6/master, if different) in a couple of days, to see if the problem has been accidentally fixed since the l

[2014-12-17 20:01] faxm0dem opened #356 "enhancement: example messages"
@bazsi 's ml post on the config debugger gave me an idea: wouldn't it be great to have a similar "example message" mechanism as in patterndb?
The idea is to embed test messages into the config, with information such as through which log paths they ought to flow through. Then a `syslog-ng-tool test` would process all messages and verify they're flowing through the parsers and outputs they're suppos

[2014-12-18 09:15] kokoko3k opened #357 "syslog-ng 3.6.1 and journald without journal files."
Since 3.6.1, the system() sources expands in a way that it pulls journal files from journald if systemd is detected on linux systems.
This means that if one has "Storage=none" in /etc/systemd/journald.conf, no system messages could be logged.
I don't know if i can call this a regression, but what worked in the past, doesn't work now.
Workaround is to replace the system() source with unix-dgram("/d

[2015-01-03 17:07] veita opened #360 "syslog-ng produces binary log files"
During startup, in the second line, syslog-ng writes binary data to the log file.  Some tools refuse to examine such logs properly.

Jan  3 09:04:36 tin syslog-ng[2030]: syslog-ng starting up; version='3.4.8'
Jan  3 09:04:36 ^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^@^

[2015-01-05 10:26] bazsi commented on #360
This was a bug in the /dev/kmsg driver if I recall.

Please upgrade to a newer syslog-ng version.

--
Bazsi

On Sat, Jan 3, 2015 at 6:07 PM, veita <notifications@github.com> wrote:

[2015-01-07 11:55] mitzkia commented on #197
Hi Fabien,

Could you please give us a usecase for this?
From our view the smtp destination is for alerting, our usecase is: sending infrequent, but critical alert notices when you know the exact username.

[2015-01-07 12:26] faxm0dem commented on #197
I have patterndb correlation actions which feed email destinations. One correlation should alert team1, while another should alert team2. I'd like the patterndb to drive the destination *e.g.* by adding a value `email_destination=teamX@my.tld` which would be passed to one unique email destination. Right now I have to create one email destination per team and route the right message to the right de

[2015-01-07 15:14] mitzkia commented on #352
@czanik Could you check the fix?

[2015-01-07 15:55] czanik commented on #352
Ran "make dist" and rebuilt from the tgz in the same build environment. It works:

PASS: modules/systemd-journal/tests/test_systemd_journal

[2015-01-07 15:55] #352 closed

[2015-01-08 08:50] lbudai opened #361 "mongodb: moving to official C mongo client library"
https://github.com/mongodb/mongo-c-driver

(as algernon said, problems that leads to creating an alternative libmongo-client are not exist anymore)

[2015-01-08 09:13] faxm0dem opened #362 "loggen timezone ietf"
It seems to me `loggen` is incorrectly sending CEST instead of CET when using `--syslog-proto` (as of the time of writing 2015-01-08 in Villeurbanne, France).:

#### RFC3164
[code]

#### RFC5424
[code]

As you can see in the second call, the date being sent has incorrect timezone `+02:00`

[2015-01-08 09:25] bazsi commented on #362
loggen uses a fixed timezone value there. it's always +02:00

this should probably be fixed though as it can be misleading.

--
Bazsi

On Thu, Jan 8, 2015 at 10:13 AM, Fabien Wernli <notifications@github.com>
wrote:

[2015-01-08 11:04] mitzkia commented on #357
Hello,
As I see:
You are using systemd service manager with disabled journald (storage=none in configuration), which is not a default usage of journald. And with the default syslog-ng configuration (which is using systemd-journal() source), (or maybe modified) you want to pulling system messages.

In syslog-ng configuration systemd-journal() source refers to using journald with the default configu

[2015-01-08 11:07] algernon commented on #361
+1

libmongo-client used to be good, but it bit-rotted, and the official driver is stable now, and is in a much better shape than libmongo-client.

[2015-01-08 11:48] kokoko3k commented on #357
You are completely right, and i already knew what you just said.
In the first post, I was just saying that before 3.6.1 syslog-ng played well with systemd regardless of systemd-journald configuration.
After 3.6.1, syslog-ng requires users to manually edit syslog-ng configuration if they were not using journal files at all; we know why it happens.
I'm incline to call this a regression from the user

[2015-01-08 14:46] mitzkia commented on #308
I tested the latest 3.6 (which included the fix) for the mem leak and can not reproduce it. The fix is ok.
But I can not reproduce the mem leak in the latest 3.5 (with the same steps).
Can we close this issue for 3.6? Or we should be kept it open because of backporting?

[2015-01-09 12:21] faxm0dem commented on #219
I have no preference, please choose your workflow preference freely

[2015-01-09 13:33] mitzkia commented on #218
As we discussed with @fekete-robert we want to make clearer the related documentation chapters about the timezone, timestamp options. So this is issue is still valid.

[2015-01-09 15:06] faxm0dem commented on #218
awesome, thanks

[2015-01-12 13:36] czanik commented on #272
As a first step, JSON formatted output for syslog-ng-ctl will be implemented.

[2015-01-12 14:24] mitzkia commented on #197
We discussed it.
We will implement the templetable to(), bcc() and cc() options.
And what do you think about the templetable from() option?

[2015-01-12 15:35] ihrwein commented on #168
What do you think about `flags(string-delimiter)`? It wouldn't introduce an other member variable in LogCSVParser and the code would be more consistent.

[2015-01-12 15:36] juhaszviktor commented on #168
:+1: for string-delimiter flag

[2015-01-12 15:38] algernon commented on #168
I'm not a great fan of flags, to be honest. It means I have to keep an eye on two settings, and makes it harder to write blocks or other kinds of DSL.

[2015-01-12 16:19] faxm0dem commented on #197
that's awesome, thanks!
I don't have the usage for `from()`, but I guess it would be more consistent to have it accept templates too

[2015-01-12 16:21] algernon commented on #197
It could be used like `from("$HOST <hostmasters@example.com>")`, to give a visual indication where the message is coming from. Frees up a little space in `Subject`, if you'd put such info there. Also better than a custom header, because it is visible in most clients by default (whereas `X-Origin` or the like, are not, even if they're usable for filtering).

[2015-01-13 08:21] faxm0dem commented on #197
:+1:

[2015-01-14 14:08] #284 closed

[2015-01-15 12:42] faxm0dem opened #365 "Question: behaviour of patterndb correlation timeout+condition"
Trying to troubleshoot an odd behaviour, I realized that my understanding of timeout based actions was unclear. What would the expected behaviour of the following be?:
[code]
In my understanding, I would expect the action to be triggered after the timeout but only if the context length is above the threshold 100.

[2015-01-15 14:34] ihrwein commented on #168
A third option won: `string-delimiters(":,", "//")`. You can use this and `delimiters()` simultaneously, the former has the precedence.

I have a little ugly, but working version here: https://github.com/ihrwein/syslog-ng/tree/f/csv-string-delimeter
According to the test cases it does it's job, but I'm working on refactoring the whole code.

[2015-01-16 07:14] algernon commented on #168
Well, that has the same problem as the string-delimiter flag: making it harder to write anything on top of it. But since I won't be using the functionality, it doesn't matter for me. Just wanted to highlight that using a new option instead of  the flag doesn't change much from a DSL point of view.

[2015-01-16 08:37] lbudai commented on #168
@algernon: thank you for your notes (Having more opinions before implementing a feature is a good thing, IMHO. )

As I see your idea,  the optimal solution would be if user could set delimiters as:
`delimiters(chars(",;:"), string("xx"))` . But -as you already mentioned- we have to deal with backward compatibility. So backward compatibility breaks the optimal solution, in that situation, from my p

[2015-01-16 08:59] faxm0dem commented on #168
both would work for me, whatever's easiest to implement/maintain

[2015-01-16 09:06] lbudai commented on #168
Ok, we prefer solution b) .

Thanks!

[2015-01-16 09:49] algernon commented on #168
My optimal solution would be `delimiters(",;:")` working as before, internally perhaps being an alternative to `delimiters(chars(",;:"))`. And only `delimiters(string(",;:"))` would be new.

The grammar rules for this aren't all that bad:

[code]

and then:

[code]

Voila. All syntax within `delimiters()`, backward compatibility still preserved.

[2015-01-16 10:11] lbudai opened #366 "syslog-ng debug bundle generator : find a better place"
Debug bundle generator script could help a lot in OSE support, etc...

[2015-01-19 10:26] faxm0dem opened #369 "Enhancement: patterndb should allow for subsecond context-timeout"
We have high traffic for a specific rule which we want to spawn an action on.
However, it is not possible to set a subsecond `context-timeout`, therefore the memory usage of the server grows indefinitely.

Would it be acceptable to change the datatype of this value to `float` or `double`, or is there a workaround you could think of?

[2015-01-19 11:47] faxm0dem commented on #369
Thinking this through, maybe it would be a better idea to add a `context-max-size` parameter?

[2015-01-20 11:09] lbudai commented on #168
@algernon: finally, your suggestion was chosen :-)

[2015-01-20 15:45] ihrwein commented on #357
systemd and journald forced a way of handling logs to syslog daemons: we couldn't open /dev/log directly because it's the property of journald itself [1]. The strange thing is, that opening that file worked but is was supposed not to work. We implemented the `systemd-syslog()` source, to receive the logs from journald. According to the systemd developers it was the preferred way to handling logs b

[2015-01-20 21:19] pmorch opened #372 "Allow special chars to be escaped again with template_escape(yes)"
This issue comes from a [rejected pull-request](https://github.com/balabit/syslog-ng/pull/367). See short discussion there. Here is the description of the issue.

Symptom: Using template() and template_escape(yes), then before the
introduction of this bug, the string "foo\nbar" would be escaped as
"foo\\012bar". After the introduction of this bug in
67bc063609b0d6ab45dff696d8e7c614300c6f40, it get

[2015-01-21 09:51] bazsi commented on #369
Hmmm, right now the correllation timers are managed with second
resolutions, not trivial to change that.

Max size would be easier, I just dont like the idea from a theoretical
point of view.

How much messages do you see on that rule? How much per context?
On Jan 19, 2015 12:47 PM, "Fabien Wernli" <notifications@github.com> wrote:

[2015-01-21 10:32] ihrwein commented on #318
I can confirm, that syslog-ng v3.5.6 is indeed affected, but I couldn't reproduce the bug with v3.6.

We can find and correct this bug but it would require a new Debian syslog-ng release (3.5.7). Since 3.6 isn't affected, we can use it directly to create unofficial packages that can be given to you. What do you think about it?

[2015-01-21 10:37] algernon commented on #318
I'd prefer a 3.5.7, or a fix on the 3.5 branch, with which I can patch the official Debian package. Since this would go on official Debian machines, it would need to be in Jessie, which will ship with 3.5.

[2015-01-21 16:14] faxm0dem commented on #369
I worked around this in my production environment by adding a primary key to `context-id`.
And to answer your question: in the original `context-id` I'm seeing 50EPS max per context, and 150EPS on average for the whole rule.

[2015-01-21 16:52] bazsi commented on #369
But if you could add something to your context-id, then you were merging
independent contexts, didn't you?

In that case the proper solution was to add that to context-id, and
artificially limiting the amount of messages in a context would be the
workaround. Am I missing something?

--
Bazsi

On Wed, Jan 21, 2015 at 5:14 PM, Fabien Wernli <notifications@github.com>
wrote:

[2015-01-21 21:13] faxm0dem commented on #369
Yes I'm splitting contexts. I don't like it but it's the only way not to trigger the oom-killer after a few hours

[2015-01-22 10:29] ihrwein commented on #318
I tried to reproduce this issue with a clean install dir, but it solved the problem. I found a very similar issue (maybe the same), at [1]. Could you upload to somewhere an strace log? I suspect there is a different version from libsyslog-ng.so somewhere in the linker path.

[1]  https://bugzilla.balabit.com/show_bug.cgi?id=226

[2015-01-22 11:21] algernon commented on #318
There definitely isn't any conflicting libsyslog-ng.so, the Debian dependencies make that impossible. The problem is different too: it's not related to `iv_tls_user_register` at all. It fails to start because syslog-ng fails to initialize the destination, and syslog-ng itself decides that it should quit. It's not a crash, but a fail-to-start scenario.

I don't have the resources to reproduce it at

[2015-01-22 12:03] ihrwein commented on #318
So, if syslog-ng cannot lookup the destination's domain name (because the DNS record doesn't exist) it fails to start? Or it cannot connect to the destination (because of firewalls, network outage, etc)?

[2015-01-22 14:58] algernon commented on #318
If it can't look it up, or if it can't connect, then it fails to start, correct. The desired behaviour would be to start, with the destination suspended, and retried after `time-reopen()`. Basically, the same behaviour that can be observed when a destination disconnects, should be applied to startup too.

[2015-01-26 08:58] faxm0dem commented on #369
anyway, what do you think would be best here?

[2015-01-26 11:32] faxm0dem opened #374 "program destination safegoat"
The two following conditions can have catastrophic consequences:
- definition of a program destination which is not executable (or other similar problems)
- definition of a program destination which does return immediately

The second item had the following consequence in production: server deadlock after a few hours of runtime. I _think_ there should be some safe-goat mechanism to disable the des

[2015-01-26 20:22] ihrwein commented on #168
@faxm0dem, could you check it too?

[2015-01-27 06:22] lbudai commented on #374
I agree :-)

( we were faced with the second problem last week... )

[2015-01-27 08:37] faxm0dem commented on #374
What I can think of to test before deactivating the destination:

* fail if `program` is not executable
* fail or warn & disable dest if `program` returns with RC != 0
* maybe set a default throttle (relatively high)

[2015-01-27 12:54] bazsi commented on #369
Hmm. I was under the impression that adding that value to context-id
actually made sense by separating contexts that were indeed separate
things. If it was a workaround, then I don't really know a good solution,
limiting the amount artificially seems to be a bad solution to me.

Maybe using a non-memory based backend would be useful in such cases, but
that would be _much_ slower.

Anyhow, if the l

[2015-01-27 17:23] mooinglemur opened #375 "syslog-ng 3.4.8 does not seem to properly bounds-check messages that exceed log_msg_size when using destination templates"
I haven't dug into the source code yet, but I've made an easy case for reproducing the issue.  Problem has been encountered on versions of 3.4 up to and including 3.4.8 on Gentoo Linux.

Assuming a roughly empty /var/log, create this config: /etc/syslog-ng/syslog-ng.conf
[code]

Start the daemon, then use this command to create a log line in excess of log_msg_size:

[code]

And the result will be

[2015-01-27 20:37] bazsi commented on #375
Hm.. It should be synced back at the end of line marker. The behaviour is intended and syslog-ng has worked this way basically always.

I always preferred to use the malformed data, instead of silently ignoring it.

[2015-01-27 20:38] bazsi commented on #375
We could probably improve behaviour though. Maybe reusing the same header would be a better solution.

[2015-01-27 21:15] mooinglemur commented on #375
I guess I was mistaken about it always getting out of sync.  But it does certainly happen.   I'm not sure why yet.  I'll see if I can provide a test case for that.

If I happen to have something that looks like a PRI value in the right spot on the line, I can make fake log entries go where they're not supposed to go.  At best this can lead to confusion, at worst, it could have serious security ram

[2015-01-28 05:29] bazsi commented on #375
Well, syslog is inherently trusting its peers, and you could inject the
message even as the first one, what's the difference?
On Jan 27, 2015 10:15 PM, "mooinglemur" <notifications@github.com> wrote:

[2015-01-28 08:25] faxm0dem commented on #369
My gut tells me you will be able to find a solution to my particular problem, which I failed to describe in the first place (sorry about that), so here it is:

I've got a context which is defined by two primary keys. Let's call them `${uid}` and `${path}`. Now, I want to trigger an alert when there are more than `max_msg` messages per `interval` time window.
So what I did was setup `context-id="my

[2015-01-28 08:58] bazsi commented on #369
In fact, you don't really need the content of messages in the correllation
context, right? It is just a stateful rate limit that works even if the
messages do not follow each other. Am I right to assume that suppress() is
not good enough, as it only works if messages are subsequent to each other?
And, suppress doesn't allow the specification of a new message, it just
spews the same template every

[2015-01-28 10:03] faxm0dem commented on #369
yes, you are entirely correct.

[2015-01-28 19:59] mooinglemur commented on #375
Sorry, I wasn't referring to the client of syslog-ng being remote and untrusted.  I was referring to a client such of a client, such as a remote HTTP user agent being a client of a daemon such as Pound, where Pound is the otherwise trusted client of syslog-ng.  Pound could be tricked into logging something that would end up in the wrong facility/priority (the "Confused Deputy Problem").

Unfortuna

[2015-01-29 05:53] bazsi commented on #375
Thanks for the detailed explanation, I haven't thought about the use case
where a client just forwards messages without validation. Normally logs
follow a pretty strict format.

So I am more or less convinced.

I am not sure about the exact solution and how difficult it'd be to
implement truncation and/or prefixing extra data with an artificial header.

And/or whether we should make it an option o

[2015-02-04 11:36] gregory094 commented on #173
I'm currently working on the solution of creating Brew Formula and updating MacPorts port file in order to make syslog-ng easy to install on MacOSX.  I'll post the commit ID-s of my collaboration to pkgs here.

[2015-02-05 10:03] faxm0dem commented on #365
In practice, I have the impression the context-length is not very reliable: on high traffic rules, I see matches that exceed a length of 100, even though the condition is to trigger only if > 100

[2015-02-05 11:09] faxm0dem commented on #287
Sorry to try and draw your attention on this, but this has become worse in my environment. I'm not 100% sure if this is the explanation but my current production server is running out of memory every two days. Looking at the graphs I see constant memory increase plus some workload storm induced stairs. Here's an example of what I'm seeing: in this 3 day period there are three stairs in the memory

[2015-02-05 20:19] lbudai commented on #287
Hi!

Every two days??? It sounds really bad ...
We will try to reproduce this problem in our test environment and try to find a solution soon.

[2015-02-05 21:15] faxm0dem commented on #287
yes, and as you can see in this example there were less than 500 EPS on average.
I can send you a valgrind output from my dev server which roughly gets the same workload.
Please send me the options if you need anything special. thanks for looking into this!

[2015-02-06 05:24] lbudai commented on #287
Valgrind ouput could help.

[2015-02-06 09:19] ihrwein commented on #168
The PR was merged, so this issue can be closed.

[2015-02-06 09:19] #168 closed

[2015-02-06 14:33] mitzkia commented on #287
Hello,
I tried to reproduce the mentinoned problem, without success.
I will need syslog-ng configuration, and some steps to reproduce it.
Thank you.

[2015-02-06 16:03] mitzkia commented on #287
We tried to reproduce the mem leak with @juhaszviktor.
During the test we found the following and Viktor said this can be a possible leak...:
==17208== 48 (8 direct, 40 indirect) bytes in 1 blocks are definitely lost in loss record 579 of 683
==17208==    at 0x4C2AB80: malloc (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==17208==    by 0x5150610: g_malloc (in /lib/x86_64-linux-gnu/libg

[2015-02-07 01:30] juju4 commented on #173
Thanks Gregory. hadn't time to dig more. If you can, great!

[2015-02-07 13:26] gregory094 commented on #173
I've solved the issue you've mentioned. I'll push the fix to a branch on Monday. Please, compile it on your system and report me if any issues happened. I am planning to write a short guide about the tools needed for the proper installation.  There are some differences in Apple developer tools to GNU ones. Keep in touch!

[2015-02-09 14:58] xtaran opened #383 "Please do not chown/chmod if the log file is a device like e.g. /dev/null"
Please suppress the chown/chmod on the log file if the destination file is a device like e.g. `/dev/null`, i.e. any path starting with `/dev/`.

Changing the permissions of `/dev/null` unexpectedly is known to cause the weirdest issues as e.g. shell scripts running under a non-root user will fail upon redirection to `/dev/null`, etc.

(Yes, I know doing so isn't the best idea, but someone may try

[2015-02-09 15:37] faxm0dem commented on #383
happened to a collegue of mine too :)

[2015-02-11 15:58] gregory094 commented on #173
I've just created a branch for MacOSX support called '3.5/f/macosx'. You can compile from there. It is tested on 10.9 and 10.10.
Temporally you need to add __sun define when making. You can do that this way: 'make CFLAGS=-D__sun'. This issue will be corrected soon. I'm planning to write a short description about the process of installing on MacOSX.  Use 'bison' from brew package instead of the def

[2015-02-16 10:38] bazsi commented on #383
This is a good idea, although it should probably be based on a filename,
and not the file type. unix-stream() driver opens a UNIX socket.

Anyway, this is pretty straightforward to implement something like this,
anyone volunteering? :) I can help with review and getting the patch
integrated. Maybe you can even ask for help on the mailing list.

--
Bazsi

On Mon, Feb 9, 2015 at 4:37 PM, Fabien Wern

[2015-02-16 10:48] xtaran commented on #383
Hi,

On Mon, Feb 16, 2015 at 02:38:05AM -0800, Balazs Scheidler wrote:

Actually that was what I had in mind: Any file name that matches
"/dev/" at the beginning (i.e. "^/dev/").

		Kind regards, Axel
--
/~\  Plain Text Ribbon Campaign                   | Axel Beckert
\ /  Say No to HTML in E-Mail and News            | abe@deuxchevaux.org  (Mail)
 X   See http://www.nonhtmlmail.org/campaign.html |

[2015-02-16 11:15] abalage opened #384 "patterndb duplicate parser node in radix tree"
Hello,

I have a quite big patterndb xml file.
My problem is that upon using it / or testing it with "pdbtool test --validate /path/to/xml" I receive such messages.

Duplicate parser node in radix tree; type='1', name='.exit_code', value='41b3d595-eea8-4369-aeba-2b04cc7931c8'
Duplicate key in radix tree; key='deadlock detected, killing process;', value='7ea0095a-1cfe-4452-aaec-49f8cc5d5482'
Duplic

[2015-02-16 14:13] bazsi commented on #384
--
Bazsi

On Mon, Feb 16, 2015 at 12:15 PM, abalage <notifications@github.com> wrote:

hmm.. different programs are inserted into a separate radix tree, so I
don't see how the duplicates should occur, unless the program is also the
same. If you can send me the XML in private, I would try to diagnose your
problem. My email is bazsi77@gmail.com.

Thanks.

[2015-02-16 14:25] abalage commented on #384
Thanks. I have already sent it to your mail address.

[2015-02-16 14:31] bazsi commented on #384
The issue is that you have an @ANYSTRING@ parser that catches all remaining
logs, this way you have two rules that could potentially match. In this
case, the order matters and the first one would be found.

On the other hand, if you omitted the @ANYSTRING@ parser, that match would
be shorter than the actual rule, causing the longer match to be preferred,
avoiding the conflict.

--
Bazsi

On Mon, F

[2015-02-16 14:43] abalage commented on #384
Hm. I do not have @ANYSTRING@ in neither of the mentioned rulesets, except in the username but with a prefix.
If you meant <pattern>@ANYSTRING@</pattern> then those are only used in rulesets where the program name should be explicit enough.
Did I miss something?

[2015-02-16 16:15] vincentbernat opened #385 "Support wildcards in file() source"
Hi!

Being able to use wildcards in `file()` source would be great. It seems that there has been some preliminary work by @bazsi available here: https://github.com/balabit/syslog-ng-3.5/compare/wild-card-file-source

[2015-02-16 16:24] bazsi commented on #384
Here's one of the offending rules which conflicts:

      <rule class='kernel' id='a49d840a-7722-49f2-afc0-53a33cc367ce'
provider='balabit'>
      <description>All other kernel-messages</description>
        <patterns>
          <pattern>@QSTRING:kernel.stamp:[]@ @ANYSTRING@</pattern>
        </patterns>
        <values>
        </values>
        <examples>
         <example>
          <test_messa

[2015-02-16 16:38] bazsi commented on #385
Hi,

Yup, I didn't really have time to finish that. :(

--
Bazsi

On Mon, Feb 16, 2015 at 5:15 PM, Vincent Bernat <notifications@github.com>
wrote:

[2015-02-16 16:48] vincentbernat commented on #385
What is missing? Maybe, I can help? Testing, code?

[2015-02-16 21:42] faxm0dem commented on #384
If you absolutely need both rules, you could cascade them using two different patterndb parsers. This is what we usually do at my organization: pass all messages through a very specific patterndb, then to another with more generic, "catchall" patterns if the first one didn't match.

[2015-02-17 10:02] abalage commented on #384
It's still not clear for me. I have no troubles with the two rules in that ruleset where the program name is 'kernel'. I have the expected behavior.
But I have issues with the duplicates from the initial report.

rule id 41b3d595-eea8-4369-aeba-2b04cc7931c8
and
rule id 7ea0095a-1cfe-4452-aaec-49f8cc5d5482

If the cause of them is the conflict in rulesets belonging to 'kernel' then the error messag

[2015-02-17 14:58] bazsi commented on #384
I have just submitted pr#386 which should resolve the conflicts in your file.

[2015-02-17 15:00] bazsi commented on #384
I mean pull request #386, if you can pls test the branch and report back if it indeed fixes your issue.

thanks.

[2015-02-18 15:07] vincentbernat commented on #218
Also, the documentation only mentions that timezone can be specified as `[+-]HH:MM` while they can also (and should, because of daylight savings) be specified using a name.

BTW, the documentation doesn't seem to be available in GitHub. We could do PR against it if it were.

[2015-02-19 11:46] abalage commented on #384
Duplicates have gone, though I have some conflicting rules, but anyway I will sort them out.
Thanks for the help.

[2015-02-19 12:21] abalage opened #390 "syslog-ng-3.7.0alpha2 segfaults upon receiving a message via tcp"
Tried to test (commit c80eccc8136307173ff0399e3cedf27a8e21b9b4) version after https://github.com/balabit/syslog-ng/issues/386 has been merged to master.

With a simple config syslog-ng segfaults as soon as I send a tcp message to a tcp source.

config, core files, etc can be found here
https://www.dropbox.com/sh/ngf9dwuurywzpss/AADBYNrHkLHSHjzT18VzZjaXa?dl=0

Steps of reproduction:
 - syslog-ng -f

[2015-02-19 12:23] abalage commented on #390
Core was generated by `/opt/syslog-ng/sbin/syslog-ng --no-caps -f /tmp/_dBku6OzoT.conf -p /tmp/syslog-'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  affile_dw_init (s=0x1fb7890) at modules/affile/affile-dest.c:217
217             (self->owner->file_open_options.is_pipe ? 0 : LW_SOFT_FLOW_CONTROL);
(gdb) bt full
#0  affile_dw_init (s=0x1fb7890) at modules/affile/affile-dest.c:21

[2015-02-19 12:32] #384 closed

[2015-02-19 12:43] faxm0dem commented on #218
:+1: for having the doc in github, but I think this is due to some legacy-tool usage at balabit. time for a new internal tool hackathon? ;-)

[2015-02-19 14:08] fekete-robert commented on #218
Hi Vincent,

Thanks a lot for pointing out this error, I'll correct it in the docs as soon as I have the time (hopefully during the upgrade for OSE 3.7 at the latest).

As for the availability of the doc sources: the source code for the docs was public on the BalaBit webserver for a while a few years back, but there was no real interest for it from anyone, (not many people like to work with raw Do

[2015-02-19 20:23] bazsi commented on #390
Thanks for the report, the patch in this pull request should fix it #391

[2015-02-20 08:28] abalage commented on #390
After a quick test it looks okay. Thanks for fixing it.

[2015-02-20 11:10] faxm0dem commented on #287
I'm currently testing @ihrwein's proposed patch on a dev server with similar but lower workload.
On the unpatched production server I found a workaround: SIGHUP syslog-ng releases the memory

[2015-02-23 13:19] mitzkia opened #394 "riemann destination without attributes() option segfaults"
doc:
If the attributes() option is a required option in case of riemann destination, the admin guide did not mentioned it.
http://www.balabit.com/sites/default/files/documents/syslog-ng-ose-latest-guides/en/syslog-ng-ose-guide-admin/html-single/index.html#reference-destination-riemann

reproduction:
1, start syslog-ng with the following config:
[code]
backtrace:
[code]

syslog-ng version:
[code]

[2015-02-23 14:09] mitzkia commented on #394
some additional info from the bt:
[code]

[2015-02-23 14:53] algernon commented on #394
The `attributes()` option should be optional, the documentation is correct. I remember fixing this issue at some point, though. Perhaps it hasn't been merged to 3.7 from 3.6 yet?

[2015-02-23 14:53] mitzkia opened #395 "when log threaded dest driver not available, on SIGTERM syslog-ng segfaults"
reproduction:
1, start syslog-ng with the following config:
[code]
2, send stop signal to syslog-ng, syslog-ng will crash

the backtrace:
[code]

syslog-ng version:

syslog-ng 3.7.0alpha2
Installer-Version: 3.7.0alpha2
Revision:
Compile-Date: Feb 23 2015 13:52:48
Available-Modules: mod-python,csvparser,afamqp,afuser,afprog,confgen,afsql,afsocket,pseudofile,redis,affile,basicfuncs,syslogformat,cryp

[2015-02-23 14:54] algernon commented on #394
Yep, this is fixed on 3.6 in 90c8d4a3ab966f1cb6cbdb2f84e3620b33798e1c.

[2015-02-24 09:02] lbudai commented on #390
The patch is merged. I'll close the issue.

[2015-02-24 09:02] #390 closed

[2015-02-24 09:19] ihrwein commented on #287
@faxm0dem: did it worked for you eventually? And could you attach a sample config file? Thanks.

[2015-02-24 11:46] gregory094 opened #396 "Remove RabbitMQ submodule from 3.7"
RabbitMQ submodule has just been changed to the [upstream](https://github.com/alanxz/rabbitmq-c/tree/5348c697a0d6609d034d7bf571efc933556269a7) in 3.6 and on the master. Before that we used a really old version of [rabbitmq-c](https://github.com/alanxz/rabbitmq-c/tree/7142f05e2aaf61b47cf0472d9e9f468d08a4fdc0) that's why this dependency couldn't be installed using package-managers of different OSs.

[2015-02-24 12:37] algernon commented on #396
FYI, another reason the submodule is shipped is to make it easier to compile syslog-ng, so you won't have to hunt down dependencies. The ivykis, json-c and libmongo-client submodules are all present still, even though all of those are available in most (if not all) modern distributions.

Mind you, I support throwing them out, that would make the build system considerably easier, the tarball smalle

[2015-02-25 10:24] faxm0dem commented on #287
It seems to help, but I still not enough: I had a huge event peak yesterday, and the memory wasn't released. Then again, the major part of my problem seems to be (see valgrind log) from the perl module

![ccosvms0022-proc-mem](https://cloud.githubusercontent.com/assets/112638/6368847/d933afba-bce0-11e4-956f-26975edb4d4d.png)

[2015-02-25 10:28] juhaszviktor commented on #287
Hi Fabien,

We will thanks if you can send the valgrind.log what you mentioned in your
previous mail. :)

Thank you very much!

Best Regards,
Viktor Juhász

On Wed, Feb 25, 2015 at 11:24 AM, Fabien Wernli <notifications@github.com>
wrote:

[2015-02-25 11:37] faxm0dem commented on #287
done. For the record, here are some bits:
[code]
[code]

[2015-02-25 13:38] mitzkia commented on #287
Hello,

Thanks for the valgrind log.
Could you help us in a reproduction with some syslog-ng.conf (or some hint if it contains sensitive data)?

Thank you,
Best Regards

[2015-02-25 14:15] czanik commented on #396
For now I would not remove them, as most of these are not included in openSUSE and FreeBSD, and adding them takes considerable time. And I would not like to reduce the functionality of the syslog-ng package just because a dependency is removed from soures but unavailable in the distro or ports...

[2015-02-25 15:15] hbakken commented on #318
I can reproduce this in 3.6.2 as well, and for both syslog(... transport("udp")) and syslog(... transport("tls"))

This problem prevents us from forwarding logs using syslog-ng directly, so we have to resort to piping via a program() driver or a local pipe or something.

[2015-02-26 10:33] gregory094 commented on #396
Okey. Let's postpone this question then. I'll check different distros and OSs in order to see the set of packages provided by them.

[2015-02-27 10:24] lbudai commented on #396
@gregory094: Could you close this issue?
Thanks!

[2015-02-27 11:40] #396 closed

[2015-03-02 15:49] mitzkia commented on #395
With the current master is: 1e9a30127ad2c9e90155139eb87c5ffb20ba436a,
which already contains:
#399
#393
Reproduced the bug with the above steps syslog-ng crashes in other place, the new backtrace is:
[code]

[2015-03-04 08:47] faxm0dem opened #401 "riemann: protocol errors"
From time to time (very low frequency: about one message out of 30'000) I get the following error message in riemann.log when `type(udp)` :

[code]

I'm also feeding riemann with collectd, at a tenfold rate, and get zero such messages.
How can I debug this? I could send you a tcpdump of datagrams from the syslog-ng server.

[2015-03-04 09:15] algernon commented on #401
A dump would be useful, thanks.

[2015-03-04 09:24] gregory094 opened #402 "AMQP dest: host is available but server is not present. Assertion error."
## Preparations:
- Stop RabbitMQ server
- Use a host available in your network

## Configuration
[code]
## Output
[code]
## BT
[code]

[2015-03-04 09:29] gregory094 opened #403 "AMQP dest: host is not available. Segfault."
### Ancestor issue
"when log threaded dest driver not available, on SIGTERM syslog-ng segfaults"

## Preparations:
- Use a host that is not available in your network

## Configuration
[code]
## Output
[code]
## BT
[code]

[2015-03-04 17:21] dnsjts commented on #403
The amqp_socket_open function seems to be a blocking function, and calling it with naughty parameters causes the hang of the whole thread initialization proces, therefore the log_threaded_dest_driver_init_watches(...) function will not be called.

The log_threaded_dest_driver_init_watches(...) would initialize the LogThrDestDriver::shutdown_event struct.

Maybe using this uninitialized struct (whe

[2015-03-04 17:31] juhaszviktor commented on #403
Hi,
I think, this is a duplicated is issue.
The original is: #395
The PR: #399 corrects this bug

[2015-03-04 18:52] #395 closed

[2015-03-05 10:16] #403 closed

[2015-03-05 10:58] algernon opened #406 "Please backport #320 to 3.6/master"
In #320, support for the monolithic libsystemd library was added. It would be incredibly useful for Debian, if that was backported to 3.6/master too.

[2015-03-05 11:11] lbudai commented on #406
OK

[2015-03-05 11:53] gregory094 opened #407 "afamqp: change depecrated functions to new ones, correcting some small bugs"
For we have moved to rabbitmq-c upstream there are some deprecated functions in the code. It would be great to change them for new ones.

[code]

[2015-03-06 12:07] gregory094 commented on #403
Solved in PR: #408

[2015-03-08 14:03] gregory094 commented on #407
Solved in #402

[2015-03-09 08:56] ihrwein commented on #357
@kokoko3k: Can we close this issue?

[2015-03-09 09:10] ihrwein commented on #273
syslog-ng `3.6.2` contains a fix for this (commit id: 5b4a604bb8a8b3a0a3464ebc162dc9c81ce633fe).

@faxm0dem: can you verify, so we can close this issue?

[2015-03-09 10:28] kokoko3k commented on #357
Yes, unfortunately i was kinda forced to switch from syslog-ng to journald, so i don't care anymore.
Sorry for not notifying you.

[2015-03-09 11:24] ihrwein commented on #357
Then I'm closing this. Thanks!

[2015-03-09 11:24] #357 closed

[2015-03-09 11:26] ihrwein commented on #117
@ColdForest: IMHO you can find faxmodem's Puppet module here: https://github.com/ccin2p3/puppet-patterndb

Can we close this issue?

[2015-03-09 11:34] ihrwein commented on #147
@bazsi should we mark this as a feature or a bug?

[2015-03-09 11:46] ihrwein commented on #240
@zstyblik Did you experienced this again? #192 was closed, because it was a 'mistery'.

[2015-03-09 11:51] zstyblik commented on #240
@ihrwein I'm sorry, but we've switched away from syslog-ng's AMQP module and using custom-in-house-built solution instead for pushing log entries into AMQP. If the most of your fleet goes down, you won't risk it again :-/

[2015-03-09 12:01] #240 closed

[2015-03-09 12:03] ihrwein commented on #189
@dnsjts could you look at this?

[2015-03-09 15:46] ColdForest commented on #117
Thanks for checking back: I'm fine with you guys closing this if you think this has been addressed (the original reason for opening this ticket was by request from Viktor, who thought the originally observed behaviour was a bug - not sure if this "bug" has actually been "fixed"?).

[2015-03-09 15:54] ihrwein commented on #266
You can create a symlink, as talien mentioned.

We can't fix this, because a wild card file source would break the implementation immediately.

[2015-03-09 15:54] #266 closed

[2015-03-09 16:03] ihrwein commented on #294
@faxm0dem do you have any questions? I'm checking the old pending issues.

[2015-03-09 16:06] zstyblik commented on #266
@ihrwein I wonder whether you've read what this bug was about.

I'm not trying to circumvent problem, I'm pointing out there might be and likely is problem in syslog-ng if one isn't careful.

[2015-03-09 16:07] ihrwein commented on #253
@lojha you can try the `3.6.2` release, too. Unfortunately, without the stack trace we can't identify your problem.

[2015-03-09 16:11] ihrwein commented on #176
@lojha did syslog-ng work with those warnings?

[2015-03-09 16:12] faxm0dem commented on #294
sure @baszi can you confirm this is solved using recent changes in pdb?

[2015-03-09 16:17] faxm0dem commented on #117
I think it is not fixed, and we need to decide if it will be fixed.
We have the following workaround in production:
[code]

[2015-03-10 05:59] bazsi commented on #294
Well, rule conflicts were improved a lot with a recent fix and the complete
match approach taken in db-parser. But I am afraid it is so much we can do,
if there are two independent rules in two separate files, the load order
will matter and only one of them will match (the first one).

I am afraid update-patterndb will not sort the input filenames which it
should, so you could at least prioritize

[2015-03-10 06:06] bazsi commented on #117
I am not entirely sure the best course of action here, .classifier.class was set to unknown so it becomes possible to check whether db-parser matched. If it would leave the .class intact, it would mean that you wouldn't have that information easily.

On the other hand, combining db-parser() into chains seems also to be a reasonable thing to do, especially if you use the template() option to specif

[2015-03-10 08:47] ihrwein commented on #288
I wonder that we should create a new issue based on this conversation?

[2015-03-10 09:00] ihrwein commented on #131
@faxm0dem I know you have a Puppet module for this, and we both know we will have a solution for this in a year :) Is this problem crucial for you or I can close this issue?

[2015-03-10 09:05] ihrwein commented on #121
This issue seems to me very similar (I bet it's the same):

https://bugs.gentoo.org/show_bug.cgi?id=533328

Reverting to `syslog-ng-3.4.8` solved it for the gentoo user.

[2015-03-10 09:24] ihrwein commented on #274
@blint : you can use the SMTP destination for your usecase: http://www.balabit.com/sites/default/files/documents/syslog-ng-ose-latest-guides/en/syslog-ng-ose-guide-admin/html-single/index.html#configuring-destinations-smtp

If it suits your needs, please close this issue.

[2015-03-10 10:52] algernon commented on #288
I'd just retitle this one, so we keep the history recorded in one issue.

[2015-03-10 14:28] ihrwein commented on #360
@veita did the upgrade work for you? Can we close this issue?

[2015-03-10 14:32] ihrwein commented on #356
We have a GSoC project, which has a similar role: https://github.com/balabit/syslog-ng/wiki/GSoC2015-Idea-&-Project-list#helping-troubleshooting

It's not about embedding test messages, but to show the message flow.

[2015-03-10 14:42] ihrwein commented on #317
@czanik could you test it? I would like to close the old pending issues.

[2015-03-10 14:59] ihrwein commented on #265
If we can't find a usecase, we may close this issue :)

[2015-03-10 15:06] czanik commented on #317
syslog-ng 3.6 compiles fine on the same platforms. I was suggested, that tweeking compiler parameters will most likely fix the issue. If so, please set that automagically by configure!

[2015-03-10 15:20] czanik opened #414 "compiling with redis support on FreeBSD fails"
tested on FreeBSD 10.1 amd64 with syslog-ng 3.6.2

If support for redis is enabled, compilation fails with the following error message:

  CC       modules/redis/modules_redis_libredis_la-redis-grammar.lo
  CC       modules/redis/modules_redis_libredis_la-redis.lo
  CC       modules/redis/modules_redis_libredis_la-redis-parser.lo
  CCLD     modules/redis/libredis.la
libtool: link: require no space

[2015-03-10 15:22] ihrwein commented on #414
What are your `configure` options?

[2015-03-10 15:31] czanik commented on #414
It's generated by FreeBSD ports (/usr/ports/sysutils/syslog-ng):
'''
--sysconfdir=/usr/local/etc --localstatedir=/var/db --enable-dynamic-linking --enable-debug --datadir=/usr/local/share/syslog-ng/ --enable-ssl --enable-tcp-wrapper --enable-spoof-source --with-libnet=/usr/local/bin --enable-ipv6 --enable-geoip --enable-redis --with-libesmtp=/usr/local/ --enable-sql --enable-json --disable-linux-c

[2015-03-10 15:31] algernon commented on #414
Better yet, the tail of make output with `make V=1` would be even more useful, so we see the commandline that fails, not just a prettier `CCLD` text.

[2015-03-10 15:38] czanik commented on #414
libtool: link: ( cd "modules/afstomp/.libs" && rm -f "libafstomp.la" && ln -s "../libafstomp.la" "libafstomp.la" )
/bin/sh ./libtool  --tag=CC   --mode=compile cc -DHAVE_CONFIG_H -I.  -I./lib -I./modules -I./lib -I./modules -pthread -I/usr/local/include/glib-2.0 -I/usr/local/lib/glib-2.0/include -I/usr/local/include   -I/usr/local/include/eventlog   -I/usr/local/include   -I/usr/local/include -DLI

[2015-03-10 15:42] algernon commented on #414
There's a stray `-L` there, and that upsets the compiler. Can you check the output of `pkg-config --libs hiredis`? (And if that fails, then `pkg-config --libs libhiredis`)

[2015-03-10 15:43] czanik commented on #414
root@fb101r:/usr/ports/sysutils/syslog-ng # pkg-config --libs hiredis
-L -lhiredis

[2015-03-10 15:46] ihrwein commented on #75
The following issue will solve this problem, too: https://github.com/balabit/syslog-ng/issues/361

[2015-03-10 15:46] algernon commented on #414
That's the problem then. The pkg-config file of hiredis has an empty `-L`. The issue is best fixed there, I believe, rather than adding hackish workarounds to our configure script.

[2015-03-10 20:08] veita commented on #360
I cannot tell since the latest available verision for my Linux distribution (Gentoo) is 3.4.8 where the bug still exists.
[code]

[2015-03-10 20:36] czanik commented on #318
There is a related bug also in the openSUSE bugzilla at https://bugzilla.opensuse.org/show_bug.cgi?id=921252
Please fix it also for syslog-ng 3.5 (current openSUSE also has this version).

[2015-03-11 01:51] cschuber commented on #414
A patch has been committed.

[2015-03-11 09:00] lbudai commented on #331
"create a plan how we handle this queue
full situation correctly" - this is not solved by  PR #415

[2015-03-11 11:32] faxm0dem commented on #356
interesting!

[2015-03-11 11:35] faxm0dem commented on #294
Fair enough

[2015-03-11 11:37] #131 closed

[2015-03-11 11:39] faxm0dem commented on #117
Shiny!

[2015-03-11 13:24] ngergo opened #417 "Coverity Scan for syslog-ng code static analyzis"
### Short description

Coverity has a service that runs static analyzis on code. It supports C/C++ languages so it would be a good idea to have this feature enabled on the repo.
I've already tried to integrate my fork for it's free for open-source projects.
The analyzis has revealed some really useful bugs and errors. It would be great to use these unfolded deffects to improve the quality of code

[2015-03-11 13:28] lbudai commented on #417
:+1

[2015-03-11 13:32] algernon commented on #417
IIRC @pfeiffersz ran coverity against syslog-ng some years ago. It'd be tons and tons of work to make sense of the results (there were an incredible number of false positives).

[2015-03-11 13:37] gregory094 commented on #417
The last years have seen considerable advances in the quality of code analyzis provided by Coverity. Many open-source project uses it. More and more FPs are being eliminated by day by day and also you can determine models to avoid FPs. The defects I've seen are quite representative and can be used to improve the code.

[2015-03-11 13:53] lbudai commented on #417
I think, we could try it...
This doesn't mean that we will use it. If it makes sense, we will integrate it into the release process.

[2015-03-11 13:56] algernon commented on #417
I'm not saying you shouldn't try Coverity. It's a great tool, and certainly useful. But processing the results is a very tedious task.

I've used it for riemann-c-client and a few other things, and that was incredibly tedious too, even though all of those stuff combined was only a fraction of the syslog-ng code base in size (and complexity). Having looked at the syslog-ng results a few years back

[2015-03-12 09:22] gregory094 opened #418 "osquery "source" for syslog-ng"
### Short description
[osquery](http://http://osquery.io/) is a tool developed by Facebook that gives you an SQL like API to get data from your system.

### Vision I.
You can specify queries in your syslog-ng conf that are scheduled and ran by the time given.

### Vision II.
You can use osquery's json output format to be parsed by syslog-ng.

### Use-case
You can use osquery to feed data into grap

[2015-03-12 09:25] lbudai commented on #418
http://osquery.io/

[2015-03-12 09:33] faxm0dem commented on #418
It makes sense to attach facts to messages. Currently we implemented this in the following way at $WORK:

* puppet adds selected puppet facter facts to syslog-ng configuration using SDATA
* syslog-ng sends those fields to remote syslog-ng
* on remote backends, every message has attached pupept facts, like operatingsystem, ncpu, etc.

[2015-03-12 09:58] czanik commented on #318
The opensuse ticket has some further info and workarounds added. Might be just another expression of the same problem or something completely different, but the end result is the same: syslog-ng does not try hard enough to reach network destinations and fails.

[2015-03-12 11:16] #402 closed

[2015-03-12 11:18] #407 closed

[2015-03-13 14:02] hkrist commented on #197
solved #419

[2015-03-14 00:11] ColdForest commented on #117
Sounds good to me too!

[2015-03-17 08:44] rchovan opened #420 "snmp traps in binary format"
Hi,
I have problem with some cisco routers and switches. They send snmp traps, but syslog-ng write it in binary format.
syslog version on debian Linux server 3.2.0-4-amd64 #1 SMP Debian 3.2.65-1+deb7u1 x86_64 GNU/Linux
[code]

[code]

here is my syslog-ng config:
[code]
and this is config on cisco:
[code]

[2015-03-17 10:32] sb-relaxt-at opened #421 "Error when binding syslog source on same port via ip4 and ipv6"
The following setup results in an "Address already in use (98)" error:

[code]

From my understanding it should be possible to bind to the same port simultaneously via ipv4 and ipv6. But as soon as both sources are used in a log statement, starting syslog failed either with `Error binding socket; addr='AF_INET6([::]:601)', error='Address already in use (98)'` or with `Error binding socket; addr='A

[2015-03-18 10:05] hasso opened #423 "Linking syslog-ng-ctl fails with --enable-mixed-linking"
CCLD   syslog-ng-ctl/syslog-ng-ctl
    lib/.libs/libsyslog-ng.so: undefined reference to `iv_fd_registered'
    lib/.libs/libsyslog-ng.so: undefined reference to `iv_fd_set_handler_err'
    lib/.libs/libsyslog-ng.so: undefined reference to `iv_deinit'
    lib/.libs/libsyslog-ng.so: undefined reference to `iv_task_unregister'
    lib/.libs/libsyslog-ng.so: undefined reference to `evt_rec_get_syslog

[2015-03-18 17:35] bobrik opened #424 "Syslog-ng splits message on wrong boundary"
I've tried 3.5.6, 3.6.2 and 3.7alpha2, all in docker containers with bind-mounted data volumes.

My configuration:

[code]

I expect output line to be the same as input line or split in 2048/4096 byte chunks, but it comes in 8196 byte chunks. My log consists of json lines for logstash, it cannot be divided into separate lines.

Did I miss something in my configuration?

[2015-03-18 20:56] bazsi commented on #424
Syslog-ng requires files to have line termination. You would need to implement an msg-format plugin in order to use a different record format.

An example is the pacct plugin which reads process accounting files.

[2015-03-19 06:38] bobrik commented on #424
Does `\n` count as line termination? Input file looks like this:

[code]

[2015-03-19 07:47] bazsi commented on #424
Yup, it does.
On Mar 19, 2015 7:39 AM, "Ian Babrou" <notifications@github.com> wrote:

[2015-03-19 07:54] bobrik commented on #424
Well this one breaks into several output lines: https://gist.github.com/bobrik/276284336a1c5817f1f6

[2015-03-20 10:24] dnsjts commented on #421
According to 'man ipv6':
IPv4 and IPv6 share the local port space.  When you get an IPv4
connection or packet to a IPv6 socket, its source address will be
mapped to v6 and it will be mapped to v6.

So if you listen on every IPv6 address, you will actually listen on the IPv4 addresses, therefore another binding (to the same port) cannot be established.

[2015-03-20 11:13] sb-relaxt-at commented on #421
Thanks for your reply. I had considered that it might work this way and I had also given this a try. But obviously I have been trying it the wrong way around (source as ipv4, destination as ipv6) which doesn't work. When using ipv6 as source, it works perfectly. Sorry for bothering and thanks for your explanation!

[2015-03-20 12:30] bobrik commented on #424
Looks like removal of persist file fixed my issue. Can it be the reason?

[2015-03-20 14:16] bazsi commented on #424
Well, syslog-ng keeps track of the current position of files it follows in
the persist file. Can it happen that you rewrote the file, without changing
the inode? Because syslog-ng checks whether the inode changed and if it
did, it assumes it is a new file, otherwise it tries to continue where it
left off.

--
Bazsi

On Fri, Mar 20, 2015 at 1:30 PM, Ian Babrou <notifications@github.com>
wrote:

[2015-03-20 14:17] bobrik commented on #424
No, file was the same all the time. I'll try to reproduce that later.

[2015-03-20 18:31] bazsi commented on #420
Snmp traps are binary. You will need something like snmptrapd to receive them and forward them to syslog.

[2015-03-23 19:32] ihrwein opened #427 "Cannot write filter plugins"
There is a conflict in `lib/filter/filter-expr-grammar.ym` which prevents me from writing a filter plugin.

The problem is with the `filter_plugin` and `filter_comparison`  rules.

`filter_plugin` expects an `LL_IDENTIFIER` and `filter_comparison` expects a `string` which in turn is
an `LL_IDENTIFIER` or `LL_STRING`:

[code]

A proper solution to this problem is to redefine `filter_comparison`:

C

[2015-03-24 06:26] rchovan commented on #420
I'm not sure, because other snmp traps are written correctly
from cisco routers 1841/881
[code]

2015-03-20 19:31 GMT+01:00 Balazs Scheidler <notifications@github.com>:

[2015-03-24 06:27] rchovan commented on #420
I'm not sure, because other snmp traps are written correctly
 from cisco routers 1841/881
[code]

[2015-03-24 07:40] bazsi commented on #420
Hi,

snmp on the wire is definitely binary, these look legitimate syslog
messages (well except the Cisco sequence number in the front, which recent
syslog-ngs are able to parse and remove)

--
Bazsi

On Tue, Mar 24, 2015 at 7:27 AM, rchovan <notifications@github.com> wrote:

[2015-03-24 08:20] faxm0dem commented on #420
I agree with @baszi and I'm sure your Cisco routers can be configured to send snmp traps *and* syslog"traps"

[2015-03-24 10:34] Manikandan-Selvaganesh opened #428 "docbook.xsl (Man page error) issue on fedora"
On Fedora, the docbook.xsl is not in installed to the directory where syslog-ng looking for it. I have tried make , make install all. It is not working. Reports the same error.

[2015-03-24 10:36] algernon commented on #428
You will have to pass an `XSL_STYLESHEET=/the/correct/path`  argument to make for the build to succeed. Unfortunately, it is not possible to reliably figure out where the stylesheets are on the various distros.

[2015-03-24 10:40] Manikandan-Selvaganesh commented on #428
Hey,
Thanks foe your reply!!!

-----Original Message-----
From: "Gergely Nagy" <notifications@github.com>
Sent: ‎24-‎03-‎2015 04:06 PM
To: "balabit/syslog-ng" <syslog-ng@noreply.github.com>
Cc: "Manikandan Selvaganesh" <11bc049@skcet.ac.in>
Subject: Re: [syslog-ng] docbook.xsl (Man page error) issue on fedora (#428)

You will have to pass an XSL_STYLESHEET=/the/correct/path argument to make for th

[2015-03-24 11:04] dnsjts commented on #360
3.6.2 is available, which is soft-masked. If you could unmask "package", and try to reproduce the issue, it would be appreciated.

[2015-03-25 08:52] naveenese opened #430 "How to enable debug symbols (enable -g in Makefile) to syslog-ng"
Hi,
I am getting the below back trace for syslog-ng. i am not able to see where to enable the debug symbols and debug this issue?

Back trace:
===========
ore was generated by `/sbin/syslog-ng -f /etc/syslog-ng/syslog-ng.conf -R /var/syslog-ng.persist -p /'.
Program terminated with signal 11, Segmentation fault.
#0  0x0fbcbd20 in strcmp () from ./lib/libc.so.6
(gdb) bt
#0  0x0fbcbd20 in strcmp ()

[2015-03-25 09:24] dnsjts commented on #430
Hi,

did you pass the --enable-debug switch to the configure script?

[2015-03-25 21:42] #420 closed

[2015-03-26 05:48] naveenese commented on #430
I have added the "-g" in syslog-ng makefile.

Makefile:
export CFLAGS=-g -I$(PREFIX)/include -I$(PREFIX)/lib/glib-2.0/include

[2015-03-26 08:56] faxm0dem opened #432 "Feature: collectd source"
It would be awesome to be able to listen to incoming collectd metrics.
[collectd](/collectd/collectd) uses its own [wire protocol](/collectd/collectd/blob/master/src/network.c) to transfer data from one instance to another. Other projects have already embraced the interface like [logstash](/logstash-plugins/logstash-codec-collectd/blob/master/lib/logstash/codecs/collectd.rb) and there's even a por

[2015-03-26 11:36] ihrwein commented on #430
@dnsjts was right. The proper way to turn on generating debug symbols is using `--enable-debug` with configure.

I'm closing this ticket. If you find your bug, you may open a new, specialized issue.

[2015-03-26 11:36] #430 closed

[2015-03-26 12:52] ihrwein commented on #427
Does the proposed solution would be accepted? I don't want to create PRs which does't have a chance to be merged :)

[2015-03-26 12:58] lbudai commented on #427
ok

[2015-03-26 13:09] bazsi commented on #427
It's probably LL_STRING, but otherwise correct.

--
Bazsi

On Mon, Mar 23, 2015 at 8:32 PM, Tibor Benke <notifications@github.com>
wrote:

[2015-03-26 13:26] ihrwein commented on #427
Nice catch, I corrected them.

[2015-03-26 13:57] dnsjts commented on #421
You are welcome. If you don't mind, I close the issue, because it seems to be solved.

[2015-03-26 13:57] #421 closed

[2015-03-26 16:31] dnsjts commented on #432
According to the collectd manpage:
Plugin "amqp"
The AMQMP plugin can be used to communicate with other instances of collectd or third party applications using an AMQP message broker. Values are sent to or received from the broker, which handles routing, queueing and possibly filtering or messages.

There is an amqp-source in git://github.com/dnsjts/syslog-ng-incubator.git , if you want to play wi

[2015-03-26 16:51] Elbandi commented on #242
ubuntu trusty affected too. just "pure" filter+match:

    filter f_foo { not message("foo"); };
    ....
    log {
        source(s_all);
        filter(f_foo);
        destination(dn_centrallog);
    };

[2015-03-26 20:11] algernon commented on #432
It's already possible to get collectd metrics into syslog-ng, but not having anything between the two would make it much more performant (esp. as AMQP ain't exactly fast).

[2015-03-27 07:27] czanik opened #434 "syslog-ng 3.5: system() opens both /dev/log and /run/systemd/journal/syslog"
Found on openSUSE 13.2 by Per Jessen (https://bugzilla.opensuse.org/show_bug.cgi?id=922191) and confirmed by me: system() opens both /dev/log and /run/systemd/journal/syslog when using syslog-ng 3.5
If journald's syslog compatibility socket is found, syslog-ng should only open that and leave /dev/log alone. It seems to be fixed in 3.6.

[2015-03-27 07:43] czanik commented on #434
Just did a quick test: I put unix-dgram("/dev/log"); in syslog-ng.conf instead of system(). This also seems to be broken, and opens both /dev/log and the compatibility socket.

[2015-03-27 12:12] gregory094 commented on #428
You can use now the new option `--enable-manpages --with-docbook=/the/correct/path` in `3.7`. Or simply you can skip building manpages not using it.

[2015-03-27 12:56] Nikoli opened #436 "Document --control option in syslog-ng man page"
[code]
[code]
My syslog-ng version is 3.6.2

[2015-03-27 15:48] Nikoli opened #437 "cap_sys_admin should be removed, document capabilities usage"
https://github.com/balabit/syslog-ng/blob/master/syslog-ng/main.c now enables cap_sys_admin, but this is not required anymore:
[code]
I run standalone syslog-ng as non root user with minimal ```cap_dac_override,cap_syslog``` capabilities without running it as root at all, howto:
[code]

Description of capabilities:
[code]

[2015-03-27 16:50] algernon commented on #437
Please check the code around the comment: https://github.com/balabit/syslog-ng/blob/master/syslog-ng/main.c#L174-L177

It will try to detect if `cap_syslog` is supported, and if so, will use it over `cap_sys_admin`. The comment could use an update, though.

[2015-03-27 17:04] Nikoli commented on #437
It would be nice to document for which features exactly which capabilities are used. Which capabilities are not required when using standalone (no networking) syslog-ng daemon?

[2015-03-27 17:48] Nikoli commented on #437
howto v2:
[code]

[2015-03-27 17:50] leleobhz commented on #437
Hello.

With Nikoli, i tested in a not-modified syslog-ng from Gentoo. The syslog-ng version is http://pastie.org/10057982 and the execution log is:

http://pastie.org/10057970

After this, i killed the syslog-ng running and changed the initscript to https://bpaste.net/raw/fcf072bde1ed

And the result is:

http://pastie.org/10057975

And testing the logging:

http://pastie.org/10057980

So, appear

[2015-03-28 07:52] Manikandan-Selvaganesh commented on #428
Hey,
Yup, thanks and it works perfect.

Thank you,

On Fri, Mar 27, 2015 at 5:42 PM, Nagy Gergő <notifications@github.com>
wrote:

--
Regards,
Manikandan Selvaganesh.

[2015-03-28 09:24] gregory094 commented on #428
Then I'll close this issue.
Fixed in: #435

[2015-03-28 09:24] #428 closed

[2015-03-29 19:28] borsitsb opened #439 "Indentation problem in modules/python/sngexample.py file"
There are indentation problems in modules/python/sngexample.py file, because 3 lines are indented with tabs instead of 4 spaces. This caused an error, when I tried to use this example file. I fixed this issue with this pull request: https://github.com/balabit/syslog-ng/pull/438

[2015-03-30 11:43] pzoleex opened #441 "stats --reset do not reset stored counters"
because these messages are stored in buffers and won't disappear regardless of the state of the reseted counters, also can cause negative counters when they are really sent.

[2015-03-31 13:07] gregory094 commented on #140
It's a missing feature from syslog-ng OSE that has been never implemented. The docs says different though.  This `Note` will be removed from the docs till the feature will be implemented. Try to use pre and suffix to ensure multi-line-messages to end.

[2015-03-31 13:17] gregory094 commented on #138
I've fixed this issue introducing a timer that checks for the availibility of the source file given in `time-reopen` option.  I'm planning to create an option for specifying retries before stop the source. e.g.:
`file( "src.log" time-reopen(2) reopen-retry(5));` that forces syslog-ng to try to reopen the source after 2 seconds for 5 times.

[2015-03-31 22:28] elentar opened #446 "3.6.2 consumes all available memory over a few hours"
I have a number of servers running RHEL 6, using the RedHat-provided syslog-ng 3.2 to provide syslog archive functionality. I would like to take advantage of threading support, so I've been looking at upgrading to a newer build of syslog-ng. I happened upon syslog-ng 3.6.2 packages available here:

https://copr-be.cloud.fedoraproject.org/results/czanik/syslog-ng36epel6/epel-6-x86_64/

These packag

[2015-03-31 22:35] elentar commented on #446
[code]

[2015-03-31 22:39] elentar commented on #446
![feb4236e43b8e7bfda33f8073cf9d64f](https://cloud.githubusercontent.com/assets/1018128/6930861/10cad21e-d7bc-11e4-96ff-34c4193d2817.png)

[2015-04-01 09:02] deirf commented on #446
We found a similar bug in pe. This is the patch. Maybe help for you.

diff --git a/lib/logwriter.c b/lib/logwriter.c
index 3b7ffe1..8c73b0c 100644
--- a/lib/logwriter.c
+++ b/lib/logwriter.c
@@ -1610,6 +1610,12 @@ log_writer_new(guint32 flags)
   return &self->super;
 }

+LogQueue *
+log_writer_get_queue(LogWriter *self)
+{
+  return self->queue;
+}
+
 /* consumes the reference */
 void
 log_write

[2015-04-01 09:17] lbudai commented on #446
Hi,

could you attach some example logs ?

-> what if you set a low value for reap, like this:
[code]
(We found a bug which leaks queues and with low reap value memory leaked faster...
The patch above fixes that problem.)

?

[2015-04-01 09:54] gregory094 commented on #446
The ported patch is available [here](https://github.com/gregory094/syslog-ng/tree/3.6/f/memleak)

[2015-04-01 10:55] gregory094 commented on #446
Could you give us the number of hosts to calculate the memory assumption?

[2015-04-01 13:37] mitzkia commented on #446
I started to reproduce the issue. Using valgrind I got the following output, maybe it can help
[code]

[2015-04-01 14:39] mitzkia commented on #446
sorry, but i made a mistake in the previous valgrind check, this is the correct valgrind output
[code]

[2015-04-01 15:46] elentar commented on #446
gregory094, this server acts as a default for when we don't have a better destination, such as for various desktop systems and the like. It could potentially have 4000+ hosts sending to it, but most likely it would only be 500-1000 systems. Most of the traffic comes from a dozen or so network firewalls.

[2015-04-01 15:47] elentar commented on #446
mitzkia, I tried using valgrind on the process but had trouble getting it to actually process logs when running under valgrind. Can you share the command you used? I can do that on my server to see what it reports.

[2015-04-01 16:04] mitzkia commented on #446
@elentar , of course, I used the following command:
sudo valgrind -v --log-file=valgrind.log --leak-check=full sbin/syslog-ng -F -f etc/syslog-ng-leak.conf --enable-core

It would be very usefull if you also can send a valgrind output.

[2015-04-01 17:43] elentar commented on #446
I'm running the valgrind command. After 5 minutes or so, I still haven't see any log messages actually processed, but we'll see if it just needs more time...

[2015-04-01 18:17] elentar commented on #446
Well, ran for about an hour and processed around 115,000 messages.

[code]

[2015-04-01 18:19] elentar commented on #446
There was no significant consumption of memory during this test. I'll try again with the time_reap(1) option.

[2015-04-01 18:35] mitzkia commented on #446
@elentar  After you tried with time_reap(1) could you copy-paste the most significant leaks what valgrind finds. It is right before the "Leak Summary" line. Thanks.

[2015-04-01 18:48] lbudai commented on #446
@mitzkia : what is your configuration?

[2015-04-01 18:55] mitzkia commented on #446
I am using this config:
[code]

[2015-04-01 19:33] elentar commented on #446
[code]

[2015-04-01 19:33] elentar commented on #446
Still no appreciable memory loss under valgrind. I'm now running normally to see if I observe that.

[2015-04-01 20:13] elentar commented on #446
I've discovered that most of the traffic has been shifted off of this server, so the log volume isn't high enough to cause this issue. I'm sending a duplicate stream from the current destination to this host and will report results.

[2015-04-02 00:43] elentar commented on #446
Unable to reproduce the memory issue so far. Will keep trying tomorrow.

[2015-04-02 08:48] umlaeute opened #448 "Maintain symlinks to current and previous log output files..."
This is an old feature request, that I would personally like to use as well, so i migrate it to the new tracker...

https://bugzilla.balabit.com/show_bug.cgi?id=14
http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=218688

nice.

[2015-04-02 10:19] bazsi commented on #448
I find this also useful, however I am very time constrained these days. So
maybe try to implement this and I will help with reviews and advice. Or ask
it on the mailing list, maybe you can find someone with the initiative to
help you.

Cheers,
Bazsi

--
Bazsi

On Thu, Apr 2, 2015 at 10:48 AM, umläute <notifications@github.com> wrote:

[2015-04-02 13:39] bazsi commented on #446
Hi,

Just a quick note that PR #447 should contain a related fix, at least the valgrind indicated leaks by @mitzkia should be fixed by that.

[2015-04-02 14:20] micada67 opened #449 "error: redefinition of typedef 'LogTemplateOptions'"
Hello,
Probably an issue with redefinition of typedef 'LogTemplateOptions'.
In file included from lib/template/macros.h:29,
                 from lib/logmsg.c:37:
lib/template/common-template-typedefs.h:27: error: redefinition of typedef 'LogTemplateOptions'
lib/template/common-template-typedefs.h:27: note: previous declaration of 'LogTemplateOptions' was here
make[2]: *** [lib/lib_libsyslog_ng_la

[2015-04-02 14:24] micada67 opened #450 "Issue with name of tar.gz file "syslog-ng_3.7.0alpha2.tar.gz" and spec file expectation."
Hello,
The spec file used vy rpmbuild expects : syslog-ng_3.7.0alpha2.tar.gz
The name of the source file is : syslog-ng-3.7.0alpha2.tar.gz
Rpmbuild command fails if minus not replaced with an underscore...

[2015-04-02 15:57] bazsi commented on #450
Hi,

The underscored version is the Debian source code package, but I don't know
too much about spec file intricacies myself. I've cced Peter Czanik, he
maintains the spec file, maybe he can help here with the process.

Cheers,
bazsi

--
Bazsi

On Thu, Apr 2, 2015 at 4:24 PM, micada67 <notifications@github.com> wrote:

[2015-04-03 12:30] bazsi commented on #439
closed by merging the PR #438

[2015-04-03 12:30] #439 closed

[2015-04-03 12:52] bazsi commented on #449
Do you have an exact version number? I don't see this issue personally and I don't even see why my current "master" would have this error in it by looking at the code.

Thanks.

[2015-04-03 13:35] lbudai commented on #449
I saw this issue somewhere ...
here it is:  #317 .

[2015-04-03 13:37] bazsi commented on #449
But the fix for that was already merged. So this shouldn't be an issue anymore. Can you pls check with the latest master?

Thanks.

[2015-04-05 23:49] juju4 commented on #173
Hello Gregory,

Sorry for the delay. Not found your macosx branch but gave a try to latest devel/commit and it seems to get better. Not full compile but.

Once I solve new dependencies issues, I arrive at the following error
[code]
I'm doing a macports Port.
same error with CFLAGS=-D__sun

[2015-04-06 09:09] gregory094 commented on #173
Hello!
Np. I'm working on integrating my macosx branch to syslog-ng (3.7, 3.6) it just takes time to solve the problems. There is only one barrier left for the integration that is ivykis depencency. If my solution can be accepted to their repo all my branches can be merged.
Till then: [here](https://github.com/gregory094/syslog-ng/tree/3.6/f/macosx) you can find my branch.  Try that, I hope it wil

[2015-04-06 17:02] mimoo opened #454 "Documentation: cipher-suite"
Hi!

In the TLS part of the documentation there is a list of cipher-suite. Seems like it's a copy/pasta of the wrong section of OpenSSL. I did a few tests and none of those work (which is a good thing) and any cipher from `openssl ciphers` seem to work. Looking at the code it seems like it is only a documentation error and nothing more (so I probably wouldn't worry too much about it). So yeah, doc

[2015-04-06 22:15] juju4 commented on #173
I gave a try to yours and it fails on man page

[code]

I have 10.10.2 and you can see my ports update here
https://trac.macports.org/ticket/43231

[2015-04-06 23:32] gregory094 commented on #173
Yes, generation of manages hasn't been merged to macosx support yet. You install docbook-xsl using homebrew and specify XSL_STYLESHEET variable to point to your Cellar docbook-xsl installation.
example: `make XSL_STYLESHEET=/usr/local/Cellar/....../docbook.xsl`
This will work! (The problem is that this path is burnt into to the makefile. I've already fixed that in #431 and #440.)
My branch hopeful

[2015-04-07 00:59] juju4 commented on #173
yeah. easy. add to my Portfile. build fines. install/destroot fails while it looks for doc/examples/header. Will look into it later.
Thanks a lot for the help!

[2015-04-07 04:57] bazsi commented on #454
Thanks. Docerrors are also important, so thanks a lot.

[2015-04-07 11:17] micada67 commented on #450
OK Thanks !

[2015-04-07 11:28] czanik commented on #450
I don't maintain the spec file inside the syslog-ng source tgz, instead maintain syslog-ng rpm-s (and their spec files) in distributions and their build services. I don't have yet a spec file for 3.7, but plan to prepare packages once 3.7 beta1 is released. Which distribution do you use?

[2015-04-07 11:29] micada67 commented on #449
OK : in fact, I tried : syslog-ng-3.7.0alpha2.tar.gz

[2015-04-07 11:53] micada67 commented on #450
I tried : syslog-ng-3.7.0alpha2.tar.gz from  https://github.com/balabit/syslog-ng/releases
more VERSION
3.7.0alpha2  ... ( I have got an other issues see  #449 error: redefinition of typedef 'LogTemplateOptions' : perhaps, this is not the latest version ?).

[2015-04-08 09:43] hbakken opened #458 "syslog-ng asserts in on certain systems when hostname is blank"
I have a series of products running a Linux from scratch-type linux distro using syslog-ng-3.6.2.  These systems often does not have a hostname set, and I've noticed that on some, but not all, syslog-ng keeps crashing.

Running it manually, I see the error is:
ERROR:lib/hostname.c:69:validate_hostname_cache: assertion failed: (local_hostname_fqdn[0] != 0)

The weird part is that I also have system

[2015-04-08 11:44] hbakken commented on #458
I have a theory as to why this only happens on certain boxes.  I think the caller might be:

lib/logwriter.c:
  len = g_snprintf(buf, sizeof(buf), "Last message '%.20s' repeated %d times, suppressed by syslog-ng on %s",
                   log_msg_get_value(self->last_msg, LM_V_MESSAGE, NULL),
                   self->last_msg_count,
                   get_local_hostname_fqdn());

[2015-04-08 12:26] Gu1 opened #459 "Segfault when reading journald log files"
On my Arch system, syslog-ng segfaults when starting.
Here is the backtrace:
[code]

This seems to happen because journald_foreach_data can pass a NULL key to the callback when there is no "=" in the message, but __handle_data() in journal-reader.c doesn't check for it.
I've ran journalctl --verify and my log isn't corrupted.

[2015-04-08 13:20] dnsjts commented on #459
I am trying to reproduce the issue.
Could you upload the syslog-ng configuration in the meantime?

[2015-04-08 14:50] algernon commented on #459
Not sure how one can end up with a journal data value without `=`. My attempts at constructing such a message failed so far. Nevertheless, that case should be handled gracefully by syslog-ng nevertheless.

[2015-04-08 15:05] Gu1 commented on #459
The only custom journald configuration I have is ForwardToSyslog=yes:
[code]

As for syslog-ng, I also use the default configuration provided by archlinux, the only difference I see is the /proc/kmsg source :

[code]

[2015-04-09 10:19] hbakken commented on #458
One funny thing here is that I have some systems where, when syslog-ng starts up early during startup, it works fine, logs like a charm.  Then, if I stop it and start it manually, it breaks (same assertion) on the first incoming log line.

[2015-04-09 14:10] ihrwein commented on #454
@fekete-robert: users may use different OpenSSL versions so a fixed list in the admin guide mayn't be the best idea. I think we should mention the `openssl ciphers` command and we might indicate, that the `1.0.1m` release contains these ... cipher suits. I can paste them here :)

[2015-04-09 14:32] fekete-robert commented on #454
Thanks, will update soon-ish

[2015-04-09 14:36] ihrwein commented on #454
Here they are:

[code]

[2015-04-09 15:15] mimoo commented on #454
quick way to get them with your version:

[code]

[2015-04-10 15:33] elentar commented on #446
This issue still occurs, but I have not been able to capture it under valgrind. When running under valgrind, syslog-ng processes only about half the message volume; presumably the rest of the incoming traffic gets dropped. It currently takes around 12 hours before we see the memory leak start to manifest, with traffic around 6000+ msgs/second.

pmap reports that the syslog-ng process has many allo

[2015-04-13 09:15] bazsi commented on #446
Thanks. that allocation above seems to be a heap arena. I have recently investigated a memory consumption situation myself and couldn't find an actual leak using valgrind. What helped in my case tremendously was using jemalloc as an LD_PRELOAD-ed library. I am not sure what causes the libc allocator to start eating memory, further investigation would be needed (and I am not saying it's not a bug i

[2015-04-13 15:43] elentar commented on #446
I ran over the weekend under valgrind. The system lost around 3GB of memory before I killed it. I will attach the valgrind output in case it helps anyone, but it doesn't seem to show anything helpful.

Perhaps this is not a classic memory leak but rather just some internal buffer or cache that grows without bound?

[2015-04-13 15:45] elentar commented on #446
Apparently I can't attach text files.

[code]

[2015-04-13 18:54] elentar commented on #446
Running under jemalloc, will report stats.

[2015-04-14 07:34] lbudai commented on #173
Hmmm... the alias problem is a new one (started to using those aliases in #426  ).

[2015-04-14 09:35] #441 closed

[2015-04-14 18:02] elentar commented on #446
Ran for about a day before syslog-ng dumped core, so I wasn't able to gather statistics from jemalloc.

[2015-04-14 18:27] elentar commented on #446
I'm giving up on 3.6, it's entirely too unstable. Perhaps this will get better with 3.7 but for now I'll use 3.5 with the missing source stats, and will look at other software to replace syslog-ng in the longer term.

[2015-04-14 19:32] ihrwein commented on #427
The PR which solved this issue has been merged, so I'm closing this.

[2015-04-14 19:32] #427 closed

[2015-04-14 22:40] bazsi commented on #446
Sorry to hear. I know that tracking down bugs can be frustrating and I
really appreciate the effort you put into it. Do you perhaps have info
during the 1 day runtime of syslog-ng? did it grow?

We could perhaps help you somewhat more if we could log into the system,
perhaps analyse its behaviour. Are you open to that?

thanks

--
Bazsi

On Tue, Apr 14, 2015 at 8:27 PM, Pradeep Sanders <notificati

[2015-04-14 22:53] elentar commented on #446
![e237cf3d40299660fb06b25e6bac2e04](https://cloud.githubusercontent.com/assets/1018128/7149107/5786ba80-e2be-11e4-8a25-8149c8bd4128.png)

[2015-04-14 22:54] elentar commented on #446
Attached an image. Ran over the weekend under valgrind through 4/12, then switched to jemalloc until this morning when it crashed.

[2015-04-14 23:07] bazsi commented on #446
You injected jemalloc under valgrind?

--
Bazsi

On Wed, Apr 15, 2015 at 12:54 AM, Pradeep Sanders <notifications@github.com>
wrote:

[2015-04-15 01:54] elentar commented on #446
No, I killed valgrind and restarted syslog-ng under jemalloc pretty much as you recommended except to define the MALLOC_CONF environment variable so I would get a stats printout. Unfortunately, I didn't get to see the stats due to the core dump.

I have been testing this on a production syslog server, which unfortunately means losing logs when syslog-ng dies. Since I can't keep doing that, I'm goi

[2015-04-15 06:19] bazsi commented on #446
Thanks a lot. Do you haopen to have a core for the crash?
On Apr 15, 2015 2:54 AM, "Pradeep Sanders" <notifications@github.com> wrote:

[2015-04-15 16:31] elentar commented on #446
I do. It's 800MB. Here's the bt:

[code]

[2015-04-15 22:40] Gu1 commented on #459
Any update on this ?

[2015-04-16 15:38] bazsi commented on #459
I have opened a pull request in parallel, PR #462, ops, should have checked first :)

anyway, I like my solution a bit more, as we drop the value earlier, not passing invalid data to the foreach function, but please feel free to merge any of the two fixes.

Cheers,
Bazsi

[2015-04-16 15:49] bazsi commented on #458
hmm.. it seems that gethostname() call returns an empty string on your host.

Can that happen? I've added just submitted a patch that avoids the abort in this case and assumes the local host name is "localhost".

[2015-04-16 16:05] bazsi commented on #446
hmm... somewhat difficult to analyse without symbols. the abort string
would also help, but anyway here's what I have found:

* this is a new thread, probably a worker thread
* it aborts the entire process in ivykis (the event dispatching library we
use)
* iv_fd_init() can abort in two cases
   1) when it fails to identify the polling method to use (this only runs
in the initial thread, so it cann

[2015-04-16 16:28] elentar commented on #446
I've only seen the crash when running under jemalloc; under normal operation it just runs out of memory. Once we have a test instance I can try to test further.

[2015-04-16 17:43] hbakken commented on #458
Balazs Scheidler <notifications@github.com> writes:

Apparently it can...  I've fixed our systems so they always set
hostname, but it seems like you need to actually set localhost manually
(although I'm sure most distros will do that for you).

Thanks for the fix, though.

--
Henrik Grindal Bakken <hgb@ifi.uio.no>
PGP ID: 8D436E52
Fingerprint: 131D 9590 F0CF 47EF 7963  02AF 9236 D25A 8D43 6E52

[2015-04-17 11:04] bazsi commented on #446
Lsof on the production instance should not interfere with logging.
On Apr 16, 2015 6:28 PM, "Pradeep Sanders" <notifications@github.com> wrote:

[2015-04-17 11:34] juhaszviktor commented on #459
+1
@Bazsi: I think your PR is better, than mine :)

BR,
Viktor

On Thu, Apr 16, 2015 at 5:38 PM, Balazs Scheidler <notifications@github.com>
wrote:

[2015-04-20 11:31] czanik commented on #317
SLES 11 is also affected:

[  180s]   CC     lib/rewrite/lib_libsyslog_ng_la-rewrite-expr-grammar.lo
[  181s]   CC     lib/rewrite/lib_libsyslog_ng_la-rewrite-groupset.lo
[  181s]   CC     lib/template/lib_libsyslog_ng_la-templates.lo
[  181s] In file included from ./lib/template/repr.h:28,
[  181s]                  from lib/template/templates.c:25:
[  181s] ./lib/template/function.h:31: error: re

[2015-04-20 14:12] czanik commented on #317
And RHEL 6 is also affected:

  CC     lib/rewrite/lib_libsyslog_ng_la-rewrite-groupset.lo
  CC     lib/template/lib_libsyslog_ng_la-templates.lo
In file included from ./lib/template/repr.h:29,
                 from lib/template/templates.c:26:
./lib/template/function.h:31: error: redefinition of typedef 'LogTemplateOptions'
./lib/template/common-template-typedefs.h:27: note: previous declaration

[2015-04-20 19:32] benoiton opened #464 "Too much "Error opening file for writing""
I use 2 outputs:
* one on local filesystem (/var/log/syslog file, on /var filesystem),
* one on GlusterFS filesystem (mounted on /var/rlog).

It happens the remote filesystem to be disconnect. In such a situation, error messages are appended to /var/log/syslog ("Error opening file for writing; filename='/var/rlog/2015-04-18.messages', error='Transport endpoint is not connected (107)'"). With more

[2015-04-20 19:40] bazsi commented on #317
Is this still alpha1 or the latest master? We did commit a fix past alpha1.

Pls attach the exact git commit.

Thanks
On Apr 20, 2015 4:12 PM, "czanik" <notifications@github.com> wrote:

[2015-04-20 19:52] czanik commented on #317
Today's tests were done on 3.7.0beta1 release tgz.

[2015-04-21 08:28] czanik commented on #434
On Fedora 21 https://github.com/balabit/syslog-ng/commit/1acf680465afffede9206c00ae302d7483b40f27 seems to solve the problem completely (https://bugzilla.redhat.com/show_bug.cgi?id=1213536)

openSUSE 13.2 already has this change, but still opens both /dev/log and /run/systemd/journal/syslog

[2015-04-22 07:37] ihrwein commented on #434
@czanik Do you use the below service file on openSuse 13.2?

https://github.com/balabit/syslog-ng/blob/master/contrib/systemd/syslog-ng.service

[2015-04-22 07:42] czanik opened #465 ""make check" fails on fedora"
It's on Fedora 21, 64bit. One check fails during "make check":
[code]

[2015-04-22 07:44] czanik commented on #465
Oops, forgot to mention the syslog-ng version:

[czanik@localhost bla]$ syslog-ng -V
syslog-ng 3.7.0beta1
Installer-Version: 3.7.0beta1
Revision:
Compile-Date: Apr 22 2015 04:53:38
Available-Modules: pseudofile,syslogformat,system-source,afsocket,graphite,afstomp,affile,cryptofuncs,basicfuncs,csvparser,confgen,afuser,sdjournal,linux-kmsg-format,afprog,afamqp,dbparser,json-plugin
Enable-Debug: off

[2015-04-22 07:46] juhaszviktor commented on #465
Hi,

try to install the python-unit or python-unittest2 ;)

BR,
Viktor

On Wed, Apr 22, 2015 at 9:44 AM, czanik <notifications@github.com> wrote:

[2015-04-22 08:07] czanik commented on #465
Thanks. Added
[code]
to the spec file, but I still get the same message:
[code]

[2015-04-22 08:16] algernon commented on #465
The `nosetests` command is likely in the `python-nose` package, or something very similar.

[2015-04-22 09:21] czanik commented on #434
openSUSE has this syslog-ng.service:

[Unit]
Description=System Logging Service
Requires=var-run.mount
Requires=syslog.socket
After=var-run.mount
Conflicts=rsyslog.service syslogd.service

[Service]
Environment=SYSLOG_NG_PARAMS=
ExecStartPre=/usr/sbin/syslog-ng-service-prepare
EnvironmentFile=-/etc/sysconfig/syslog
ExecStart=/usr/sbin/syslog-ng -F $SYSLOG_NG_PARAMS
ExecReload=/bin/kill -HUP $MAINP

[2015-04-22 09:26] ihrwein commented on #434
I would try to remove `Requires=syslog.socket` and add `Type=notify` (as it is in the mentioned link).

[2015-04-22 09:40] czanik commented on #465
I ended up adding these packages as BuildRequires:

BuildRequires: python-unittest2
BuildRequires: python-nose
BuildRequires: python-ply
BuildRequires: python-pep8
BuildRequires: pylint

And now syslog-ng compiles all Fedora versions except F22, where it still
fails with the following message:
[code]
Is it a real failure, or something is still missing on this platform?

Peter Czanik (CzP) <peter.c

[2015-04-22 10:31] czanik commented on #465
BuildRequires: python-six

[2015-04-22 10:31] #465 closed

[2015-04-22 10:40] czanik commented on #434
This way syslog-ng did not start at all.

I also tried the syslog-ng.service from git, but it reported failure even when syslog-ng was started, and the original problem remained (both /dev/log and /run/systemd/journal/syslog opened).

[2015-04-22 13:23] bazsi commented on #317
Hi,

Can you pls provide access to a freebsd image where this occurs? maybe
login to your env when you are in the office?
thanks

--
Bazsi

On Mon, Apr 20, 2015 at 9:52 PM, czanik <notifications@github.com> wrote:

[2015-04-22 13:32] bazsi commented on #464
hmm.. syslog-ng should by default suspend to writing to a destination where
an error happens. this is controlled by time_reopen() as an option. a quick
browse through the source seems to indicate that it should work, although
I'm looking at the latest git master source code.

which version of syslog-ng do you use? the alternative of suspending the
file destination for a minute would solve this pro

[2015-04-22 13:54] czanik commented on #317
I can upload it somewhere when I'm next in the office. But you don't need FreeBSD: it fails with any slightly older GCC, so also on RHEL6, SLES11

[2015-04-22 18:51] bazsi commented on #317
I dont have either of those.
On Apr 22, 2015 3:54 PM, "czanik" <notifications@github.com> wrote:

[2015-04-22 20:35] benoiton commented on #464
I use v3.5.6.
time_reopen() is not configured. [Default value](https://www.balabit.com/sites/default/files/documents/syslog-ng-ose-3.5-guides/en/syslog-ng-ose-v3.5-guide-admin/html/reference-options.html#idp63928704) should apply (60s).

[2015-04-23 11:26] ihrwein commented on #454
@fekete-robert Can we close this now or should be keep it open as a reminder?

[2015-04-23 11:29] ihrwein commented on #434
Did you enable (and start) syslog-ng with systemctl?

[2015-04-23 11:36] ihrwein commented on #459
Bazsi's solution, https://github.com/balabit/syslog-ng/pull/462 is merged. Do you wish to verify it? Otherwise we may close this issue.

[2015-04-23 11:40] ihrwein commented on #458
@hbakken Can we close this issue?

[2015-04-23 11:48] ihrwein commented on #450
We have a new beta release:

https://github.com/balabit/syslog-ng/releases/tag/syslog-ng-3.7.0beta1

Can we close this rpm related issue?

[2015-04-23 11:51] hbakken commented on #458
Yes, probably.  I haven't been able to test it, but the fix looks good.

[2015-04-23 11:51] #458 closed

[2015-04-23 12:26] ihrwein commented on #394
algernon's fix is ported to the master branch. I think this can be closed. Thanks!

[2015-04-23 12:26] #394 closed

[2015-04-23 14:58] czanik commented on #434
Yes.

BTW: 3.6.2 works fine with the quoted openSUSE syslog-ng.service. The
problem is, that openSUSE 13.2 includes syslog-ng 3.5.6...

Peter Czanik (CzP) <peter.czanik@balabit.com>
BalaBit IT Security / syslog-ng upstream
http://czanik.blogs.balabit.com/
https://twitter.com/PCzanik

On Thu, Apr 23, 2015 at 1:29 PM, Tibor Benke <notifications@github.com>
wrote:

[2015-04-23 16:16] Gu1 commented on #459
I think you can close it. I'll create another one if there are other problems or crashes.

[2015-04-23 19:36] ihrwein commented on #459
Ok, thanks!

[2015-04-23 19:36] #459 closed

[2015-04-24 11:36] faxm0dem opened #467 "Enhancement: geoip support for lon/lat"
It would be nice to be able to extract longitude and latitude from `tfgeoip`.
Use case: [kibana4](https://www.elastic.co/products/kibana) no longer supports `country_code` for mapping data, but only [geo points](http://www.elastic.co/guide/en/elasticsearch/reference/current//mapping-geo-point-type.html).

[2015-04-24 11:37] fekete-robert commented on #454
Hi, I'm planning to get these bugs done next week. I'll let you know when I'm done

[2015-04-27 19:54] kbbl1977 opened #469 "problem with commiting transactions in SQL backend after upgrade to 3.6"
Hello,
i'm storing some parsed messages from maillog into postgres database using "sql" backend.
For better performance, tha backend has set these flags:
"
flags(dont-create-tables,explicit-commits)
flush_lines(20)
retry_sql_inserts(1)
"
Especially interesting is "explicit-commits".
From time to time, there are some mangled messages which are rejected by SQL server due to some invalid data in stri

[2015-04-28 07:50] lbudai commented on #469
Hi,

there were some refactors and fixes -and based on your riport, a new bug - around transactions in 3.6.2.
We will check this issue.

[2015-04-28 11:58] pzoleex commented on #469
Hello,

Indeed, there is a bug in transaction handling. Here is a workaround: use retry_sql_inserts(2) because the second retry will call a commit and that will fix the problem.

[2015-04-28 12:06] kbbl1977 commented on #469
oh thanks for the hint with the retry_sql_inserts(2), i'll try that.

[2015-04-28 12:12] kbbl1977 commented on #469
i also wanted to mention, that together with those transaction problems came memory leaks.
On some of our servers, there was no problem for syslog to consume gigabytes of memory.
After disabling the transactions, this seems to quiet down.
This far (a few days) syslog is running ok.

[2015-04-28 12:30] kbbl1977 commented on #469
oops, looks like the "retry_sql_inserts(2)" really works.

i was using value of "1", because i did not needed any more retries, as it was obvious there is error in data. However i have no problem with using value "2".

I'll set this on other servers and will let know if it looks ok.
Many thanks

[2015-04-28 18:43] jirib opened #470 "[openbsd] build problem - error: expected specifier-qualifier-list before 'time_t'"
I tried to build 3.6.2 on OpenBSD 5.7 amd64 snapshost (Fri Apr 24 12:59:17 MDT 2015) and it fails because of time_t.

[code]

http://cvsweb.openbsd.org/cgi-bin/cvsweb/~checkout~/src/include/utmp.h?rev=1.6

[code]

[2015-04-28 20:01] jirib commented on #470
this makes it work

[code]

[2015-04-29 06:01] algernon commented on #470
Proposed patch looks good to me. :+1:

[2015-04-29 06:20] bazsi commented on #470
I've committed this change (and a related one) and created a pull request. Thanks a lot for fixing this.

[2015-04-30 11:48] faxm0dem commented on #374
Here's a minimal configuration file which makes syslog-ng spin:

[code]

[2015-04-30 11:53] faxm0dem commented on #374
The problem seems to be broader: whenever the child process dies, syslog-ng starts spinning.
IMHO syslog-ng should:

* disable the source for a configurable period
* reinitialize it after that period (rerun the command)
* completely disable the source after a configurable amount of retries

[2015-04-30 11:57] aucampia opened #472 "Explanation of preprocessing and preprocessor directives"
The syslog-ng OSE administration guide and man page does not explain how preprocessing works and what preprocessor directives can be used. In section "5.8.1. Including configuration files" there is some explanation of `include` but without the `@` in front - which makes it a bit confusing.

Suggested Changes:
- Include a section in syslog-ng.conf man page and admin guide to explain preprocessing h

[2015-04-30 12:46] lbudai commented on #446
Today we've found something...

1. if internal messages are not processed (via `internal()` source) AND syslog-ng started in foreground mode without `-e` then we leak lots of messages  (`log_msg_new_internal` )

Just use `internal()` source.

2. when a filename in a file destination contains a macro, we found a huge memleak
case a) macros in filenames
![image](https://cloud.githubusercontent.com/a

[2015-04-30 12:51] lbudai commented on #469
Hi,

for memory leak: patch #473  and issue #446

[2015-04-30 12:55] kbbl1977 commented on #469
Hello,

i've updated config on my servers
setting "retry_sql_inserts(2)" helps to avoid problems with transactions, so i'm using it for now.

However it vould be fine if syslog handles transactions correctly even for "retry_sql_inserts(1)".

Many thanks
Tomas

[2015-04-30 13:25] faxm0dem commented on #472
:+1:

[2015-04-30 16:26] elentar commented on #446
We definitely use macros in filenames; thousands of files get written using them. I'll put some work into building a new version with this to test it out.

-Pradeep

[2015-04-30 19:15] lbudai commented on #287
@faxm0dem : Do you have file destinations where filenames containing macros?
Maybe your problem is related to #446 .

[2015-04-30 19:25] lbudai commented on #446
I've merged PR #473 into 3.6/master.
You can use that branch.
If you need help in building syslog-ng from source, just contact us.

[2015-04-30 20:05] faxm0dem commented on #287
No sadly I don't. I have Riemann and perl destinations with macros in options

[2015-05-04 08:22] ihrwein commented on #287
@faxm0dem : We found a new tool which may help us to identify your problem, too. Could you give it a go?

On CentOS 7 the installing steps are:

[code]

After a successful installation you can run syslog-ng with the following command:

[code]

It will create a `gzip` file and after you stopped it, it prints something like this:

[code]

It would be nice to see the output of `heaptrack_print`. The

[2015-05-04 09:06] faxm0dem commented on #287
Do you know if this will compile on EL6?

[2015-05-04 09:19] ihrwein commented on #287
I checked it and it's `gcc` doesn't support C++11 which is required. Can you upgrade your `gcc` to 4.8? Or `clang` 3.3 would be also good.

[2015-05-04 11:44] gregory094 commented on #406
#445

[2015-05-05 08:29] deirf opened #475 "Add a warning message to netmask6 filter driver when filter is invalid."

[2015-05-05 08:30] deirf opened #476 "Fix netmask6 filter on bigendian systems"

[2015-05-05 12:00] faxm0dem commented on #318
For the record we stumbled on something similar with a standard ` network()` destination

[2015-05-06 09:52] AstroFloyd commented on #121
I have the same issue, also on a Gentoo system.  My observations are:
* the problems started when I upgraded from syslog-ng v3.4.8 to v3.6.2
* the 'wrong' timestamp only occurs in lines with "kernel:", not in any other (bluetoothd, su, cron, etc.)
* the problem shows in /var/log/messages and other logs showing the kernel messages
* the time offset is reset to a few seconds after a reboot
* the tim

[2015-05-06 10:45] benkibbey commented on #121
The problem went away for me. I think it had something to do with adjtimex needing to reset or recalibrate /etc/adjtime, I dont remember exactly. But it has fixed itself for a while. If I can remember what changed I'll let you all know.

[2015-05-06 14:57] toralf commented on #121
I' running 2 Gentoo boxes (1 server, 1 desktop) and do suffer from this issue on my desktop.

The issue started with 3.6.x, 3.4.x was fine. I do not hibernate my desktop, but I do s2ram often.

Here's an example :
May  1 11:20:01 t44 CROND[12761]: (root) CMD ([ ! -x /etc/cron.hourly/0anacron ] && { test -x /usr/sbin/run-crons && /usr/sbin/run-crons ; })
Apr 30 10:15:19 t44 kernel: wlp3s0: AP 08:96

[2015-05-06 22:16] benkibbey commented on #121
Debian has an /etc/default/adjtimex file to set values to correct drift. My values for this file are:

TICK=10000
FREQ=2712500

which is set during startup with /etc/init.d/adjtimex that does:

/sbin/adjtimex -tick "$TICK" -frequency "$FREQ"

Debian ships with adjtimexconfig to help set those two variables which is used with /etc/adjtime. Then I have a cronjob to call ntpdate hourly. The drift is

[2015-05-07 08:05] gregory094 opened #477 "test issue"
test issue

[2015-05-07 08:41] AstroFloyd commented on #121
Here's an example of 5 consecutive lines from my /var/log/messages, written on May first:

All "kernel:" lines give the wrong timestamp.  You can see that the time jumps by about 13 days and 7 hours, then -13d7h, +13d7h and -13d7h in the course of ~1-2s, when using syslog-ng v3.6.2.  This is not a drift, as seems to be the case for @benkibbey.  13d7h is consistent with the amount of time my laptop

[2015-05-07 09:15] gregory094 commented on #477
test

[2015-05-07 09:24] gregory094 commented on #477
dfskl;jkfklds
l;djl;dsjl;gds
gdsjl;gdsJL:gds
klgdl;fgdjl;fgds

[2015-05-07 09:27] gregory094 commented on #477
dfskl;jkfklds
l;djl;dsjl;gds
gdsjl;gdsJL:gds
klgdl;fgdjl;fgds

[2015-05-07 10:47] algernon commented on #121
FWIW, I see the following on my laptop:

[code]

But the date is `Thu May  7 12:32:32 CEST 2015`. Non-kernel logs are fine, and in `/var/log/messages`, the above messages appear with correct date:

[code]

This is using 3.6.1, but I don't see anything obvious in the 3.6.2 changes that would change the behaviour.

@AstroFloyd, @benkibbey does your `dmesg -T` agree with what's written to `/var/log/m

[2015-05-07 11:44] #477 closed

[2015-05-07 11:47] lbudai commented on #446
any update?

[2015-05-07 11:52] elentar commented on #446
So far the memory issue has not re-occurred. I see the process use about 3GB of ram and then level out. I'll want to run longer to be sure but it does look promising.

Graph attached. Process was restarted where the vertical jumps occur.

-Pradeep

[2015-05-07 13:18] faxm0dem opened #478 "geoip segfault"
I'm seeing regular segfaults (once a day) pointing to geoip:

    segfault at 28 ip 00007fe99d1df761 sp 00007fe845187d70 error 4 in libGeoIP.so.1.5.1[7fe99d1d7000+33000]

According to the [library's documentation](https://github.com/maxmind/geoip-api-c/blob/master/ChangeLog) the version I'm using is thread safe.

I'm using syslog-ng 3.6.2

PS: fix issues/228 was included

[2015-05-07 14:35] ihrwein commented on #446
@elentar it seems like GitHub doesn't support attached images via e-mail. Could you upload it to somewhere?

[2015-05-07 15:32] algernon commented on #478
Maybe we're passing NULL somewhere? Or a kind of input geoip doesn't like. Figuring out what input it crashed on would be great... or a backtrace, that should give a hint.

[2015-05-07 16:49] elentar commented on #446
![pastedgraphic-1](https://cloud.githubusercontent.com/assets/1018128/7520815/2bdac1be-f507-11e4-9047-ee3632df393b.png)

[2015-05-11 12:51] #449 closed

[2015-05-12 17:11] #470 closed

[2015-05-12 18:30] gregory094 commented on #406
Closed by #445. Merged.

[2015-05-12 18:30] #406 closed

[2015-05-12 18:53] gregory094 opened #484 "forwardport file reopen timer"

[2015-05-13 09:06] gregory094 opened #485 "drone.yml configuration file for drone.io build"
drone.io has a support for adding drone.yml file similar to .travis.yml where one can write build steps. It would be much easier to maintain the changes in the build process and share it with others to build their syslog-ng repo on drone.io.

[example](https://github.com/drone/drone/blob/master/.drone.yml)

p.s.: using this config we can integrate drone.io to [gitter](https://gitter.im/balabit/sys

[2015-05-14 16:13] veita commented on #360
Version 3.6.2 came in at 2015-05-09. No binary data in the log since then.

[2015-05-14 16:13] #360 closed

[2015-05-14 19:19] bazsi commented on #360
Thanks a lot for the feedback.
On May 14, 2015 6:14 PM, "Alexander Veit" <notifications@github.com> wrote:

[2015-05-15 11:01] pzoleex opened #487 "syslog-ng cannot create file if macro in filename"
For example, I tested when the macro was created by csv-parser (but it does not need csv-parser, just macro in filename)

Reproduction:
start syslog-ng with the config below
echo "<38>1 2012-03-05T15:10:34+02:00 localhost prg00000 1234 - - almafa, kortefa, citromfa" >> /var/testdb_working_dir/73200b7f-194a-41d8-aca9-42f376be13a5

Expected result:
file created: /var/testdb_working_dir/a3780e9e-c13b

[2015-05-19 07:52] faxm0dem commented on #478
(Un?)fortunately my production server's yum decided to upgrade GeoIP to 1.6.5 which made the problem disappear. I'm closing this, thanks @ihrwein for trying to fix this

[2015-05-19 07:52] #478 closed

[2015-05-26 11:42] lbudai commented on #469
PR #491 should solve this.

[2015-05-26 12:18] #469 closed

[2015-05-26 14:27] ihrwein commented on #121
I've checked the difference between `3.4.8` and the current master. In `3.4.8` we use *only* `/proc/kmsg`.  In `3.6.2` we first try to open `/dev/kmsg` and if that fails we move to use `/proc/kmsg`.  This happens on Linux machines.

Could somebody test a patch if I make one?

[2015-05-26 14:33] toralf commented on #121
Why not - my Gentoo Linux here makes it easy to apply patches.
(just FWIW I switched back in the mean while my Gentoo Linux desktop to 3.4.8 b/c 3.6.2 was no longer useful, but would give the patch a try)

[2015-05-27 01:17] johntdyer commented on #446
Is there any ETA on when 3.6.3 will drop ?

[2015-05-27 08:23] lbudai commented on #446
Hi,

within a few days (we have two PRs and an issue what we want to check).

[2015-05-27 08:31] ihrwein commented on #121
@toralf: Before we go for that (`/proc/kmsg` can be read safely only by one consumer) could you try something?

Now, we read messages from `/dev/kmsg`. It's also used by `dmesg` which says in its manual (Ubuntu Trusty):

[code]

The time drift is also affected by BIOS time. You may check your BIOS time with the following command (as root):
[code]
To print out the system time, execute `date`.

The

[2015-05-27 09:31] algernon commented on #121
FWIW, see my analysis [above](https://github.com/balabit/syslog-ng/issues/121#issuecomment-99811104). The straightforward solution is to not use the date parts of `/dev/kmsg`, but add our own.

Keep in mind that restarting syslog-ng will re-read `/dev/kmsg`, as far as I remember, because we don't empty the buffer, nor do we track where we left of. This may have been fixed without me noticing, but

[2015-05-27 10:22] lbudai commented on #446
hmm... I didn't want to close it...

[2015-05-27 10:48] ihrwein commented on #121
@algernon I overlooked that, thanks.

[2015-05-27 11:14] fekete-robert commented on #454
Hi,
You can close it now, I have fixed it, and will be published later this week.

[2015-05-27 11:29] ihrwein commented on #121
@toralf Could you test the fix? You can find the commit above this comment.

[2015-05-27 12:50] toralf commented on #121
I''' try to test it.
FWIW :

$ sudo hwclock --show; date
Wed 27 May 2015 02:49:58 PM CEST  -0.734753 seconds
Wed May 27 14:49:58 CEST 2015

BTW - I didn't found an easy way to download the patch directly from the given link - do I overlooked the download button ?

[2015-05-27 12:52] ihrwein commented on #121
Just a moment, I'll paste it here.

[2015-05-27 12:57] ihrwein commented on #121
[code]

[2015-05-27 15:20] algernon commented on #121
@toralf: Append .patch to the URL, and it becomes easily downloadable.

[2015-05-27 16:49] mimoo commented on #454
:thumbsup:

[2015-05-27 16:49] #454 closed

[2015-05-27 18:37] toralf commented on #121
@ihrwein : at a first glance that seems to work, will observe it  over the next few days

@algernon: cool hint - somebody should tell github devs to code that into a nifty bottun.

[2015-05-28 11:21] algernon opened #495 "modules/java build issues"
When trying to compile syslog-ng with `make -j4`, I got the following results:

[code]

Trying to track things down, I noticed a few more things:

* Unlike most (if not all) other modules, `modules/java/Makefile.am` adds `libmod-java.la` to `module_LTLIBRARIES`, instead of `modules/java/libmod-java.la`. It also doesn't have the `mod-java` and `modules/java` shortcut targets, which would have made

[2015-05-28 11:54] faxm0dem commented on #495
I had that today too, trying to build master

[2015-05-28 13:30] faxm0dem commented on #401
As it turns out, this is due to fragmented datagrams. It has nothing to do with syslog-ng, but rather with riemann. For the record, here is how one can silence these (and possibly more) messages in riemann:

[code]

[2015-05-28 13:30] #401 closed

[2015-05-29 21:20] mmannerm opened #498 "Riemann destination does not handle closing TCP connection very well"
There is an issue in the underlying riemann_c_client that is used, that it does not check whether the TCP connection is alive or not: https://github.com/algernon/riemann-c-client/issues/9

This will result that if you have for example AWS ELB in front of riemann, which will issue TCP FIN after e.g. 60 seconds on no activity, the TCP connection dies, but syslog-ng does not realize it and keeps tryi

[2015-06-01 07:25] algernon commented on #498
The fix for this is [here](https://github.com/algernon/syslog-ng/commit/986404a56e01485be215490142090a3d3e1f4614). The patch needs some work, because ideally, the timeout would be configurable.

Also, `riemann-c-client` 1.8.0 will have a function to do the same thing. Nevertheless, syslog-ng should keep using direct `setsockopt()`, to keep the required `riemann-c-client` version lower.

[2015-06-01 14:38] ihrwein commented on #121
@toralf Did it work finally? If it works, please close this issue.

[2015-06-01 15:12] toralf commented on #121
It works here fine since I applied the patch - but I cannot close this issue, I'm not the issuer, I'm just the Gentoo Linux guy, who cried loud about this.

[2015-06-02 07:25] lbudai commented on #495
Hi,

main problem here is not that you mentioned above (however makefile should follow those rules what you suggested).

IMHO the problem is that make has its own dependency management and javac also has such a thing...

We can choose between two solutions:
 * refactor makefile and handle dependencies between java files correctly
 * using an external java build tool and delegate java building via

[2015-06-02 07:42] algernon commented on #495
As long as `make -j` works, I don't care what goes on underneath. I don't mind a dependency on maven/ant/whatever, either, as long as you depend on a version that is in distros. In case of distros, build-deps don't matter for the end user, and for packaging, they aren't a big issue either, as long as the build-deps are already packaged too.

And the java module being optional, if the required tool

[2015-06-02 08:47] faxm0dem commented on #495
:+1:

[2015-06-02 13:54] ihrwein commented on #498
@algernon I've cherry-picked your commit and created the missing `timeout()` parameter.

https://github.com/ihrwein/syslog-ng/commits/f/rimemann-timeout

The problem is, that Ubuntu 14.04 and probably most distros don't ship riemann-client 1.2 or above, so this code needs to branch on the library version.

@mmannerm Could you include your syslog-ng version and what OS you use?

[2015-06-02 16:18] ihrwein commented on #317
I was able to build the latest master on CentOs 6.6 in a Docker container with some fixes.

@czanik Could you test my branch (although I didn't touch LogTemplateOptions...)?

https://github.com/ihrwein/syslog-ng/tree/f/fix-centos6-build

It's not ready to merge, we should set the proper bison parameters on every OS.

[2015-06-02 17:10] algernon commented on #498
Hrm.... if you want, I can provide a clever hack that works with riemann-c-client 1.0+, and will continue working as long as the ABI remains the same. But it is ugly. Interested?

[2015-06-02 17:46] czanik commented on #317
This problem was fixed by @bazsi in
https://github.com/balabit/syslog-ng/pull/466 and I verified it on FreeBSD
9.3 and SLES11

Peter Czanik (CzP) <peter.czanik@balabit.com>
BalaBit IT Security / syslog-ng upstream
http://czanik.blogs.balabit.com/
https://twitter.com/PCzanik

On Tue, Jun 2, 2015 at 6:18 PM, Tibor Benke <notifications@github.com>
wrote:

[2015-06-02 18:33] ihrwein commented on #317
Then pls, close this issue.

[2015-06-02 18:35] mmannerm commented on #498
Ubuntu 14.04 LTS w/ syslog-ng 3.5.3-1 installed via apt-get (syslog-ng, syslog-ng-core and syslog-ng-mod-riemann)

{code}
$ syslog-ng --version
syslog-ng 3.5.3
Installer-Version: 3.5.3
Revision: 3.5.3-1 [@9695e81] (Ubuntu/14.04)
Compile-Date: Dec 25 2013 23:13:11
{code}

[2015-06-03 04:29] lbudai commented on #495
make -j should work with my PR #500

(
Java support is not finished yet: adding a new build deps to syslog-ng is ok for me, but could be a pain for package builders.

If package maintainers will compile and package jar files, it could work.

If not... well in that case we should deliver those jars in an other way. That way could be a central maven repo. If someone just download a pre-built jar fil

[2015-06-03 06:28] algernon commented on #495
From the Debian PoV, we are required to compile the jar files, we're not going to ship pre-compiled jars. But our tools are sometimes old, and downloading from the network during build is prohibited.

[2015-06-03 06:55] czanik commented on #495
+1
SyslogNg.jar should not come pre-built in the release tgz. It's also a recommendation in openSUSE and a requirement in Fedora to build all jar files during packaging and avoiding pre-built jar files.

[2015-06-03 06:57] ihrwein commented on #450
@micada67 the bug in your last comment is fixed in the latest master branch and will be included in the next 3.7 release. I'm closing this issue.

[2015-06-03 06:57] #450 closed

[2015-06-03 07:08] czanik commented on #317
fixed by https://github.com/balabit/syslog-ng/pull/466

[2015-06-03 07:08] #317 closed

[2015-06-03 07:21] ihrwein commented on #498
I hope it's nicer than the current workaround :) What would be your proposal?

[2015-06-03 08:01] algernon commented on #498
If you cast `riemann_client_t *` to an `int *`, you get a pointer to the file descriptor used underneath, because `int fd` is the first element of the struct.

So getting the FD becomes `int fd = *(int *)client`. This works for all versions of riemann-c-client, and will continue working for the lifetime of the 1.x series (and likely even beyond).

[2015-06-03 09:18] ihrwein commented on #498
@lbudai  any thoughts on this? We may keep the defines, but use them only to get the fd via this clever hack or the proper `riemann_client_get_fd()` call.

[2015-06-03 09:24] gregory094 commented on #318
PR #490 hopefully solves this issue. (Merged)

[2015-06-03 09:52] algernon commented on #498
I'd skip the defines altogether. They're far more noise than the hack itself, and they don't get you any real benefits over it, imo. A comment like "Replace this with `riemann_client_get_fd()` if/when bumping riemann-c-client dependency to 1.2+" would be more helpful than the defines.

[2015-06-03 10:56] lbudai commented on #498
Hmmm.... this hack is not so elegant :-)

What if we increase the min version for riemann-c-client... ?

[2015-06-03 11:24] algernon commented on #498
That'd be preferable, but Ubuntu for example has a very old version only. Mind you, if you want TLS support for the riemann destination, you will eventually need to bump the dependency to 1.6+. May aswell do that now...

[2015-06-03 11:26] lbudai commented on #498
sounds good to me...
@ihrwein  ?

[2015-06-03 11:33] ihrwein commented on #498
Ok, so the solution is (now):
* bump the min version requirement to `1.6`
* remove the `#if`s and use `riemann_client_get_fd()`
* create a new issue to implement TLS support in Riemann destination

[2015-06-03 12:31] ihrwein opened #504 "riemann: support TLS"
After we bumped the required libriemann-client version to 1.6.0, we may implement TLS support in Riemann destination.

[2015-06-03 12:35] #495 closed

[2015-06-03 13:23] algernon commented on #504
I'll hack this up quickly. But a question first! Which syntax would you prefer?

* `type(tls) tls("/path/to/cacert.pem", "/path/to/client.crt", "/path/to/client.key")`
* `type(tls cacert("...") cert("...") key("..."))`
* `type(tls) tls(cacert("...") cert("...") key("..."))`

[2015-06-03 13:56] #498 closed

[2015-06-03 13:57] faxm0dem commented on #504
if I may, all three are awful ;-)

[2015-06-03 13:59] algernon commented on #504
What would you prefer? Syntax is the easiest part of it (and the one I suck most at, too :P)

[2015-06-03 14:02] lbudai commented on #504
for me, 2nd or 3rd :-)

[2015-06-03 14:09] algernon commented on #504
I'll go with the second, becuase otherwise I'd have to name `tls()` `tls-options()` to avoid clashing with the `tls` in `type(tls)`.

[2015-06-03 14:15] algernon commented on #504
Updated. I'll rebase it against master when the riemann-c-client bump is in.

[2015-06-03 14:27] lbudai commented on #504
I've already merged #499

[2015-06-04 06:52] #504 closed

[2015-06-04 10:58] gregory094 commented on #197
One can try the solution using my vagrant [testenv](https://github.com/gregory094/syslog-ng-vagrant-afsmtp). Just follow the readme and you can send msgs per `$SEVERITY` to user `info` `error` `warning`...

[2015-06-04 11:02] gregory094 opened #506 "afsocket connection reopen mechanism"
It's possible to use the reconnection mechanism in `afsocket` similar to `affile` that is a merge related step.

[2015-06-04 11:21] gregory094 commented on #464
Hi,
This phenomenon occurs for syslog-ng file-dest tries to open the destination on every msg queued. In `3.6` we are working on a patch that can solve your problem where `affile_dw_reopen` arms a timer to check the availability of the destination and don't try to open it in in `affile_dw_queue` on every msgs queued.
I'll link the PR here when it's ready.

[2015-06-04 20:03] kolbykinzer opened #507 "Batch MS SQL inserts??"
Is there a way to batch send or bulk copy logs to MS SQL with just one insert per batch? I have been using the explicit-commits along with flush lines, however this is still producing an insert per message in the database.

[2015-06-05 06:30] lbudai commented on #507
Hi,
could you paste a relevant part(sql destination) of your config (or whole config, if possible)?

Which version do you use?

[2015-06-05 08:40] lbudai commented on #464
Some further information what's going on here:

'Error opening file for writing' is printed by `affile_dw_reopen`.

`affile_dw_reopen` is called directly by
 * `affile_dw_queue` OR
 * `affile_dw_init`.

In our case, `affile_dw_queue` is not a good candidate because it calls reopen only after `time_reopen` time elapsed. So we have `affile_dw_init`... that method is called by `affile_dd_open_writer`

[2015-06-05 14:39] kolbykinzer commented on #507
Here is my conf file for syslog-ng 3.7. As you can see I am using the explicit commits along with the flush lines as the Documentation states should be a batch insert. However it is not.

I would like to be bulk inserting at least 1000 logs at a time to my MS SQL database, as I am producing around 50,000 logs a second and syslog-ng handles it fine, however a single insert per message takes forever

[2015-06-05 14:56] lbudai commented on #138
hope PR #511 will help on this

[2015-06-05 14:59] lbudai commented on #464
@benoiton : could you help testing PR #511 ?

patch is for 3.6 but if you want, I can port it 3.5

[2015-06-05 15:17] benoiton commented on #464
I'm sorry I cannot help.
 * Due to too much instabilities of my GlusterFS cluster on Raspberry Pis, I changed my architecture and do not use GlusterFS anymore. (I find glusterfs itself prone to error)
 * I'm not at ease to install libs and compile on Raspberry

Anyway, thanks for this patch.

[2015-06-08 07:38] ihrwein commented on #484
This issue is fixed by the following PR:

https://github.com/balabit/syslog-ng/pull/511

[2015-06-08 07:55] ihrwein commented on #434
Why don't they upgrade to the current  maintenance version? To fix this issue they would need a `3.5.7` release, or they could instantly move to `3.6.2` (or wait some days and use `3.6.3`).

[2015-06-08 08:09] czanik commented on #434
In theory no version change is allowed once a distribution is released. In practice I'll try to push it through. I just need 3.6.3 released, which fixes another few problems reported against syslog-ng 3.5.

[2015-06-08 08:17] lbudai commented on #507
The feature you want is not supported by syslog-ng: batch insert is a set of insert commands
executed in one transaction. Maybe calling it as 'batch insert' is not the best...

[2015-06-08 08:26] ihrwein commented on #414
@czanik @cschuber: Please verify and close this issue.

[2015-06-08 08:30] ihrwein commented on #121
@toralf You were the tester, thanks for that :)
@benkibbey If the patch works for you, please close the issue.

[2015-06-08 08:39] ihrwein commented on #318
@algernon @gregory094 : What should be the done definition of this issue? I think the problem is solved by the PR.

[2015-06-08 08:43] czanik commented on #414
@cschuber commited a workaround to FreeBSD ports and now it works fine.

[2015-06-08 08:43] #414 closed

[2015-06-08 10:27] gregory094 commented on #173
Any news?

[2015-06-08 10:30] gregory094 commented on #318
The problem stated above is solved. I think we can close this issue.

[2015-06-08 10:46] #121 closed

[2015-06-08 10:52] ihrwein commented on #372
Bazsi added the base 8 formatting in the following commit: bead8a1d099943fd58d240dca310d6d7a392c864

I'm closing this, because it solves this issue. Thanks for opening the issue!

[2015-06-08 10:52] #372 closed

[2015-06-08 13:40] ihrwein commented on #446
@johntdyer You can download the `3.6.3` release from here: https://github.com/balabit/syslog-ng/releases

I'm closing this ticket since the original issue is solved.

@elentar Many thanks for the great cooperation!

[2015-06-08 13:40] #446 closed

[2015-06-08 14:00] ihrwein commented on #434
You can find `3.6.3` here:

https://github.com/balabit/syslog-ng/releases

It's the *third* maintenance release in the `3.6` branch, I think they should do the upgrade.

[2015-06-08 14:03] czanik opened #513 "SyslogNg.jar should not come pre-built in the release tgz"
re-copied from issue #495: none of the major distributions like the idea of pre-build jar files.

"From the Debian PoV, we are required to compile the jar files, we're not going to ship pre-compiled jars. But our tools are sometimes old, and downloading from the network during build is prohibited.
"
" SyslogNg.jar should not come pre-built in the release tgz. It's also a recommendation in openSUSE

[2015-06-09 06:14] lbudai commented on #513
:+1:

I think including SyslogNg.jar is a bug (that was not our original intention).

[2015-06-09 06:19] lbudai commented on #495
I think algernon's answer is not about SyslogNg.jar but  a general approach they follow in Debian packaging. This means that my idea on delivering pre-compiled jar files (not SyslogNG.jar, but ElasticSearchDestination.jar, KafkaDestination.jar, etc..) is not viable.

@algernon : am I right? :-)

(however, including SyslogNG.jar within dist tarball is a bug : this is why I asked you to open a separ

[2015-06-09 07:29] algernon commented on #495
Yes, you're right. Debian doesn't care much if jars are included in the source tarball (but it makes things easier if they aren't, mind you). We'll rebuild them whether they're shipped pre-compiled or not.

[2015-06-09 07:48] czanik opened #514 "post build checks fail for afamqp for 3.6.3 on openSUSE"
[code]
This is most likely due to this item in the ChangeLog:
[code]

[2015-06-09 07:53] czanik opened #515 "./lib/.libs/libsyslog-ng.so: undefined reference to `sd_notify'"
Compiling with systemd support fails on openSUSE 13.1, which has systemd version 208:
[code]
It compiles fine on openSUSE 13.2, which has sytemd version 210.

[2015-06-09 08:03] czanik commented on #515
All systemd related packages are installed in the build chroot, so it's most likely not a missing dependency. Related changelog entry:
[code]

[2015-06-09 09:12] ihrwein commented on #515
Is the `systemd-devel` package installed?

[2015-06-09 09:15] czanik commented on #515
Yes, it is:
[code]

[2015-06-09 09:45] ihrwein commented on #515
Please try the following workaround:

In `configure.ac` at the 35th line you can see this:

[code]

Change `209` to `208`, run `autoconf`, then `configure` with your usual parameters. Does this work?

[2015-06-09 10:31] ihrwein commented on #515
Could you paste here the build dependencies of syslog-ng on OpenSuse?

[2015-06-09 10:45] lbudai commented on #515
for my test Debian builds, I'm using the following build dependencies:
* dh-systemd (>= 1.3), [of cource, you won't have this one :-) ]
* libsystemd-daemon-dev,
* libsystemd-journal-dev (>= 195)

[2015-06-09 11:53] czanik commented on #515
Did the change, but received the same error.
Spec file with dependencies is accessible at https://build.opensuse.org/package/view_file/home:czanik:syslog-ng36/syslog-ng/syslog-ng.spec?expand=1 and contains systemd-devel. There are no other related devel files (except for systemd-mini-devel used during bootstraping the distro, which conflicts with systemd-devel).

[2015-06-09 11:56] lbudai commented on #515
I checked it on Ubuntu 14.04 and 14.10 : got the same error.
(works only on Ubuntu 15.04 and Debian 8)

[2015-06-09 12:36] lbudai commented on #515
I've just check the code again and found what is the problem, in configure.ac:
[code]
Here, we should set `libsystemd_LIBS`  instead of `libsystemd_LDFLAGS`.
If you don't want to re-generate configure, just find `libsystemd_LDFLAGS` in configure and replace it to `libsystemd_LIBS` (line 16354).

[2015-06-11 20:06] algernon opened #518 "SNMP trap parser"
(Originally requested by @faxm0dem on IRC):

[code]

This is really a reminder for myself, to write this on the train. Should be fairly straightforward.

[2015-06-12 07:55] bazsi commented on #518
what application uses this format?

--
Bazsi

On Thu, Jun 11, 2015 at 10:06 PM, Gergely Nagy <notifications@github.com>
wrote:

[2015-06-12 08:18] faxm0dem commented on #518
There are plenty of use cases: many applications log something like `key=value,foo=bar` and the `csv-parser` only handles values, with pre-defined keys.
The one application which is mentioned here is the default format used by `snmptrapd` and friends to serialize traps. (I don't think it's worth it to write a binary snmp trap parser. The key=value thing would be enough)

[2015-06-12 08:54] gregory094 commented on #506
The related patch for `afsocket` reopen mechanism:

[code]

[2015-06-12 09:08] bazsi commented on #506
please don't overload the notification mechanism, it is used to communicate between LogPipe instances, and honestly I am not really satisfied with it (even though I wrote it originally).

Before adding anything to it, I would strongly recommend going through the use-cases of this mechanism and see if this is really the best API out there.

Also, I don't see how the timing is implemented in this pa

[2015-06-12 09:11] bazsi commented on #518
ok, got it :)

The best way to implement this would be an SCL wrapper around the format,
e.g.

block source snmptraps() {
    channel {
        source { program("snmptrapd ..."); };
        parser { ... };
    };
};

so at the end, this would be used as a normal source:

source s_whatever {
    snmptraps();
};

which would emit already parsed messages.

Also, regarding the schema to be used when d

[2015-06-12 10:34] faxm0dem commented on #518
sounds awesome!

[2015-06-12 11:41] algernon commented on #518
Hrm. Format. Yeah, I could do that too. I wrote a parser on the train, that'll do for now. I might give a try to the format + scl stuff on the plane back to Budapest.

[2015-06-12 12:21] faxm0dem opened #520 "escaping backslash in template function (sanitize)"
I'm having an issue with the escape char `\` when trying to use an example from the documentation ([¶11.1.7. Template functions of syslog-ng OSE](https://www.balabit.com/sites/default/files/documents/syslog-ng-ose-latest-guides/en/syslog-ng-ose-guide-admin/html/reference-template-functions.html)). The following code does definitely not work, as it replaces all messages with the empty string:

[cod

[2015-06-13 09:19] bazsi commented on #520
Hi,

Note that you enclosed the string into double-quotes which processes
backslash on its own. If use used single quotes (') instead, a pair of
backslashes wouldn't be needed.

--
Bazsi

On Fri, Jun 12, 2015 at 2:21 PM, Fabien Wernli <notifications@github.com>
wrote:

[2015-06-13 15:43] faxm0dem commented on #520
1. I tried that too and I still need 4
2. the example in the documentation uses double quotes and -`-i \@`

[2015-06-13 17:34] centminmod opened #521 "3.6.3 unable to find json-c on CentOS 6.6 ?"
seems I am unable to find json-c on CentOS 6.6

    ./configure --enable-spoof-source --enable-tcp-wrapper --with-jsonc=/usr/include

    syslog-ng Open Source Edition 3.6.3 configured
     Compiler options:
      compiler                    : ccache gcc -std=gnu99
      compiler options            : -g -O2 -Wall -pthread  -pthread -I/usr/include/glib-2.0 -I/usr/lib64/glib-2.0/include   -I/usr/inc

[2015-06-13 19:41] faxm0dem commented on #521
Try this:

[code]

Or `lib` if you're on a 32bit platform

[2015-06-14 16:52] beng94 commented on #467
To implement this, we should use `GeoIPRecord` from `GeoIPCity.h`, it contains the longitude and latitude. To be able to use GeoIPCity, we need an other database, `GeoIPCity.dat` to be able to access the information.

Maybe the latitude and longitude would be available as a template just like the country code. What do you think about this?

[2015-06-14 19:14] dnsjts commented on #521
According to ./configure --help :

[code]
Therefore, I recommend to replace the "/usr/include" with "system", or omit the --with-jsonc argument.

[2015-06-14 21:23] faxm0dem commented on #467
For my use case a template function would be perfect, although it would probably make sense to make it configurable *e.g.* with a format specifier or by choosing the lon/lat separator. Maybe at some point I'd need both values in different macros. Not sure what's the best option here

[2015-06-15 07:31] algernon commented on #467
I suppose `$(geoip --latitude --longitude --separator="," ${IP})` could work nicely. It's not even hard to implement.

[2015-06-15 07:51] faxm0dem commented on #467
The only problem I see with that is if someone (not me currently) need both coordinates in different macros, then he/she'll have to lookup the geo twice.

[2015-06-15 08:21] algernon commented on #467
In that case:

[code]

Or something similar....

Though, if this becomes a common use case, then a `geoip()` rewrite function would likely be a better option. That seems like a bit of an overkill right now, though.

[2015-06-15 08:51] bazsi commented on #520
I have now tried it using only an apostrophe and in that case '$(sanitize
-i \\ $MESSAGE)' was parsed properly as if a single backslash was specified
to -i.

rewrite r_sanitize_json {
    set(
        '$(sanitize -i \\ $MESSAGE)',
        value("MESSAGE")
    );
};

One level that processes backslashes is the string literal parsing in the
lexer (cfg-lex.l), which is only used for double quotes and

[2015-06-15 10:42] ihrwein commented on #487
@pzoleex: I've checked this and cannot reproduce the problem with `3.7` master. The reverted commit is  included in `3.6.3` too, so I think this can be closed.

[2015-06-15 10:59] ihrwein commented on #515
#516 was merged, so this issue should be solved. @czanik would you close it?

[2015-06-15 11:01] beng94 commented on #467
Maybe `country_code` should have a parameter as well, like `$(geoip --country_code --latitude --longitude --separator="," ${IP})`

[2015-06-15 11:24] lbudai commented on #506
hi,

@bazsi: you mean that you'd drop all the `log_pipe_notify()` mechanism?

[2015-06-15 11:53] czanik commented on #515
Just did a quick test with a self generated release tgz on openSUSE 13.1 and SLES 12, and both fail with the following message:

[code]

[2015-06-15 12:51] lbudai commented on #515
hi,

this is how I generate the dist tarball:

[code]

[2015-06-15 12:54] lbudai commented on #515
and here are my configure options when building Debian packages:
[code]

[2015-06-15 14:14] czanik commented on #515
OK, problem resolved: "./configure" before "make dist" needs the "--enable-manpages" option. If it's there, the fix compiles on all of my tested platforms.

[2015-06-15 14:14] #515 closed

[2015-06-15 14:33] algernon commented on #467
Yep. The idea was to have a parameter for all needed possibilities.

Mind you, the more I think about it, the more I start to think that turning this into a rewrite operation would be more efficient.

[2015-06-15 19:00] faxm0dem commented on #467
I like where this is going :+1:

[2015-06-16 07:17] bazsi commented on #467
Hi,

Or parser for that matter. Honestly the boundaries between
parser/rewrite/filter is not the clearest anymore. Parsers can drop
messages (like filters), filters can extract data (using regexp pattern
matching), both can change values like rewrites. And internally, all of
these are more or less have the same set of capabilities. (drop & change
messages). Probably it's more like a convention whe

[2015-06-16 07:49] algernon commented on #467
Parser it is then.

[2015-06-16 07:51] bazsi commented on #506
Hi,

Not necessarily, and definitely not as a high priority item. I just didn't
like the non-typesafe/ioctl like interface, especially as it has not
changed in about a decade. I just felt that it could be better and it would
be nice to discuss the future of this interface. Especially if we are
adding additional features that depend on them.

--
Bazsi

On Mon, Jun 15, 2015 at 1:24 PM, Budai Laszlo

[2015-06-16 08:04] algernon commented on #467
Does this sound good?

[code]

If neither of `country-code()`, `latitude()` and `longitude()` are specified, all of them will be extracted to the properties shown above. To disable extraction, one will be able to use `country-code()` (or perhaps `country-code(no)`.

[2015-06-16 08:11] lbudai commented on #506
hi,

I see your points, then we try to handle this interface as a deprecated one.

@gregory094 : I suggest to close this issue and this issue could be a nice pair-prog topic...

[2015-06-16 08:32] gregory094 commented on #506
I'm going to close this issue then and i'll add this as a PP topic.

[2015-06-16 08:32] #506 closed

[2015-06-16 09:09] algernon commented on #467
Ok, next problem: can't figure out how to get lat/long from libgeoip. Grrr.

[2015-06-16 09:21] algernon commented on #467
Giving up for now, not enough time/motivation to figure out the rest. I pushed the basics to a branch, adding lat/long should be easy, once one figures out how to do that with libgeoip. If it is possible at all, that is.

[2015-06-16 09:50] beng94 commented on #467
local_state = g_new0(TFGeoIPState, 1);
    local_state->gi = GeoIP_new(GEOIP_MMAP_CACHE);

    const gchar *country;
    country = GeoIP_country_code_by_name(local_state->gi, argv[0]->str);

    local_state->gi = GeoIP_open("/usr/share/GeoIP/GeoIPCity.dat", GEOIP_INDEX_CACHE);

    GeoIPRecord *record;
    record = GeoIP_record_by_name(local_state->gi, argv[0]->str);
    float lat = record->latitu

[2015-06-16 09:54] beng94 commented on #467
I've got that part figured out. You have to download the GeoIPCity.dat file from [here](http://dev.maxmind.com/geoip/legacy/geolite/)

    local_state = g_new0(TFGeoIPState, 1);
    local_state->gi = GeoIP_new(GEOIP_MMAP_CACHE);

    const gchar *country;
    country = GeoIP_country_code_by_name(local_state->gi, argv[0]->str);

    local_state->gi = GeoIP_open("/usr/share/GeoIP/GeoIPCity.dat", GEO

[2015-06-16 10:02] algernon commented on #467
That looks sweet, thanks!

[2015-06-16 10:45] algernon commented on #467
#523 adds the parser. The template function remains the same, has no new functionality. For lat/long, use the parser.

[2015-06-16 10:52] gregory094 commented on #521
Any info if this solved the issue?

[2015-06-16 11:11] bazsi commented on #467
This starts to look great. I would however not allow to set property names
individually, but only the prefix, eg.

parser { geoip("$IP" prefix(".geoip")); };

Also, I would use lower case letters instead of upper case ones.
On Jun 16, 2015 12:45 PM, "Gergely Nagy" <notifications@github.com> wrote:

[2015-06-16 11:24] algernon commented on #467
The main reason for allowing one to set them separately is to avoid formatting long/lat if not needed. But I suppose the overhead of that is fairly small, so `prefix()` it is.

[2015-06-16 11:35] algernon commented on #467
Branch updated over at the PR, now uses `prefix()` and lowercase `.geoip.` as default prefix.

[2015-06-16 11:54] beng94 commented on #319
I'm thinking about adding a `startup_debug_flag` just like `debug_flag` which would be set to true according to a parameter, maybe -r ('s' is alredy in use).

It's not exactly clear for me, where should the 'startup debugging' end. What do you think about turning off debugging in `main.c` after `app_post_config_loaded` at line 266?

[2015-06-16 12:09] algernon commented on #319
`service_management_systemd_indicate_readiness()` sounds like the best place where startup ends. Which is pretty much at the same time you suggested.

[2015-06-16 12:31] gregory094 commented on #436
I think adding this snippet solves your problem.

[code]

[2015-06-16 13:04] czanik commented on #521
My syslog-ng 3.6 package is built this way, and JSON support works:

https://copr.fedoraproject.org/coprs/czanik/syslog-ng36epel6/

[code]

[2015-06-16 13:23] #138 closed

[2015-06-16 13:23] #464 closed

[2015-06-17 02:02] biancalana opened #525 "coredump after 3.6.3 on FreeBSD"
After update syslog-ng to version 3.6.3 (compiled from ports) on 10.1-RELEASE-p5 it started to coredump right after start.
[code]

I do very heavy use of patterndb and amqp, it looks like the problem is related to amqp...

[code]
Is there anything else I can do to help track this down ?

[2015-06-17 05:24] bazsi commented on #525
Compiling with -g in CFLAGS and LDFLAGS to get debugging info?  This
backtrace is somewhat bogus.

Does it crash immediately after starting up, or only somewhat later?

Thanks
On Jun 17, 2015 4:02 AM, "biancalana" <notifications@github.com> wrote:

[2015-06-17 08:41] lbudai commented on #467
`GeoIP_country_code_by_name` seems to became deprecated:
https://github.com/maxmind/geoip-api-c/tree/master/libGeoIP

I added some other review notes to  PR #523

[2015-06-17 12:14] faxm0dem commented on #467
thanks a bunch folks!

[2015-06-17 12:16] #467 closed

[2015-06-18 01:06] biancalana commented on #525
Hi @bazsi !

Here we go, recompiled syslog-ng and eventlog with debugging symbols, it crashes some seconds after launch

[code]

[2015-06-18 03:57] lbudai commented on #525
some additional info to this:

from librabbitmq:
[code]

`assert(self->klass->open)` where syslog-ng crashes
Type of `klass`  is `amqp_socket_class_t` and `open` is a pointer to a function (`amqp_socket_open_fn`).

in `amqp_tcp_socket.c`  we have:
[code]
and this:
[code]

and `amqp_tcp_socket_new` is called _before_ calling `amqp_socket_open_noblock` in afamqp.c

[2015-06-18 04:05] bazsi commented on #525
Yeah, this looks really strange. As it seems either the amqp socket handle
or its internals (the klass member within) are corrupt.

If you have opened the core file, can you pls issue these commands:

frame 0
p *self
p *self->klass
p self->klass->open
bt full

Thanks
 On Jun 18, 2015 5:57 AM, "Budai Laszlo" <notifications@github.com> wrote:

[2015-06-18 04:07] bazsi commented on #525
This could be a compilation issue as well, how did you get rabbitmq
binaries that you are compiling against? Is it the one embedded in
syslog-ng? Could you have multiple versions installed?
On Jun 18, 2015 6:04 AM, "Scheidler, Balázs" <balazs.scheidler@balabit.com>
wrote:

[2015-06-18 11:10] biancalana commented on #525
I'm using FreeBSD Ports (i've uploaded build logs https://gist.github.com/biancalana/7813050fb2b7d74aea1d), looks like rabbitmq used is the one embedded in syslog-ng.

I have some rabbitmq packages installed on the machines where syslog-ng is crashing (not where I build the packages):
[code]
But even after remove this packages the problem still happen

[code]

[2015-06-18 12:21] deirf commented on #476
Fixes are found in "F/netmask6 fixes" (#494) branch on github

[2015-06-18 12:21] deirf commented on #475
Fixes are found in "F/netmask6 fixes" (#494) branch on github

[2015-06-18 12:26] mitzkia commented on #525
Hello @biancalana ,

Could you write some reproduction steps (about heavy load), and send used syslog-ng.conf for internal investigation?

Best regards

[2015-06-18 12:44] bazsi commented on #525
Well, the strange thing is that the "self" value that gets passed to
amqp_socket_open_noblock()
is invalid, which gets allocated a few lines before, without conditionals.

  self->sockfd = amqp_tcp_socket_new(self->conn);
  struct timeval delay;
  delay.tv_sec = 1;
  delay.tv_usec = 0;
  sockfd_ret = amqp_socket_open_noblock(self->sockfd, self->host,
self->port, &delay);

The only way this could h

[2015-06-18 13:08] biancalana commented on #525
@mitzkia i'm working on a simplified config that reproduces the issue...

@bazsi  here is the valgrind output:

[code]

[2015-06-18 13:17] biancalana commented on #525
@mitzkia

I can reproduce the issue with this syslog-ng.conf one include and one patterndb xml file:

syslog-ng.conf https://gist.github.com/biancalana/61ad044afa2071992130
include/signup-ws.conf https://gist.github.com/biancalana/d2b4c6e09a6bb038eae4
patterndb/signup-ws.xml https://gist.github.com/biancalana/1b7a8f5b9750d4f62d3e

[2015-06-18 13:18] lbudai commented on #525
hmm...
After talked with @juhaszvitkor, we agreed on that this is maybe releted to #514 .

Type of `self->sockfd` is not available for the compiler so it uses `int` instead.
But `int` takes 32 bit while the original value takes 64 (you can check it with gdb : p sizeof(int) ). This can lead to an interesting situation: the returned pointer will be truncated to a 32 bits value (and if you check self

[2015-06-18 13:23] gregory094 commented on #418
I've investigated the possible ways of integrating osquery results into syslog-ng. Osquery has it's own logging framework though it can be replaced and redirected to anywhere.  One of its features is that it can print out the result in json format. This json result then could be parsed and used for creating monitoring infrastructures.

**Osquery daemon mode**
If you are running osquery as a daemon

[2015-06-18 14:01] mitzkia commented on #525
@biancalana Thanks for  the configuration.
I reproduced the bug with released OSE 3.6.3 (I get the same core dump), but with 3.6/master syslog-ng not segfaults.

[2015-06-18 14:04] gregory094 commented on #487
Macros can be used in filenames now in `3.6.3` és `3.7` so this issue can be closed.

[2015-06-18 14:04] #487 closed

[2015-06-18 14:05] #318 closed

[2015-06-18 14:11] gregory094 commented on #514
Hi,

Does PR #517 solve your problem?

[2015-06-18 14:23] lbudai commented on #521
@centinmod: any update?

[2015-06-19 00:48] biancalana commented on #525
adding #include "amqp_tcp_socket.h" on modules/afamqp/afamqp.c has fixed it.

@lbudai and @juhaszviktor congrats by the great analysis!

Thank you

[2015-06-19 00:48] #525 closed

[2015-06-19 07:06] czanik commented on #514
Yes, just tested, post build checks fail no more.

[2015-06-19 07:06] #514 closed

[2015-06-19 10:25] #484 closed

[2015-06-19 10:55] gregory094 commented on #436
PR #527 hopefully solves the problem

[2015-06-19 10:58] gregory094 commented on #513
fixes #519

[2015-06-19 13:30] bazsi commented on #525
great news indeed.

@Peter: can you make sure the version in ports is updated? this seems like
an important bug to fix.

--
Bazsi

On Fri, Jun 19, 2015 at 2:48 AM, biancalana <notifications@github.com>
wrote:

[2015-06-19 13:42] lbudai commented on #525
3.6.4 is released which contains the bugfix, so syslog-ng in ports should be upgraded to that version.

[2015-06-19 14:00] deirf commented on #437
Hello,

Cap_sys_admin is not need anymore if you use kernel version 2.6.37 or up and a syslog-ng source has to read /proc/kmsg file.
We are re-planning use capabilities in syslog-ng code for take into account security and speed. After it we will write it to document for which features exactly which capabilities will be used syslog-ng in the future.

[2015-06-22 06:28] gregory094 commented on #485
I'll close this issue for drone.io supports only this feature on installed drone CI-s not on the web.

[2015-06-22 06:29] #485 closed

[2015-06-22 06:33] gregory094 commented on #356
@hkrist has written something like this as the task0 of the GSoC.
You can check it [here](https://github.com/hkrist/syslog-ng/tree/GSoC-task0).

I think your idea is a great feature proposal. What about moving to the the 'feature proposals' column to keep it in the fore?

[2015-06-22 09:15] faxm0dem opened #528 "Enhancement: patterndb action testing"
The unit testing of patterndb rules really rocks our world.
But I realized there was no such thing for actions.
We'd love to see some way of ensuring actions actually happen as expected from the config.

[2015-06-22 11:52] juhaszviktor commented on #206
As far as I saw, the problem is that the parser eliminates the NULL character. If the compiled template somehow contains the NULL character it will be contained in the formatted template's result.
So I think the $(literal "x0") or the $(char 0) should be a working solution.

[2015-06-22 13:31] pzoleex opened #529 "timeQuality isSynced is missing from sdata"
Cisco routers can specify some additional information in their timestamp:
- whether the timestamp is accurate
- whether the sender has TZ information

this should be added to SDATA when ietf-syslog protocol is used. PE already knows it:

[code]

[code]

message:

[code]

[2015-06-23 06:45] #513 closed

[2015-06-23 10:10] czanik commented on #525
Ports is now updated to 3.6.4: http://www.freshports.org/sysutils/syslog-ng/

[2015-06-23 11:36] mitzkia commented on #273
@faxmodem  Have you any update regarding to this issue? Could you reproduce it with syslog-ng 3.6.2 or newer version?

[2015-06-24 21:28] asy972 commented on #385
It would be a very useful option.

[2015-06-25 04:48] bazsi commented on #385
Indeed. The code that BB has created in the premium version is
available,but that's not directly adaptable to our tree. If anyone wants to
do the work he can start by looking at that code at:

https://github.com/balabit/syslog-ng/tree/pe-5.3/master

It is in the modules/affile subdirectory.
On Jun 24, 2015 11:28 PM, "asy972" <notifications@github.com> wrote:

[2015-06-25 07:56] lbudai commented on #436
@Nikoli: does it work?

[2015-06-25 07:57] lbudai commented on #521
@czanik: could you check it?

[2015-06-25 08:12] lbudai commented on #308
@mitzkia: could you check it again on 3.5?

[2015-06-25 08:29] lbudai commented on #434
@czanik: any update?

[2015-06-25 08:35] lbudai commented on #423
hi,

could you tell us the OS version you found this problem and also syslog-ng version?

[2015-06-25 09:48] Nikoli commented on #436
```--control``` option works fine with version 3.6.2, or are you asking about PR?

[2015-06-25 10:11] czanik commented on #521
The JSON package in RHEL6 is slightly broken, but with the workaround I posted above, syslog-ng can be compiled with json support (that's how json support is enabled in my EPEL6 packages).

[2015-06-25 13:51] gregory094 commented on #436
I think @lbudai is speaking about the PR :) is it ok or you think more information about this option would be better in manpages?

[2015-06-25 15:04] lbudai commented on #436
yes, I'm asking about the PR :-)

[2015-06-25 15:49] lbudai commented on #521
then I think we can close it...
What do you think?

[2015-06-25 15:58] Nikoli commented on #436
PR seems fine, copypasting from ```syslog-ng --help``` should be enough.

[2015-06-25 16:23] gregory094 commented on #436
Then i'll close this issue.
Thanks for reporting it!

[2015-06-25 16:24] #436 closed

[2015-06-25 16:50] gregory094 commented on #197
@faxmodem what do u think about this solution? Could u try it?

[2015-06-25 16:58] gregory094 commented on #331
Is this issue in progress or should we put back to accepted in order to discuss about it?

[2015-06-25 17:04] gregory094 commented on #218
It would be a good idea to have the doc in github or create a gitbook from it. If it's possible to transfer it to markdown description.
@fekete-robert: it would be nice to paste this description of your to the 'Getting started' guide to the 'bug' section. What do u think?

[2015-06-26 06:02] lbudai opened #534 "HTTP destination driver in Python"
Implement a HTTP destination driver in Python

From OSE mail list:
[code]
thanks

[2015-06-26 06:26] bazsi commented on #331
I think we shouldn't generate these messages at the error level. The drop
counter should be enough.

Or we could throttle the error to say once every minute, but that might be
just not worth it.
On Jun 25, 2015 6:58 PM, "Nagy Gergő" <notifications@github.com> wrote:

[2015-06-26 07:47] faxm0dem commented on #197
shall I test this now or wait for the requested polishments?

[2015-06-26 07:54] faxm0dem commented on #273
I can confirm that using `unix-stream("/dev/log")` on the above mentioned system (EL6 without systemd) with syslog-ng-3.6.2 does *not* trigger the spinlock
So I guess you can close this issue, unless you need me to test on other systems e.g. EL7

[2015-06-26 08:14] lbudai commented on #273
Hi,
thanks for confirmation.

There is a fix for the problem (as @ihrwein said) , so no further tests required.

[2015-06-26 08:14] #273 closed

[2015-06-26 09:03] gregory094 commented on #197
I'd wait for those polishments. Anyway the functionality is working.

@hkrist could u do that?

[2015-06-26 13:15] fekete-robert commented on #218
@gregory094: IMO, the OSE docs are far more complex than what can be handled in Markdown in a meaningful way.

[2015-06-26 13:57] gregory094 opened #535 "python: passing arguments from config to init()"
It would be nice to parse arguments from syslog-ng.conf and pass it to '__init__()'  method in python destinations.

example:

[code]
[code]

[2015-06-26 14:36] gregory094 commented on #534
We've implemented this HTTP destination. PR: #536

[2015-06-26 15:25] faxm0dem commented on #218
time to write a balabit markdown flavour! ;-)

[2015-06-26 16:18] algernon commented on #218
There's also ReStructuredText and asciidoc. Not to mention that Markdown permits raw HTML.

Mind you, as far as I remember, neither of those solve the problem of allowing includes.

[2015-06-26 18:01] vincentbernat commented on #218
We could also just keep DocBook. That's better that not having anything. :)

[2015-06-26 20:42] hkrist commented on #197
Ok.I'll let u know when it's done, here.

[2015-06-29 14:47] czanik commented on #434
My 3.6.4 package is now available in OBS and I asked for some testing from previous bug reporters.

[2015-06-29 15:00] czanik opened #537 "3.7 beta2 and --disable-python on FreeBSD"
When running configure and trying to disable python support, configure fails both with --disable-python and --without-python:
[...]
  Redis support (module)      : yes
  Riemann destination (module): no
./configure: ${enable_python:n...}: Bad substitution

Python is always available on the system (as a dependency of glib2), but still I want to make sure, that it can be disabled (not all people nee

[2015-06-30 09:21] gregory094 commented on #534
depends on #535

[2015-06-30 09:29] gregory094 opened #539 "HTTP destination driver in Java"
porting HTTP dest driver from Python to Java

[2015-06-30 09:31] gregory094 commented on #539
Java destination has also the capabilities to pass options from the config file. At present it would provide more functionalities than python.

[2015-06-30 13:01] dnsjts commented on #537
A possible typo has been found in `configure.ac:1518`. (`:` instead of `:=`)
It happens only in an `echo` command, so I wouldn't say, that the configuration has failed.

Please ignore the error, and proceed to the build phase.

[2015-06-30 13:04] czanik commented on #537
The problem is, that FreeBSD ports runs ./configure, make, make install one after the other, and fails the process on the first error. Could you prepare a patch I could use in FreeBSD ports?