[2018-09-20 11:10] HanouaJ commented on #1384
Hi Kokan !

I have switched to version 3.17 of syslog-ng and it works fine, no conflict on the  /etc/logrotate.d/syslog file.

[2018-09-20 11:17] Kokan commented on #1384
I am glad to hear it.

[2018-09-20 21:06] JawadKM commented on #2292
Hi again,
I made a way head and now i am stuck here, would some one be able to assist me in resolving this issue.
Your help will be highly appreciated.

When I further drill down into the issue it gives me this

looking forward to here from you soon.

[2018-09-20 23:24] JawadKM opened #2298 "There is insufficient memory for the Java Runtime Environment to continue."
Hi ,
I am trying to run syslog-ng but stuck here, would some one be able to assist me in resolving this issue.
Your help will be highly appreciated.

When I further drill down into the issue it gives me this

looking forward to here from you soon.

[2018-09-20 23:34] JawadKM commented on #2298
**Version of my syslog-ng**

syslog-ng 3 (3.14.1)
Config version: 3.14
Installer-Version: 3.14.1
Revision:
Compile-Date: Feb 28 2018 07:34:20
Module-Directory: //usr/lib64/syslog-ng
Module-Path: //usr/lib64/syslog-ng
Available-Modules: add-contextual-data,afamqp,affile,afprog,afsocket,afstomp,afuser,appmodel,basicfuncs,cef,confgen,cryptofuncs,csvparser,date,dbparser,disk-buffer,graphite,json-plugi

[2018-09-21 04:56] Kokan commented on #2298
@JawadKM were you able to solve this issue ?

[2018-09-21 13:26] JawadKM commented on #2298
@Kokan I was able to solve the issue, it was a permission issue at SELinux level.

[2018-09-21 13:29] Kokan commented on #2298
@JawadKM is it possible that the #2292 is also related to selinux ?

[2018-09-21 16:11] JawadKM commented on #2298
@Kokan yes that issue is also related to SELinux

[2018-09-21 16:19] gaborznagy opened #2303 "File read again on each reload when flow-control is on"
During investigation of #2228 I have found that in case of flow-control is kicked in, on reload we create a new LogReader and read the file again.

As @MrAnno pointed out in #2228:

It is deinited, but it still might wait for its acks.

## Steps to reproduce
1. start syslog-ng with the following config and with the following prerequsities:
* do not open destination,
* create file with `log_iw_size

[2018-09-21 16:48] JawadKM commented on #2298
@Kokan I stll have a question for you, I will appreciate if you can help me with that.
So for the security purposes I have SELinux **enforcing** and that is how I want it to be, but to run syslog-ng with Elasticsearch2 configuration I had to make SELinux to  **permissive** which I don't want to do in production environment.
Could you please advise how can I make syslog-ng work with elasticsearch2

[2018-09-21 20:43] soubhik-c commented on #2126
I am getting the same error with elasticsearch-6.4.1 and syslog-ng 3.17 in ubuntu 16.04. Any help is greatly appreciated.

Thanks

[2018-09-22 10:56] Kokan commented on #2298
@JawadKM I do not have that much experience with selinux, but I would not advice you to turn off :)
I did some digging myself, first of all created a Fedora VM (which has selinux enforcing by defualt), and compiled syslog-ng there, set up elasticsearch 2.3 in docker, and started syslog-ng with your configuration.

The messages were stored in ES without selinux blocking syslog-ng. My guess would be

[2018-09-23 14:09] Kokan opened #2304 "verify the configuration is the same as on the disk"
The https://github.com/balabit/syslog-ng/pull/2280 PR stores the current configuration in memory, the user could query it via `syslog-ng-ctl config`.

Because now we have the configuration, it would be easy to verify if the configuration on the disk is the same as the current active configuration.
The `syslog-ng-ctl config` could be extended with a `--verify` option, which could ask `syslog-ng` to

[2018-09-24 12:46] Kokan commented on #2304
Oh yes, it was also part of one of the GSoC 2018 idea. I am going to open an issue for that as well.

[2018-09-24 13:01] Kokan opened #2306 "auto reload syslog when config changed on disk"
_Originally posted by @faxm0dem in https://github.com/balabit/syslog-ng/issues/2304#issuecomment-423956534_

This option would watch the configuration file for changes, and when there have been a change it automatically reloads syslog-ng.

[2018-09-24 16:55] czanik opened #2307 "examples fail to build on recent RPM distros"
# syslog-ng

## Version of syslog-ng

Today's git master snapshot.

## Platform

Recent Fedora / openSUSE / SLES releases (RHEL7, SLES12, openSUSE 42.X are not affected)

# Issue

## Failure

Compilation fails. But seeing "examples" in the name makes me wonder if we want to compile at all and if there is any way to disable compiling this...

[code]

[2018-09-24 17:34] MrAnno commented on #2307
Thanks for catching this. Currently, there is no way to disable the compilation of this module.

Is it possible that you've created the dist tarball from an environment where `getrandom` is not available and then compiled it in OBS and it failed on "new" platforms?

This is obviously my fault, I'll fix it ASAP.

[2018-09-24 17:41] czanik commented on #2307
Dist tarball was created using "dbld/rules tarball". Build tests were done locally in chroot-s, the same environments as in OBS and Copr.

[2018-09-24 17:43] MrAnno commented on #2307
If my theory is correct, could you try the fix below?

https://github.com/MrAnno/syslog-ng/commit/b9b2b9d09614b43eaf298136fdf1ec04d7806842

[2018-09-24 18:00] czanik commented on #2307
Did a fresh checkout, patched it, created tgz, but build still failed.

[2018-09-24 18:14] MrAnno commented on #2307
Uhh, sorry.

One last try for today:
https://github.com/MrAnno/syslog-ng/commit/da7677a560e44958f39b7470ef533483091c0684

I'm going to reproduce the problem tomorrow, if this does not help.

[2018-09-24 23:36] JawadKM commented on #2298
@Kokan Thanks for all your help, I will review and if any thing I will create a new ticket referring to this one.

[2018-09-24 23:36] #2298 closed

[2018-09-24 23:47] JawadKM opened #2309 "Having issues viewing the Log File Name in Kibana"
Hi,
I am using syslog-ng to push logs to elasticsearch and view in Kibana.
Problem I am facing right now is that, I can view all the logs in Kibana but I cannot I identify which log file they belong to. In my case same log is recorded in more than one log file.
Below is the example of the config in syslog-ng **"source and destination of my log file"**

source s_apache{
    file("/opt/int/apache/lo

[2018-09-25 05:32] Kokan commented on #2309
You have to transport the filename also, because that is I think now lost. The macro you could use `FILE_NAME`, in the relay this stores the name of the file.

One of the way is to use the `ewmm`, which sends all of the macros, you can just specify instead of `syslog("192..." transport("tcp") port(514));` the `ewmm(ip("192...") transport("tcp") port(514));`.
On the source side the same could be us

[2018-09-25 08:55] czanik commented on #2307
Just tested it again, and seems to work. Sorry for the confusion. I guess I should not do testing half asleep :) https://build.opensuse.org/package/show/home:czanik:syslog-ng-githead/syslog-ng now has libexamples.so both for ancient (SLES 12) and bleeding edge (Tumbleweed)

[2018-09-25 10:40] MrAnno commented on #2307
Nice, thanks for the tests :)

[2018-09-25 10:40] czanik commented on #2307
And RHEL7/Fedora compiled with it as well: https://copr.fedorainfracloud.org/coprs/czanik/syslog-ng-githead/build/802586/

[2018-09-25 14:12] JawadKM commented on #2309
@Kokan do you mean to configure it this way?

source s_apache (filename("cat.log") ) {
file("/opt/int/apache/logs/cat.log");
};

[2018-09-25 15:04] Kokan commented on #2309
The `ewmm` is a new feature you need at least `3.17.2` (so pretty bleeding edge).

I assumed you have syslog-ng as relays collecting from log files sending to a server syslog-ng that forwards all of the messages to elasticsearch.
And based on that your relays do not send the file name to the server, so the server cannot send it towards elasticsearch.

If this is a case you have to make sure to tra

[2018-09-25 16:12] bazsi commented on #2309
just a note, that if you send messages between syslog-ng hops (e.g. from a
syslog-ng client to a syslog-ng server), and you want to transfer ALL
name-value pairs, then the preferred form of sending logs from one to the
next is to use the syslog-ng() driver, and not the ewmm() one.

On the server side, you can decode these messages using the
default-network-drivers() source that registers all parsi

[2018-09-26 07:07] #2307 closed

[2018-09-26 08:45] jasantiago-stratio commented on #140
It also misses the last message in case of a file rotation with multi-line-mode(indented), I think that a multi-line-timeout parameter, as @ngergo wrote, would be a very nice feature.

[2018-09-26 09:49] #1960 closed

[2018-09-26 10:53] gaborznagy commented on #1360
Hi @nilathak!

Sorry for a late answer and thanks for the report with the details!
I think we have not verified this issue yet.

From the code it looks like something similar what @dwfreed described: we seek to the end of /dev/kmsg.
Also, what I see is we drop the usage of /proc/kmsg in favor of /dev/kmsg (if we can open /dev/kmsg).
I think we do this for a reason, so we need to investigate this f

[2018-09-26 14:04] JawadKM commented on #2309
@Kokan @bazsi  I have my Dev environment up and running thanks to you guys.
I might be requesting some help again when every thing goes in Prod.

[2018-09-26 14:04] #2309 closed

[2018-09-27 10:48] czanik commented on #2264
syslog-ng source as is still can't find anything other than Python 2 on FreeBSD. On the other hand with some ports Makefile magic I am able to compile syslog-ng in ports with Python 3.6

From my part finding a proper solution is no more urgent, as the vast majority of FreeBSD users use ports/packages. Of course if there is anything I can help in resolving the issue, I am ready to help any time.

[2018-09-27 10:50] Kokan commented on #2264
Sharing that magic could be a first step :)

[2018-09-27 11:12] czanik commented on #2264
First I only changed the PYTHON_CONFIGURE_* parameters from 2.7 to 3.6, had the correct configure parameters, but compilation still failed.

Changing the USES variable solved the problem without any visible changed to ./configure parameters.
I guess the file list at the end could be more elegant, and as a next step I'll try to make the Python version configurable.

[code]

[2018-09-27 14:09] dwfreed commented on #1360
You have to seek during reopening of /dev/kmsg, otherwise you'll read messages you've already seen before, because /dev/kmsg always contains the entire contents of the kernel ring buffer.  /proc/kmsg is different, in that reading from it permanently consumes that information (like a pipe), so the start of the file is always the oldest message you haven't read.

[2018-09-28 13:28] czanik opened #2317 "inline Python code: ' in comment generates syntax error"
# syslog-ng

## Version of syslog-ng

git snapshot from yesterday

## Platform

CentOS 7

# Issue

## Failure

While testing the Python parser.

If there is a ' in a comment, like in:
[code]
Then syslog-ng does not start, but gives an error message and the ^^^ is at the wrong place:
[code]

## Configuration

[code]
If I use """ for comment instead of #, the ' does not cause a problem any more. The

[2018-09-28 13:41] Kokan commented on #2317
For version if you want to provide you can always write the git hash :)
Could you please post a minimalist configuration that still reproduces the issue ? (not just a partial config)

Also for me the `pyton {} ` does not seems correct. I think the `python` block should be named.
[code]

[2018-09-28 13:57] czanik commented on #2317
Sorry, I have no idea about the git hash (I update git more often than I build packages for CentOS).
It is an almost complete config, expected to be dropped into /etc/syslog-ng/conf.d
the problematic line is:
[code]
If I replace it with:
[code]
or
[code]
it works just fine.

[code]

[2018-09-28 17:06] Kokan commented on #2317
But in syslog-ng grammar the other includes, and the root config could change your snippet behaviour.
Just an example:
[code]
It won't be a valid configuration, saying something like this:
`Error parsing block reference, syntax error, unexpected '{', expecting '(' in dummy.conf:`
(Of course the issue probably not intentional opposed to my example.)

But I created such config:
[code]
And it does no

[2018-10-01 00:34] isubasinghe commented on #2304
Okay, this seems simple enough, this is going to be my first contribution, so I am not exactly sure how to go about addressing the community.

Before I get started could someone please point to where the config file is stored on disk and where it is loaded in memory (Which data structure, in which source file).

Thankyou

[2018-10-01 05:21] Kokan opened #2322 "update scl deprecated tcp/udp"
The `scl` directory contains a few deprecated use of `tcp(...)` and `udp(...)`, they should be replaced with `network( ... transport(tcp/udp) ...)`.

[2018-10-01 07:41] geekodour commented on #2239
@Kokan would love to work on this as part of Hackoctoberfest, I'll try to reproduce the issue and then get started on the fix. can you point me to the file or part of project where should I start looking as I am entirely new to the codebase?

[2018-10-01 07:46] Kokan commented on #2239
@geekodour sure :)
the code for loggen could be found in the `tests/loggen` folder. In that folder there is a short description about how the `plugin` system works for `loggen`.

[2018-10-01 11:54] geekodour commented on #2239
thanks for the pointer, working on it.

[2018-10-01 12:40] mauricetmeyer commented on #2322
@Kokan I would like to take on this as part of Hacktoberfest.

[2018-10-01 13:12] Kokan commented on #2322
@mauricetmeyer sure thing. I saw you already created a commit. In the commit message we follow the rule as the first line should be:
[code]

By block I mean the part you changed for example: `scl: ...`.

[2018-10-01 13:31] mauricetmeyer commented on #2322
@Kokan I'll make sure to fix that. Beside that I have a question about an awk script defining a deprecated udp call:

https://github.com/balabit/syslog-ng/blob/66a3519782f08f2e03502d4a5d0e4d3ac3740823/scl/syslogconf/convert-syslogconf.awk#L118

 should I also update that?

[2018-10-01 15:08] abraham0477 opened #2324 "SysLog-NG & Kubernetes"
Hi, I am interested to containerize SysLog-NG images into multiple containers so I can run each image per container in a single pod in Kubernetes for better scalability and failover but no luck in finding resources.

My question here is there a way to run SysLog-NG in Kubernetes? Also, is SysLog-NG a stateful or stateless app?

I hope I can get answers for my questions above.

[2018-10-01 18:17] Kokan commented on #2322
@mauricetmeyer if possible yes please (also it has an other one in the same file).

[2018-10-01 19:53] mauricetmeyer commented on #2322
@Kokan pull request (https://github.com/balabit/syslog-ng/pull/2326) has been made. I actually had the file ready to commit but I wanted to make sure first.

Thank you for being so welcoming!

[2018-10-02 06:43] Kokan commented on #2324
Hello,
I am not really sure I got the exact use case, so I try to answer in general terms.

There is a persist file that keep track of a few things like (journal, file position, etc). This file is per instance, and cannot be shared between multiple syslog-ng instances. You are not forced to keep this file, but in that case log duplication is possible. (depends on your configuration)

You could als

[2018-10-02 13:12] Bluewind opened #2328 "Frequent disconnects with openssl 1.1.1 and TLS connections"
## Version of syslog-ng

[code]

## Platform

Arch Linux

## Failure

When the server is running with openssl 1.1.1 I get frequent disconnects on clients. When I downgrade openssl on the server to 1.1.0.i, the connections are stable. I'm guessing that this is related to openssl 1.1 supporting TLS 1.3.

Between each reconnect, the client still manages to transfer log data to the server, but afterwa

[2018-10-02 13:37] Bluewind commented on #2328
Using an openssl 1.1.1 built with `no-tls1_3` fixes the disconnects. I'm not sure why that helps, but forcing an old cipher suite does not, but maybe you know what's happening.

[2018-10-03 08:18] isubasinghe commented on #2304
Okay, I'll give it a crack this Saturday, but I may be late with it.
I have 3 university assignments I need to finish off first.

If anyone wants to work on this in the meantime please go ahead.

[2018-10-03 09:58] gaborznagy commented on #2322
Fixed by #2326

[2018-10-03 09:58] #2322 closed

[2018-10-03 19:13] szemere opened #2334 "Mark TCP(6) and UDP(6) sources/destinations as deprecated"
# Issue

*network* source/destination was introduced in syslog-ng 3.5.6 ([grammar change](https://github.com/balabit/syslog-ng/commit/8cc535f77b0511497dfdaa6ada80ef2278ab4ee9))
Syslog-ng should mark the old ones as obsolote, as the documentation does.

# Configuration

[code]

# Input and output logs

We expect to get a warning message about using a deprecated config option. i.e.:

[code]

[2018-10-04 04:12] bazsi commented on #2334
Please dont do this. There are a lot of examples and mindshare that uses
tcp and udp. I am usually for deprecations, especially when we want to push
users in certain directions, however with this move, we would be pushing
work to a lot of people (as everyone is using the old names), and also
invalidate documentation/blogs/email archives that document the use of
syslog-ng.

I understand that removi

[2018-10-04 07:39] czanik opened #2336 "print Python version with syslog-ng -V"
# Issue

syslog-ng already prints lots of useful information when the -V option is used. I'd add one more: print the version of Python used to compile mod-python. Most Linux distributions support multiple Python versions and often have multiple versions installed. Many packages still come with Python 2.7 support, but gradually changing to 3.X.

For example RHEL has 2.7 and 3.4 in the distro, and 3

[2018-10-04 07:48] lbudai commented on #2334
@bazsi: if we want to keep udp/tcp destinations forever, then we have to add tests ( I mean ZTS...)

And maybe we could create a dedicated drivers for them (with minimal code duplication... I think sometimes (_minimal_) code duplication is not a bad thing...)

[2018-10-04 08:19] MrAnno commented on #2334
Even if we don't remove them, the deprecation is necessary in my opinion because these options have been marked as deprecated in our documentation for a very long time.

[2018-10-04 08:28] lbudai commented on #2334
one reason of keep these features is that these drivers are used so many config files... and we don’t want to break those configs...  but it is time to create a clear situation for both our users and for the developers.

[2018-10-04 08:39] czanik commented on #2336
Wow, I did not know that it is possible to compile syslog-ng with two different Python versions, but that's another topic.

``syslog-ng --module-registry`` is OK with me. My only aim is to make sure that the user can query the used Python version without involving the package manager. One instruction instead of 5+ (counting only the major distros...).

[2018-10-04 09:04] Kokan commented on #2336
Multiple python module: No it is not possible yet, but I think it would be a nice feature.
(But it is not impossible with a little hack to produce such two module, and syslog-ng can load them in parallel.)

[2018-10-04 09:42] Kokan commented on #2324
I cannot share a lot of details about that project(as that is not open source), but it did not use network to collect the data, but it had other method (maybe not for the best).

I do not have a lot of experience with the built in kubernetes networking, so also not with the load balancing part. But I guess it should not be special from any other load balancing example.

Maybe later I am going to g

[2018-10-04 12:49] #2172 closed

[2018-10-04 12:53] jimasp opened #2340 "Syslog-ng AMQP cannot connect to RabbitMQ 3.7.5 due to channel_max = 0"
## Version of syslog-ng
syslog-ng 3.5.6
Installer-Version: 3.5.6
Revision: 3.5.6-2+b1 [@416d315] (Debian/unstable)
Compile-Date: Oct  1 2014 18:23:11
Available-Modules: dbparser,afsocket-notls,confgen,afstomp,redis,csvparser,affile,afmongodb,afsocket-tls,afsocket,afprog,system-source,afsql,linux-kmsg-format,syslogformat,afsmtp,afamqp,tfgeoip,afuser,json-plugin,basicfuncs,cryptofuncs
Enable-Debug:

[2018-10-04 12:58] Kokan commented on #2340
@jimasp the syslog-ng uses exactly that library, could you update your rabbitmq library and see if it is solved ?

[2018-10-04 13:12] jimasp commented on #2340
do you mean librabbitmq4?

apt-cache depends syslog-ng-mod-amqp

syslog-ng-mod-amqp
  Depends: libc6
  Depends: <librabbitmq4>
  Depends: syslog-ng-core
  Suggests: rabbitmq-server

sudo apt-get install --only-upgrade librabbitmq4

Reading package lists... Done
Building dependency tree
Reading state information... Done
Package librabbitmq4 is not available, but is referred to by another package.
T

[2018-10-04 14:41] #1824 closed

[2018-10-04 14:55] Kokan commented on #2340
@jimasp sure, I did not check the code of the PR you linked. But it seems the library update does not actually solve much, just defines a different default value macro. Updating a `librabbitmq4` won't help you.
Probably there should be a configuration option for this in syslog-ng,

[2018-10-04 16:06] Kokan commented on #2340
@jimasp  I've created a PR, could you test it ?

[2018-10-04 19:42] madsalama commented on #2304
I've been working on a daemon that tracks filesystem changes using inotify. I think I can do that once I figure out how/where the configuration is stored for syslog-ng.

[2018-10-04 19:45] Kokan commented on #2304
@madsalama I left a few clue in my previous comment ;)

[2018-10-05 02:44] bazsi commented on #2334
The language of the documentation could be refined, and I agree that the documentation and the software should be in sync. I just don't think we should push work to _all_ our users with little benefit. My assumption was that we do have tcp/udp ZTS tests, but now as I've looked at the testcases, it seems that we don't.

We do however pretty comprehensive unit testing on transport-mapper-inet and th

[2018-10-05 06:05] abhay8nitt opened #2344 "how to filter messages based on the SYSLOG_IDENTIFIER"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

Ubuntu/16.04

mytemplate is SYSLOG_IDENTIFIER registered in the mytemplate.service file as
[code]

I have created a syslog-ng configuration file /etc/syslog-ng/conf.d/template.conf The contents of the file are as under
[code]

The output of **journalctl -o verbose** is as under
[code]

I donot see any log messages getting filtered into the

[2018-10-05 06:11] Kokan commented on #2344
@abhay8nitt I believe the `$MESSAGE` macro does not contains the `mytemplate` string, but rather it is part of a kv-pair `SYSLOG_IDENTIFIER`, so you should use that one in the filter instead of the `MESSAGE`. (did not test)

[2018-10-05 06:14] abhay8nitt commented on #2344
thanks for the quick reply Kokan, so are you saying the changed filter message shoudl look like

filter f_mytemplate { match("mytemplate" value("SYSLOG_IDENTIFIER")); };

?

[2018-10-05 06:16] Kokan commented on #2344
@abhay8nitt yes, I would try that.

[2018-10-05 06:19] abhay8nitt commented on #2344
I tried it now but in vain. Additonally checked the available macros available are the below
https://wiki.archlinux.org/index.php/syslog-ng#Move_log_to_another_file

And it doesn't have SYSLOG_IDENTIFIER in it

[2018-10-05 06:30] abhay8nitt commented on #2344
@Kokan let me try that, will get back to you in either case :)

[2018-10-05 06:43] abhay8nitt commented on #2344
@Kokan
I changed the conf file as under
[code]

Still the logs are not getting redirected in the destination log file. The source above is referring to the default one in

Could that be an issue? Or else I am hitting something else? The file permissions are correct. When I debugged the syslog-ng using

`sudo /usr/sbin/syslog-ng -e -F -d -v > /tmp/syslog-ng.out 2>&1
`
The content of

is

[code]

[2018-10-05 07:03] Kokan commented on #2344
The following worked for me:
[code]
*Disclaimer I tried with 3.17 and not with your version.*

I think first of all you have to verify if the filed does present or not, so remove the filter and use the following template to print out all of the available fields (`template("$(format-welf --scope all-nv-pairs)\n")`), and check if the `mytemplate` does exists.

[2018-10-05 07:17] #2336 closed

[2018-10-05 07:53] abhay8nitt commented on #2344
With my version I get this error

Error parsing source, source plugin systemd-journal not found in /etc/syslog-ng/conf.d/mytemplate.conf at line 15, column 18:
                                                   included from /etc/syslog-ng/syslog-ng.conf line 170, column 1

        source { systemd-journal(); };
                 ^^^^^^^^^^^^^^^

[2018-10-05 09:00] abhay8nitt commented on #2344
**Additional Info**

I changed the filter to

`filter { match("mytemplate" value("FULLHOST")); };`

and

I could see the logs in

[code]

I don't know why the SyslogIdentifier thing is not working :(

[2018-10-05 10:01] #2340 closed

[2018-10-05 11:54] jimasp commented on #2340
@Kokan thank you, yes I will do when I get a chance.

[2018-10-05 19:36] faxm0dem commented on #2334
would it be possible/useful to reimplement udp and tcp as scl?

[2018-10-06 09:38] madsalama commented on #2304
I think 2306 invalidates 2304; since if configuration is going to be always reloaded when daemon detects changes on disk, then the --verify option isn't useful since it will always return "up-to-date".
Am I misunderstanding something here?

[2018-10-06 10:01] Kokan commented on #2304
@madsalama
More or less. The reason why it does not because the config change detection on this **must be** an opt-in feature.

For example it is possible that the user has multi file configuration which is deployed via some automation (like ansible), and that automation could easily triggerer the reload (but otherwise it may read a config that was not complete...)

This feature IMHO is good to ha

[2018-10-06 10:07] madsalama commented on #2304
Ah I understand now, that's a very clear explanation - thanks!

[2018-10-06 18:28] madsalama commented on #2304
@Kokan - Is below a valid user input that needs to be handled?
``` syslog-ng-ctl config --verify --preprocessed ```

[2018-10-06 18:38] Kokan commented on #2304
@madsalama I think that is kinda hard to achieve, in the long term it would be nice. Any PR without supporting that is fine. Maybe that could be a different PR if somebody feel up to it :)

[2018-10-07 12:39] madsalama commented on #2304
@Kokan - Should the verification ignore file modifications that does not change the semantics of the configuration file? Like extra/removed empty new lines ``\n`` or comments``^[#]``? I was thinking of using regex to check that if that's useful.

[2018-10-07 12:44] jimasp commented on #2340
@Kokan

I just pulled master, and can confirm that works fine.

But being a total Linux noob, I have some concerns:

1. It fixes the problem even without specifying max_channels. This may be because to build it I had to install librabbitmq-dev, which could affect the default for max_channels?

2. I am unsure how this helps me on a production server?
   a. Would the build need to be done on the pro

[2018-10-07 15:28] Kokan commented on #2304
@madsalama I think this should not ignore whitespace changes. If the verification fails because of whitesapce the user still can compare the two configuration file.

Two configuration file could be defined as equal not just in case of whitespace changes, and it would be natural to expect it to detect those equality as well.

Just a trivial equal config example:
conf1
[code]

conf2:
[code]

Just a

[2018-10-07 16:13] madsalama commented on #2304
I was thinking ``--verify`` would **not** compare unless the file on disk is grammatically correct **first,** because I think there's no point of comparing if there's a syntax error. Or do you mean that ``--verify`` should actually produce an output similar to a ``$ sdiff -s`` always and show a comparison?
I think that would be a **bit** too difficult to implement from scratch.

My idea of compari

[2018-10-07 16:35] madsalama commented on #2304
Ah that would be way much easier then. If it's just a naïve string comparison - I've already done it!
Hopefully will raise a PR soon then. :)

[2018-10-07 22:46] madsalama commented on #2306
For example, would this be the requirement for starting the server with watching enabled?
``$ syslog-ng --watch``

[2018-10-08 10:40] faxm0dem opened #2346 "Enhancement: implement a priority queue"
When dropping messages, syslog-ng will do so in a last-in, first dropped fashion. Imagine you have important messages coming in, being dropped in favour of unneccessary debug messages from a misbehaving test application.
Wouldn't it be awesome if syslog-ng would drop messages with a varying probability based on the message's importance?
The proposal here is to introduce [priority queues](https://e

[2018-10-08 12:35] gaborznagy commented on #2346
Interesting idea, from implementation point of view too!

Can you go in detail about the user interface side, please? You mentioned LEVEL_NUM.
What should happen if the queue fills with priority messages only?

[2018-10-08 13:47] Kokan commented on #2306
A command line option like that, for example `--auto-reload`.

I think things that I think worth mentioning:
* It is important not to trigger configuration reload before the *initial* configuration load is finished.
* The project uses [ivykis](https://github.com/buytenh/ivykis) which has inotify support, and because that is the backbone of the event, tasks, .. management it would be better to use.

[2018-10-08 13:50] Kokan commented on #2239
@geekodour hi, are you steel planning to work on this ? If you need, I would be happy to provide additional help :)

[2018-10-08 14:52] madsalama commented on #2306
That's interesting! I'll check that out.

[2018-10-08 21:40] Kokan commented on #2239
@geekodour Sure take your time, this issue is not high  priority.

[2018-10-09 06:02] abhay8nitt commented on #2344
@Kokan we can close this issue... We will either upgrade as suggested or filter based on other fields. Thanks

[2018-10-09 06:02] #2344 closed

[2018-10-09 11:58] faxm0dem commented on #2346
Here is a possible mockup (I'll add more later):

[code]

[2018-10-10 21:37] JawadKM opened #2349 "Syslog-ng stopped pushing logs to Elasticsearch"
Hi,
I have my syslog-ng pushing data to Elasticsearch, it was working perfectly fine but then suddenly stopped working.
Below is the example of the config in syslog-ng "source and destination of my log file"

**Client server;**
source s_apache{
file("/opt/int/apache/logs/cat.log");
};

destination d_syslog_tcp {
              ewmm(ip("10.10.0.3") transport("tcp") port(514) );
};
log { source(s_apa

[2018-10-11 12:17] faxm0dem commented on #2349
There is an open bug #1993 that causes an infinite loop when ES doesn't parse a message.
Can you try `flush-limit(1)` to confirm this is the same issue?

[2018-10-11 13:58] JawadKM commented on #2349
@szemere  following are the results of syslog-ng-ctl stats

**Client**
SourceName;SourceId;SourceInstance;State;Type;Number
center;;received;a;processed;12902
source;s_eHealth_Attribute_Mapper_log;;a;processed;361
source;s_apache;;a;processed;451
source;s_eHealth_STSAuthentication;;a;processed;0
center;;queued;a;processed;12902
global;scratch_buffers_count;;a;queued;77309411328
source;s_authentica

[2018-10-11 14:06] JawadKM commented on #2349
@faxm0dem You want me to inclide "flush-limit(1)" in global options?

[2018-10-11 15:05] JawadKM commented on #2349
@faxm0dem I included "flush-limit (1)" as follows;

destination d_elastic {
elasticsearch2 (
flush-limit (1)
client-lib-dir(/usr/share/elasticsearch/lib)
cluster("syslog-ng")
client-mode("http")
index("syslog-ng")
type("test")
template("$(format-json --scope rfc5424 --scope nv-pairs --exclude DATE --key ISODATE)")
)
};

But the issue still remains, looking forward to your help.

[2018-10-12 03:32] Allen1218 opened #2353 "About crop syslog-ng server(裁剪syslog-ng的服务器)"
Hello，

	I have a problem when I use syslog-ng：The generated executable and so libraries account for too much memory, so that my board environment  can't accommodate it.

	I use syslog-ng only with syslog-ng client and not use syslog-ng server,  so I plan crop syslog-ng server code.  But I spent much time and didn't find a way to solve it.
Can you help me?

[2018-10-12 04:55] bazsi commented on #2353
How much memory does your board have? You cant even load the executables or
the runtime memory usage is too much?

To cut it back, I would probably try to tailor the modules that are
strictly needed and link those into the main executable, instead of using
separate so files. Also, statically linking libraries that nothing but
syslog-ng uses could help memory usage as well.

Note that the above doe

[2018-10-12 08:27] #2317 closed

[2018-10-12 09:00] szemere commented on #2349
@JawadKM thank you for the output. It shows me that the logs are fetched on the client, and successfully forwarded towards the server. But the server can not send it to elastic (queued: 100, processed: 137, dropped: 37) after the first 100 message the outgoing queue filled up, and syslog-ng has started to drop messages.

The next step will be to investigate the connection between Elasticsearch and

[2018-10-12 19:31] MrAnno commented on #2334
We've discussed internally that we don't want to deprecate the tcp() and udp() sources/destinations.

[2018-10-12 19:31] #2334 closed

[2018-10-13 03:46] Allen1218 commented on #2353
Thanks.

I did not express it clearly yesterday. The problem is this:
syslog-ng is used on the board after cross-compilation. The flash space of my board is very small, but syslog-ng is ported to the board after cross-compilation, which takes up 1.7M space.  And the flash space of my board can't fit 1.7M syslog-ng.

[code]

Therefore, I mainly consult you under the following two questions, thank y

[2018-10-13 08:01] ajespoo commented on #2304
It would be nice to have a livereload of files, without asking every single time that something new it’s on the file

[2018-10-13 08:03] ajespoo commented on #2304
Before fully booting the system to ONTAP, you can optionally boot to Maintenance mode and verify the disk assignment on the nodes. The disks should be assigned to create a fully symmetric active-active configuration, where each pool has an equal number of disks assigned to them.

[2018-10-13 17:44] pzoleex opened #2357 "loggen bug in raspberry pi"
I've installed syslog-ng on my raspberry from this repo:
http://download.opensuse.org/repositories/home:laszlo_budai:/syslog-ng/Debian_9.0

when I start loggen, the partial results are wrong. I think there is some counter overflow:
pi@hassbian:~ $ loggen 192.168.1.116 10515 --inet -D -r 100000 -I 3
count=1991941296, rate = 0.00 msg/sec
count=1991941296, rate = 0.00 msg/sec
count=1991941296, rate =

[2018-10-13 17:47] madsalama commented on #2306
@Kokan - would you mind labeling this issue as work-in-progress to avoid any double efforts? I'd much like to work on it during the upcoming week.

[2018-10-13 18:43] #2304 closed

[2018-10-13 18:47] Kokan commented on #2306
I assigned it to myself, because it does not let it assing for you, please feel free to work on this.

[2018-10-15 05:38] norberttak commented on #2357
I run the same tests on my Ubuntu with syslog-ng 3.18.1 and have this output:

~/src/syslog-ng/build/install/bin (master)$ loggen 127.0.0.1 10515 --inet -D -r 100000 -I 3
count=189305, rate = 104596.61 msg/sec
count=238577, rate = 98528.24 msg/sec
count=287985, rate = 98801.97 msg/sec
count=337336, rate = 98682.07 msg/sec
count=386646, rate = 98606.39 msg/sec
average rate = 128861.94 msg/sec, coun

[2018-10-15 14:14] JawadKM commented on #2349
@szemere If you don't mind telling me the command to start syslog-ng with the "-Fdev" option, as I have been trying but falling.

[2018-10-15 16:30] sbraz opened #2360 "Stops reading some log files after a while"
## Version of syslog-ng

[code]

## Platform

Ubuntu 18

# Issue

## Failure
Hi, it seems that my syslog-ng instances hangs after a while and stop following some files. This wasn't a problem with Ubuntu 14 (running 3.5.3).

Looking at output from lsof or pv, I can see that it is reading one file but not the other one:
[code]
I'm not sure how to interpret the output of strace and gdb:
[code]

[code

[2018-10-16 02:18] dglei opened #2361 "Problem with basename function of syslog-ng"
## Version of syslog-ng
syslog-ng 3.14.1

## Platform
Ubuntu 16.04.3(server-amd64)

## Steps to reproduce
1. Configuration
vim /etc/syslog-ng/syslog-ng.conf

[code]

2. start syslog-ng
systemctl restart syslog-ng

3. output logs
"/var/log/test/*.log" expected to be collected under "/data/logs/" directory, but actually under "/" directory.

[2018-10-16 07:35] faxm0dem commented on #2361
could you please run syslog-ng in debug mode and paste the output ?

[code]

[2018-10-18 09:14] pesc opened #2362 "Telegram requires http even if http support is disabled"
# syslog-ng

## Version of syslog-ng
syslog-ng 3 (3.17.2)

## Platform
FreeBSD 10.4

# Issue
Since version 3.16 (I guess) we always get a warning
[code]
[code]

We're building syslog-ng without the HTTP support:
 Modules:
[code]

I guess this bug is related with this Issue here #2138. Would it be possible to not include the Telegram Module if HTTP support isn't enabled at all?

[2018-10-18 14:40] JawadKM commented on #2349
@szemere These are the results I am getting

**systemctl status syslg-ng (after stopping syslog-ng)**

 syslog-ng.service - System Logger Daemon
   Loaded: loaded (/usr/lib/systemd/system/syslog-ng.service; enabled; vendor preset: enabled)
   Active: inactive (dead) since Thu 2018-10-18 10:14:30 EDT; 6min ago
     Docs: man:syslog-ng(8)
  Process: 28969 ExecStart=/usr/sbin/syslog-ng -F $SYSLOGNG_O

[2018-10-19 09:02] bazsi opened #2364 "the "syslogng" Python module name is used for two purposes, one shadowing the other"
# syslog-ng

## Version of syslog-ng

3.18.1 and latest master.
## Platform

Linux, but is any.

# Issue

We are using the "syslogng" python module for two purposes and one use shadows the other, breaking the interactive debugger.

1) it is used as the package name for all Python code supplied to syslog-ng (e.g. modules/python/pylib)
2) it is used as a builtin module by the Python fetcher/source/t

[2018-10-19 14:13] JawadKM opened #2365 "Syslog-ng stopped pushing logs to Elasticsearch"
Hi Team,
I am stuck on this issue for over a week now, anyone who could help me in resolving this issue will be highly appreciated.

Please refer to ticket/issue #2349 for further details.

Result of **"syslog-ng -Fdev"** is as follows;

**systemctl status syslg-ng (after stopping syslog-ng)**

syslog-ng.service - System Logger Daemon
Loaded: loaded (/usr/lib/systemd/system/syslog-ng.service; enab

[2018-10-19 14:20] gaborznagy commented on #2365
@JawadKM please don't open new issues just to put pressure on us.
We do our best to support the community, please be patient.

You basically just copy-pasted your comment from your previous open issue:
https://github.com/balabit/syslog-ng/issues/2349#issuecomment-431035342

I'm closing this issue as it is a duplicate.

[2018-10-19 14:20] #2365 closed

[2018-10-19 14:59] JawadKM commented on #2349
@gaborznagy  Thanks for the reply. So could you please guide how how to fix, what you have stated in your first and second point.
I need your help, as this is my first time working with syslog-ng.

Thanks,
Jawad

[2018-10-19 15:18] JawadKM commented on #2349
@gaborznagy Also I have thise error in "-Fdev" result
syslog-ng: Error setting capabilities, capability management disabled; error='Operation not permitted'

[2018-10-19 15:55] JawadKM commented on #2349
@gaborznagy and when I tried addressing the below issue
[2018-10-18T10:15:43.367376] Error creating persistent state file; filename='/var/lib/syslog-ng/syslog-ng.persist-', error='Permission denied (13)'

it started giving me these errors

[2018-10-19T11:29:32.399183] WARNING: With use-dns(no), dns-cache() will be forced to 'no' too!;
[2018-10-19T11:29:32.399438] Module loaded and initialized succ

[2018-10-19 17:36] JawadKM commented on #2349
@szemere @gaborznagy @faxm0dem
I uninstalled and re installed elasticsearch, deleted the index from kibana and added it again, and started getting the latest logs.
this resulted in losing all the previous log, but I can live with that as this is not Prod.
Now the issue is the drop messages as indicated by @gaborznagy in his above comment.
Also with the new install I am getting a lot of drop messag

[2018-10-20 17:56] MrAnno commented on #2276
Fixed in #2291.

[2018-10-20 17:56] #2276 closed

[2018-10-21 13:48] madsalama commented on #2306
Phew! Had a long busy week at work and I barely had time to work on this. Now I kind of have a flow on how I will proceed to work on it. Honestly ``modules/affile/directory-monitor-*`` have been very useful and I learned a lot just following the code. I might raise a PR tonight or tomorrow if all goes well. ⚙️

[2018-10-21 14:42] madsalama commented on #2306
I have a question - for ``DirectoryMonitorEventType`` - why isn't there an event type for ``FILE_MODIFIED``?

[2018-10-21 16:48] furiel commented on #2306
The concept with wildcard file source: directory monitor is only used to check if a file is created. In that case, a WildcardFileReader instance is created which is inherited from FileReader. In the end, for every created file, syslog-ng creates a file reader that is responsible for polling new content (see `poll-file-changes.c: poll_file_changes_check_file`, which is executed periodically).

I te

[2018-10-21 17:42] madsalama commented on #2306
@furiel - If I am understanding correctly, I am thinking of adding/adding a handler for ``FILE_MODIFIED`` inside``wildcard-source.c`` and hopefully I'll follow the logic as per other handlers. Am I on a right track?

[2018-10-21 19:12] furiel commented on #2306
@madsalama wildcard file source is for generating messages from multiple files. Here we only need to check if a single file is changed, which is substantially different. You can receive inspiration from the way wildcard source works, but beating wildcard source to work for this cause can be very tricky while maintaining clean code. This should be addressed outside the scope of wildcard file source

[2018-10-22 20:47] furiel opened #2368 "python source crashes if post called from a thread"
I found a crash while experimenting with python source. The crash happens if the post is called from another thread, spawned from the user code. Without any destination, there is no crash. However, there was a crash with either file destination and network destination.

[code]

Backtrace
[code]

[2018-10-23 07:04] pesc commented on #2362
Ok, thx

[2018-10-23 07:04] #2362 closed

[2018-10-23 15:28] mikeBashStuff opened #2369 "syslog-ng doesn't follow changes in system's timezone when keep_timestamp(no) is set"
# syslog-ng

[code]

## Platform
[code]
## Issue
When keep_timestamp(no) is set as a global option, syslog-ng doesn't seem to pick up changes in the timezone of the local system it's running on (basically whenever /etc/localtime is updated). Instead, it keeps writing logs with outdated timestamps (from before the tz was changed). The only way to force syslog-ng into writing proper timestamps is by

[2018-10-23 15:45] d-michele commented on #2239
@Kokan Hi, i would like you to ask some clarifications to better understand the issue.
If I'm not wrong you need a check of program arguments contextually with the plugin we want to start. It is correct? Thankyou!

[2018-10-23 19:40] madsalama commented on #2306
Okay so I'm done with the ``inotify`` part of the monitoing, now I am a little confused about polling. I don't know how ``ivykis`` fits into it since all I'm thinking about is:
- Once every ``timeout`` - read the config file again and compare with ``original_config`` :
 -- If different, reload configuration.

[2018-10-23 19:59] Kokan commented on #2306
My suggestion would be to share the version with `inotify` first (you could get some review comments), and when that is done, the poll version can be dealt with. (even in a separate PR if you want to.)

But yes, the poll version is just setting a timer over and over (`ivykis` only comes as we use timers from it) and check if the file is changed. If changed trigger the file change mechanism.

[2018-10-23 20:49] madsalama commented on #2306
@Kokan I just raised a PR. Thanks for your suggestion.

[2018-10-23 21:01] geekodour commented on #2239
@d-michele If you started working on this then please continue because it will take me a while to get back to this. thanks :)

[2018-10-24 09:51] bazsi commented on #2361
can you check if this one fixes it?
[code]

[2018-10-25 13:02] #2361 closed

[2018-10-25 14:59] czanik opened #2374 ""dbld/rules tarball" fails"
# syslog-ng

## Version of syslog-ng

fresh git snapshot

# Issue

When trying to generate a tgz using ``dbld/rules tarball`` it fails:

[code]

I suspect, that the problem might be related to https://github.com/balabit/syslog-ng/pull/2318 as it was merged yesterday and generating a tarball worked a few days ago.

[2018-10-25 15:48] czanik commented on #2374
I ran the command on a machine where I only do checkouts, so I did not configure git. Once I deleted the /root/.gitconfig directory (created during ``dbld/rules tarball`` was running) and set up git with:
[code]
I was able to run the command.

If dbld/rules needs a configured git, please give a meaningful error message about it, as there might be syslog-ng users who know even less about ``git`` th

[2018-10-26 09:26] Kokan opened #2376 "Allow splitting PatternDB xml file"
This improvement was suggested on twitter: https://twitter.com/sovic_dusan/status/1055745532365283328

This could be a starting point to discuss how to possible split up the xml.

[2018-10-26 11:20] dusko commented on #2376
My use case is follows.
We have about 7.5k patterndb rules defined and each one have 7 tags.

We are storing all patterndb patterns and tags in custom configuration files.
One file per vendor (`Arista.cfg`, `Cisco.cfg` ...).
We are using custom configuration files as it's easier to update and maintain them compare to one big xml file.
Then we convert all `*.cfg` files into single `pattern-db.xml`

[2018-10-26 11:36] Kokan commented on #2376
I was thinking about either allowing some kind of include in the xml file(maybe this is not a good idea) or allowing setting multiple xml file per patterndb.

@dusko Do you think it would be okay to relax the limitation of the `file()` and allow globing there ?
Something like this:
[code]

[2018-10-26 11:43] dusko commented on #2376
This is exactly what I have thinking of. Allow globing in `file()`.

[2018-10-26 12:39] czanik opened #2377 "syslog-ng dumps core on start when running on Aarch64"
# syslog-ng

## Version of syslog-ng

As even ``syslog-ng -V`` does not work:
[code]
so I include rpm information:
[code]

## Platform

Fedora 29 Aarch64 (64bit ARM). Also tested on AMD64, but it runs there fine.

# Issue

syslog-ng does not start at all on Fedora 29 / Aarch64. Might be an ivykis issue, that's why I included info about that as well.

## Failure

[code]

## Steps to reproduce

1. s

[2018-10-26 12:42] furiel commented on #2377
@czanik please subscribe for https://github.com/buytenh/ivykis/issues/15

[2018-10-26 12:49] Kokan commented on #2377
This is - as @furiel pointed out - a duplicated ticket, so I am closing this one: https://github.com/balabit/syslog-ng/issues/2263

[2018-10-26 12:50] #2377 closed

[2018-10-26 13:28] faxm0dem commented on #2376
currently you have the following options in my knowledge:

1. use `pdbtool` to merge files
2. use multiple `db-parser()` calls

[2018-10-26 13:38] dusko commented on #2376
Thanks @faxm0dem !
I know about 1) option can you elaborate on 2) option?

[2018-10-26 13:58] faxm0dem commented on #2376
for instance

[code]

This would apply db1,db2 and db3 sequentially to all messages, and db_fallback only if none of those matched

[2018-10-27 05:06] bazsi commented on #2376
Performance wise merging the files should be better.

The merge logic was introduced as the merge is not trivial, and because
db-parser() reloads the database automatically.

Is there any reason pdbtool merge does not work for you?

On Fri, Oct 26, 2018, 15:58 Fabien Wernli <notifications@github.com> wrote:

[2018-10-29 08:20] faxm0dem commented on #1993
here's a workaround using the http client:  https://www.syslog-ng.com/community/b/blog/posts/bulk-mode-message-sending-to-elasticsearch-with-syslog-ng-http-destination

[2018-10-29 14:08] HanouaJ opened #2380 "Syslog-ng version 3.17.2 - Memory Leak in"
# syslog-ng

## Version of syslog-ng
syslog-ng 3 (3.17.2)
Config version: 3.17
Installer-Version: 3.17.2
Revision:
Compile-Date: Aug 14 2018 07:21:10
Module-Directory: //usr/lib64/syslog-ng
Module-Path: //usr/lib64/syslog-ng
Available-Modules: add-contextual-data,afamqp,affile,afprog,afsocket,afstomp,afuser,appmodel,basicfuncs,cef,confgen,cryptofuncs,csvparser,date,dbparser,disk-buffer,graphite,ho

[2018-10-29 18:22] szemere commented on #2349
Dear @JawadKM,
 sorry for the late answer, but I have to train myself too in the topic. I try to summarize my current progress, hope it will help you along the way:

- I installed Elasticsearch through this Vagrant configuration: https://github.com/lbudai/test-elastic5-vagrant-env since vagrant always try to bring up the same config, this way we can compare our instances.
- I created a fresh build

[2018-10-30 05:56] Kokan commented on #2380
@HanouaJ hello, I tried to check this leak, but cannot find per message leak in case of redis destination.
I also tried to let the queue store some item, and start redis after some messages.

But I've found a connection related leak, it leaks every time it reconnects, or when you reload syslog-ng. Soon I'll send a PR for that.

Could you test it with `valgrind` ? to determine where the actual leak

[2018-10-30 15:02] HanouaJ commented on #2380
Hi Kokan, thank you for your feed-back. I will do both tests and get back to you as soon as I can :)

[2018-10-30 15:45] HanouaJ commented on #2380
Hello Kokan ! Here is the output of two tests using Valgrind from our DEV environment with the same configuration I have mentioned before (Without the new PR fix that you made) :

**# valgrind --leak-check=yes /usr/sbin/syslog-ng -F -p /var/run/syslogd.pid**
[code]

**# valgrind --leak-check=full /usr/sbin/syslog-ng -F -p /var/run/syslogd.pid**
[code]

[2018-10-30 17:11] Kokan commented on #2380
@HanouaJ those are not the leak that I've fixed with my PR.
Those leaks does not seem to be per message leak, but rather per configuration parsing, based on your issue I assumed you have per message leak (that kind of leak I did not found).
Because of these leaks, your memory usage should not raise if you do not reload.

* Do you do syslog-ng reload often ?
* Do you think there is per message/even

[2018-10-31 09:31] HanouaJ commented on #2380
@Kokan

Reloading syslog-ng doesn't solve the problem and doesn't free the memory at all, only restarting does but as as we receive tens of thousands of logs per second, restarting might cause an important log data loss.

Honestly, I have no clue.

[2018-10-31 12:01] HanouaJ commented on #2380
We rarely reload syslog-ng, so reloading shouldn't be the cause of this leak.

I am able to produce this issue using a Syslog-ng version 3.17.2, with the same configuration I have mentioned, that pushes messages to two Redis servers with the syslog-ng's redis module (the same configuration I have mentioned in my first post), the memory leak occurs not matter what messages rate we use, except that

[2018-10-31 12:13] Kokan commented on #2380
Okay, I'll give it an other go to reproduce it, seems straight forward. (I did not use your exact config.)

[2018-11-02 09:31] Kokan commented on #2353
@Allen1218
1) The `glibc` and `glib` are not interchangeable libraries and both are required for `syslog-ng`.
2) This is tricky, actually the `syslog-ng` binary itself cannot do much, it needs its modules to serve you like `afsocket, affile`, you could ignore a few modules based on your use case.
     Also it would be possible to reduce the `libsyslog-ng` size based on use case, but there is no `c

[2018-11-02 09:53] Kokan commented on #1770
@faxm0dem #1804 seems to be fixed, could you give it a try ? (there have been also a few other diskq related fixes lately)

[2018-11-02 09:58] Kokan commented on #1425
@ylse  @utezduyar  I see this ticket is kinda old, do you still have a way to reproduce this ? Could you check the possible fix by @swstephenson

[2018-11-02 10:05] Kokan commented on #1386
The `3.3.6` is kind old version, please check changelog for memory leak fixes since that time.
I close this ticket, but feel free to reopen if you still could reproduce it on newer version of syslog-ng (preferably on latest release or master)

[2018-11-02 10:05] #1386 closed

[2018-11-02 10:21] Kokan commented on #161
The one in patterndb has been closed, I think this should be also. (I do not see it happening either way.)

[2018-11-02 10:21] #161 closed

[2018-11-02 10:43] Kokan commented on #970
as @faxm0dem it is done, but also probably in the feature curl based solution is going to replace jvm based one.

[2018-11-02 10:43] #970 closed

[2018-11-02 19:22] ben956 opened #2390 "elasticsearch maven repository need to be fix"
version: syslog-ng-3.13.2
I could not make and fail with below msg:
----------
syslog-ng Could not get resource 'http://maven.elasticsearch.org/releases/org/elasticsearch/plugin/shield/2.4.0/shield-2.4.0.pom'
----------

elasticsearch maven repository need to be fix
its location is \syslog-ng\modules\java-modules\build.gradle

line 19 needs to be changed as below:
url "https://artifacts.elastic.co

[2018-11-02 20:57] Kokan commented on #2390
@ben956 you could always fork and create a PR. (the way we do it, we are not pushing to the repo but merging).

I am not that familiar with the elastic maven repository, has the location of the elasticsearch maven repository changed ?

ps: The `syslog-ng-3.13.2` tag is set in stone, no way anybody can change that, it would be possible to release a `3.13.3` version, but we usually only integrate in

[2018-11-05 14:41] HanouaJ commented on #2380
@Kokan Thank you, that's very clear. I wasn't aware that log-msg-size defaults to 65536 bytes (which is a big value to my opinion), so I am reducing its value along with the log-fifo-size. Will get back to you with feed-back.

[2018-11-05 15:28] dusko opened #2393 "Subfacility support in cisco-parser"
For selected Cisco models system messages may be structured as follows ([link](https://www.cisco.com/c/en/us/td/docs/ios/system/messages/guide/consol_smg/sm_cnovr.html)):
[code]
`Cisco-parser` available in syslog-ng `v3.18.1` can not properly recognise/parse cisco messages with *subfacility*.

Message example:
[code]
By applying `cisco-parser` on this message results into below name-value pairs:

[2018-11-05 19:13] Kokan commented on #2380
@HanouaJ
The `65536` is default value in 3.17.2, but in your configuration file, you also specified that amount:
[code]
The original was 8k, and that was too small for common logs: https://github.com/balabit/syslog-ng/pull/1412
Maybe this is a large value, but it is hard to say either way without data; and luckily it is possible to change.

Would you mind closing this issue ?

[2018-11-06 08:51] bazsi commented on #2393
Thanks for the detailed report, based on that I've just submitted this PR:

https://github.com/balabit/syslog-ng/pull/2394

By my initial tests it seems to properly parse this format. Just one question, do we really want to stash that value into ${.cisco.facility} or it should go somewhere else?

[2018-11-06 09:12] dusko commented on #2393
Thank you @bazsi !
Code from PR and is working well and properly parse cisco messages with *subfacility* field.

I prefer to stash both `facility` and `subfacility` into *${.cisco.facility}* as implemented in your PR.

[2018-11-06 10:13] HanouaJ commented on #2380
Now I know where was my confusion was, the log-fifo-size is applied to each queue that is created by syslog-ng and as I have two destinations (two redis outputs) then syslog-ng creates two queues and then it might reach a total of 2 x 1200000 messages accumulated in the RAM, which we don't intend to. Moreover, your explanation about the memory caching of syslog-ng helped me understand that it's no

[2018-11-06 10:13] #2380 closed

[2018-11-07 07:28] #2393 closed

[2018-11-07 09:17] bazsi commented on #2393
Dusan,

Could you please help me understand why you feel this is the right way?
What do you use that field for? Can you describe a use case where you are
using this field? Are you performing searches?

Thanks in advance,
Bazsi

On Tue, Nov 6, 2018, 10:12 Dusan Sovic <notifications@github.com> wrote:

[2018-11-07 13:34] dusko commented on #2393
Hi Bazsi,

In fact I start playing with `cisco-parser` 2 days ago in order to check if it can help us to update or tidy our *rewrite* rule for cisco messages.
I can think of that this parser can be helpful for analytics as well. For example to compute distinct count per cisco message type. Can be useful to know what the volume per msg type is so we can tune our filtering rules or adjust correlatio

[2018-11-08 01:51] vossenjp opened #2400 "3.16 sometimes says "NaN" for $(/ ${C_MIN} 6)"
# syslog-ng
## Version of syslog-ng
[code]

## Platform
* CentOS-6.7
* OEL-7.x

# Issue
*  Failure: 3.16 sometimes says "NaN" for $(/ ${C_MIN} 6)
* 3.8.1-2 and older did not do that

## Steps to reproduce
* Write `template("'${C_MIN}','$(/ ${C_MIN} 6)','...` to a test file someplace
* Observe that if `$C_MIN` == '08' or '09' *and* we're doing `$(/ ${C_MIN} 6)` we get "NaN"
* Note using just `${C_M

[2018-11-08 05:30] Kokan commented on #2400
Thanks for the detailed report.
@fekete-robert please check the documentation part

Could you check if this happens if you calculate the division before the template file name? (using a rewrite rule before the destination)

[2018-11-08 07:03] Kokan commented on #2400
This was a tricky one, I'll open a PR about this issue.
The following configuration reproduces the issue with 1 probability:
[code]

The root cause of the issue is that template functions now could detect octal and hexadecimal format (07, 0x7), and the `08` at first looks like an octal number (`0` prefix), the `${C_MIN}` is expanded into `08` and so on.

[2018-11-08 07:15] vossenjp commented on #2400
I was guessing the "08" might be that octal confusion.  I don't see how that explains the "09" though.

Do you know the version when this issue was introduced?  It's a show stopper for me, but I'd like to upgrade as far as I can.

Thanks for the quick replies!

[2018-11-08 07:48] Kokan commented on #2400
The `09` is the same issue, because the octal format prefix is the `0` any number after that should case the same issue.
It was introduced with `3.13.1` version the PR is: #1679

A quick workaround would be to cut the zero from the beginning of the macro, you could use `substr` rewrite rule for that.

[2018-11-09 01:47] vossenjp commented on #2400
First, I still wasn't getting the reason that 01-07 worked but 08 and 09 didn't until someone at $WORK reminded me that 00-07 are valid octal numbers but 08 and 09 are legitimately not valid octal numbers and thus really are "NaN."  OK, now it makes sense.

One simple fix to that for my use-case would be to provide `${C_MIN}` and variants with no-leading-zero versions.  I think that's a Bad Idea b

[2018-11-09 14:25] faxm0dem opened #2403 "Enhancement: grpc driver"
Request for implementing a [grpc](https://grpc.io/) destination driver (source also possible).
This would for instance superseed #1433

[2018-11-12 17:59] rdoac opened #2407 "syslog-ng 3.18.1-1 in docker not starting"
# syslog-ng

## Version of syslog-ng
3.18.1-1
[code]

## Platform

GKE - Kubernetes / Google Container - v1.9.7-gke.6

# Issue
Changed syntax in configuration - our old deployment runs 3.15 new one pulled in 3.18 and won't start.

## Failure

syslog-ng -F
syslog-ng: Error setting capabilities, capability management disabled; error='Operation not permitted'
[2018-11-12T17:58:56.162398] WARNING: Wit

[2018-11-12 18:09] Kokan commented on #2407
The `system()` source detects your system, and tries to read the `/proc/kmsg`, but in the container even the root user is limited (by default) with dropping a few `capabilities`.
In the past there was some kind of detection if we are in a container, but as there is no API for such thing, it was dropped: https://github.com/balabit/syslog-ng/pull/2166
An option was introduced for the `system()` sour

[2018-11-12 18:29] rdoac commented on #2407
Am slightly unsure how to proceed.  Does that mean I can add something like:

    source system {
        exclude-kmsg(yes);
    };

To my syslog-ng.conf?

On Mon, Nov 12, 2018 at 12:09 PM Kókai Péter <notifications@github.com>
wrote:

[2018-11-12 18:31] Kokan commented on #2407
In your configuration you have:
[code]

One thing you could do is to use this config instead:
[code]

[2018-11-12 18:39] #2407 closed

[2018-11-12 19:47] rdoac commented on #2407
Thanks - it appears to be working.  I'll go ahead and redeploy.

On Mon, Nov 12, 2018 at 12:31 PM Kókai Péter <notifications@github.com>
wrote:

[2018-11-13 12:15] szemere commented on #2390
Dear @ben956,
 I finally figured out all the threads in this topic.

 In #1895 we dropped the shield module support from syslog-ng.
 In PR #2409 I deliberately created two commits. The first only updates the third party repository URL. Using that commit, and the one from the referenced PR, you can build a local version of syslog-ng reenabling the shield module.

 For the reference: We missed this

[2018-11-19 10:33] szemere commented on #2374
Hello,

 To summarise: For ease of use, we want to provide the users git configuration from the host inside the container. However Docker has a fall back mechanism for bind mounts -> create a directory on the host, if host path do not exists.
 Docker team realised the problem in: https://github.com/moby/moby/issues/21652 and decided to drop the "creating missing host paths" feature here: https://g

[2018-11-19 10:46] bazsi commented on #2374
I wouldn't want to fail the docker command if there's no gitconfig file, this feature is meant to be used for people who don't even know what on Earth git is.

This one works for me:
[code]

[2018-11-19 17:05] JawadKM opened #2420 "Unable to change and search my Index name using syslog-ng"
Hi syslog-ng Team,
I am using Syslog-ng to push logs to Elasticsearch and then view in Kibana on CentOs7, using the following link;

**https://www.syslog-ng.com/community/b/blog/posts/syslog-ng-and-elasticsearch-6-getting-started-on-rhelcentos**

In my lab environment when I change my cluster name from syslog-ng to **"Lab"** and change my Index name to **"labtest"**. Kibana never recognize it and

[2018-11-19 18:43] lbudai commented on #2420
@JawadKM: hi! without analyzing the attached trace: did you also modify the `index` option in your _syslog-ng.conf_ ?

[2018-11-19 19:50] JawadKM commented on #2420
@lbudai Yes I did, could it be because there are no logs generated at the moment and no documents are in the index.

[2018-11-19 20:54] szemere commented on #2420
Hello,

Yes.
In my 3 week old comment https://github.com/balabit/syslog-ng/issues/2349#issuecomment-431035342 (can we close it?) I used dejavu as a GUI. You did not mentioned your interface, but empty indexes are usually not presented.
Just generate some logs to test it.

The **first** line of the attached trace says: `can not run elasticsearch as root`

One more thing:
`echo cluster.name: syslog-

[2018-11-19 21:40] JawadKM commented on #2420
@szemere
Yes I am applying it to an empty config.
yes you can close #2349

[2018-11-21 15:05] dtsmith2001 commented on #734
I have a strong argument for it. Storing logs will be easier to query and analyze in Cassandra or another columnar store database. The timestamps will be columns.

Cassandra is my choice for storing data for later analysis, either for BI or predictive models.

[2018-11-22 13:02] szemere commented on #734
Dear @dtsmith2001,
 thank you for your interest! I have read the docs, tried to understand Cassandra as much as I can.
 Since it has a Python client library I think in the short term the best option for you is to create a small interface specialised on your own needs with our Python binding.

Best regards.
László Szemere

[2018-11-23 08:20] Wernfried opened #2424 "Use syslog-ng with SQLite database 3.24.0"
I am running syslog-ng version 3.7.3 and logs are written to SQLite database.

I created a trigger in SQLite DB which uses the new [UPSERT](https://www.sqlite.org/lang_UPSERT.html) command. UPSERT syntax was added to SQLite with version 3.24.0 (2018-06-04).

Now I get an error:
`Error running SQL query; type='sqlite3', host='', port='', user='', database='/var/lib/mediation/sessionlog-2-46.db', er

[2018-11-23 09:08] Kokan commented on #2424
The `libdbi` is used to connect to sql databases, which has `libdbi-drivers` (that lib has the sqlite specific connector). You could check if there is update for those.

But based on your comment, I think you probably has old `sqlite` lib linked against the above mentioned 3rd party libs, and that is causing the issue.
As the trigger should be transparent from syslog-ng point of view.
Did you have

[2018-11-23 09:47] Wernfried commented on #2424
Yes, application works fine with other triggers which do not apply UPSERT statement. So, it is fairly obvious that error is caused by this new function.

Does syslog-ng uses the this libdbi drivers: https://sourceforge.net/projects/libdbi-drivers/ ?

In this case I would not have much hope as it was not updated since 2013:
https://sourceforge.net/projects/libdbi-drivers/files/libdbi-drivers/

Name

[2018-11-23 10:11] Kokan commented on #2424
Yes it is.
But the day might be saved, even with dinosaurs, as my suggestion is not to update `libdbi` or `libdbi-drivers` but to update the `sqlite`.

As my tipp (no proof of course) that actually what is blocking you is the `libsqlite3`, which is linked to the `libdbdsqlite3.so` (the libdbi-driver connector for sqlite3).

Could you checked if the `libdbdsqlite3.so` uses the sqlite3 lib with corr

[2018-11-23 10:41] Wernfried commented on #2424
I am not so familiar with deploying applications on Linux but let's try.

Currently I have this one on my machine:

[code]

I compiled the latest source "sqlite-autoconf-3250300" of sqlite and I get this:

[code]
Version seems to be the same (0.8.6) but my compiled file is 6 times bigger than the existing one. Does it mean I have to replace `/usr/lib64/libsqlite3.so.0.8.6` with the new one?

Thank

[2018-11-23 10:51] Kokan commented on #2424
The file size difference probably because of debug symbols. (if you want you can verify: `file [sopath]" should print `with debug_info, not stripped`).

My suggestion was to check the `libdbi-driver` (and possibly recompile).
You can find it `find / -name libdbdsqlite3.so`, and check it via `ldd [path found before]`, and the list should have the `libsqlite3` referenced, this should give you a hint

[2018-11-23 12:35] Wernfried commented on #2424
That's what I did:

[code]

And my new one:
[code]

I compiled latest version of libdbi-drivers but I don't managed to get anything newer than libsqlite3.so.0.8.6

Locks like for the moment I have to live with this limitation or I am not smart enough to make a proper compile.

[2018-11-23 14:16] Kokan commented on #2424
My os does have older version of sqlite3, so I picked the source from https://sqlite.org/download.html
compiled and installed it into `/tmp/install`.
I created a database with `/tmp/insta//bin/sqlite3` and after tried with the one on the system, and it wrote the same error as yours.
Started syslog-ng with preloading the newly compiled sqlite3, and it seemed to work for me.
(`LD_PRELOAD=/tmp/instal

[2018-11-23 14:18] #1961 closed

[2018-11-24 09:14] Wernfried commented on #2424
I just did a "quick and dirty" test on my development machine with latest release 3.18 and it seems to work. Would be great if a simple upgrade of syslog-ng would solve my issue. But I have to run more careful tests next week on test machine.

[2018-11-26 11:27] czanik opened #2428 "change system() source for FreeBSD 12 to handle RFC5424 logs"
# syslog-ng

## Platform

Found while testing FreeBSD 12.0 RC1

# Issue

Starting with version 12.0 FreeBSD changed to RFC 5424 formatted messages.

For details, check: https://svnweb.freebsd.org/base/head/UPDATING?r1=332100&r2=332099&pathrev=332100

As syslog-ng expects legacy syslog, saved logs look strange (legacy header + full rfc5424 headers and message in the message part).

## Steps to repr

[2018-11-26 16:52] pycal opened #2429 "Feature request: type-hinting in SQL destination"
I'm parsing JSON messages using json-parser, and sending them to a SQL destination. Right now syslog-ng encodes all values as strings; I'd like to send integers to my sql destination.

When I do something like this, I get an error because syslog-ng is sending an integer formatted as a string:

[code]

[2018-11-26 17:44] bazsi commented on #2429
Indeed this would be useful. It's not on my radar though.

On Mon, Nov 26, 2018 at 5:52 PM Cailen McQuattie <notifications@github.com>
wrote:

[2018-11-27 02:48] danbeaulieu opened #2431 "Source and log ordering affect tag ordering"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

Ubuntu 16.04

## Debug bundle

Create a debug bundle on your system with the syslog-ng-debun script which is included in the syslog-ng package.

Overwiew of the CLI options of syslog-ng-debun:
-r: run actual information gathering
-d: run syslog-ng in debug mode
-p: perform packet capture
-s: do strace
-t: timeout period for running debug/p

[2018-11-27 11:08] MrAnno commented on #2328
Hi @Bluewind,

Sorry for the late response. You've triggered an old transport bug by using TLS 1.3.
#2432 should fix the problem. Could you try the patch, please?

[2018-11-27 15:00] pycal commented on #2429
Understood @bazsi and thanks for replying.

Is there a way you can recommend dealing with this using the current feature set?

[2018-11-27 22:37] woodsb02 commented on #2428
I believe this issue has been fixed by the following pull request:
https://github.com/balabit/syslog-ng/pull/2430

[2018-11-28 23:49] Bluewind commented on #2328
Looks like applying the 4 patches from #2432 fixes my issue. Thanks!

[2018-11-29 05:56] #2328 closed

[2018-11-29 11:14] szemere commented on #2431
Hello @danbeaulieu ,

 for performance reasons we do not handle the `tags` inside syslog-ng as `string`s, rather than that we assign `ID`s to them in the order of appearance and only replace them back in the final step, when we format the outgoing message.
 So the reordering in your case happens because some of the `tags` in the second source are "already exists", and the new ones get to the end o

[2018-11-29 15:19] szemere commented on #2420
Dear @JawadKM ,
 can I help you anymore in the topic, or should I close this ticket?

Br,
Laci

[2018-11-29 15:23] #2390 closed

[2018-11-29 15:54] #2428 closed

[2018-11-29 17:20] DerDakon commented on #1307
I was able to reproduce this with 3.18.1. It's quite simple: keep rebuilding it with "-j 10" on an Quad-Core+HT system. Every once in a while you will see exactly this error. The point is that iv.h is generated in some configure script, but there somewhere is a dependency missing.

[2018-11-29 19:04] Kokan commented on #1307
@DerDakon thanks for reporting it, I reopened this issue.

[2018-11-30 09:51] lbudai commented on #1307
hint: maybe there is a race cond. in the dependecy handling in our build files.

[2018-11-30 09:52] lbudai commented on #1307
( @kokan: we have an internal perf. machine: we could try to build syslog-ng with `-j 10` )

[2018-11-30 10:16] Kokan commented on #1307
The *native* module clearly does not depend on anything (at least not on ivykis); but I am kinda want to question the existance of that module: https://github.com/Kokan/syslog-ng/commit/1afabfd168b5f7da2a3439171cf21e8ad09ec2b6 (but yesterday got lazy to open the PR)

[2018-11-30 11:05] faxm0dem commented on #2403
I didn't know this.
My (limited) use-case is the following: send metrics to collectd which has a [grpc plugin](/collectd/collectd/blob/master/src/grpc.cc). This would also make #1433 obsolete

[2018-11-30 15:20] bazsi commented on #2403
Ahh, understood. Btw, I was actually checking out collectd the other day to
familiarize myself with it. Is there a reason that grpc would be better
than the unix domain socket integration? As i see theres even an udp based
protocol for remote access.

What are the pros/cons?

Thanks

On Fri, Nov 30, 2018, 12:05 Fabien Wernli <notifications@github.com> wrote:

[2018-12-01 12:40] MrAnno commented on #2364
For me, the debugger produces the `Error loading Python module; module='syslogng.debuggercli', exception='ModuleNotFoundError: No module named \'syslogng\''` error message since you've fixed the module name in

commit a48964d8882592a9585d4a19f36d33d83aecc207 (HEAD)
[code]

I'll have a look at this error, but it seems the error appeared before the shadowing issue.

[2018-12-01 12:56] bazsi commented on #2364
This patch only pulls in the python module, without that even the syslog-ng
python module is missing, thus the error message does not appear, as it is
this very module that prints it.

If you omit the shadowing (I've used the _syslogng module name, that was
used to publish a private namespace beforehand), and I could get the
debugger to work, after the PYTHONPATH was properly set.

So if the syslo

[2018-12-01 13:08] MrAnno commented on #2364
Oops, sorry @bazsi.
I did set `PYTHONPATH`, but incorrectly, and I went through a complete bisect session with the incorrect value..

Thanks for explanation.

[2018-12-03 10:43] Wernfried opened #2444 "How to make calcuations in rewrite"
I am upgrading from syslog-ng 3.7 to current 3.18 but I get a problem.

In old release a I did the calculation as this

[code]

Now, in 3.18 I like to use the `date-parser()`, i.e. I changed my code to

[code]

Now, for some values I get `NaN` as result. How to run modulo calculation on a value?

[2018-12-03 10:49] Kokan commented on #2444
I suspect you have the same issue as described in #2400 there is a fix which has not been merged yet.
You could either:
* patch your version with the changes in #2401
* use the workaround suggested in #2400
* wait for `3.19` (as hopefully it is going to be fixed there)

[2018-12-03 12:19] Wernfried commented on #2444
Yes, removing leading '0' did the trick:

[code]

Thank you for the support.

[2018-12-03 12:19] #2444 closed

[2018-12-03 12:45] faxm0dem commented on #2403
`unixsock` would obviously be local only, `network` is the udp implementation you referred to and I think it might be deprecated in the distant future maybe in favour of `grpc` but we might wanna ask @octo for his opinion

[2018-12-04 13:31] mohankhanna opened #2446 "Syslog-ng not working with source with non 514 port"
# syslog-ng

(Please, remove the unnecessary notes, including this one.)

## Version of syslog-ng

[code]

## Platform

(Name and version of OS)

## Debug bundle

Create a debug bundle on your system with the syslog-ng-debun script which is included in the syslog-ng package.

Overwiew of the CLI options of syslog-ng-debun:
-r: run actual information gathering
-d: run syslog-ng in debug mode
-p: pe

[2018-12-04 13:48] szemere commented on #2446
Dear @mohankhanna,
 thank you for contacting us. Please follow the instructions in the template as a guide, to provide a proper description about your problem.

Br,
Laci

[2018-12-04 13:55] #2446 closed

[2018-12-04 14:10] mohankhanna opened #2447 "Syslog-ng not working with source with non 514 port"
# syslog-ng
Syslog-ng not working with source with non 514 port

## Version of syslog-ng
syslog-ng --version
syslog-ng 3.5.6
Installer-Version: 3.5.6
Revision:
Compile-Date: Dec 30 2015 19:57:24
Available-Modules: affile,afprog,afsocket-notls,afsocket-tls,afsocket,afstomp,afuser,basicfuncs,confgen,cryptofuncs,csvparser,dbparser,linux-kmsg-format,syslogformat,system-source
Enable-Debug: off
Enable-

[2018-12-04 14:23] szemere commented on #2447
Dear @mohankhanna,
 Please stop your syslog-ng service (probably not running currently because of the error) `systemctl stop syslog-ng.service` and start syslog-ng manually with the following command:

/usr/sbin/syslog-ng -F**dev** -p /var/run/syslogd.pid

The -Fdev options will start syslog-ng in debug mode, and makes the output a little bit more verbose. From the provided output we can say more

[2018-12-04 14:39] mohankhanna commented on #2447
Hi, Thanks for taking time and trying to help me out.. I really appreciate it.
You are 100% correct. I disabled selinux in /etc/selinux/config and its working now.
now I need to check how to disable specific ports in this file to sort it.

Thanks Again.

[2018-12-04 14:51] polak785 commented on #2360
Hello,

I've face of the exact same issue today on one of my server. The difference with you is that I have the latest `syslog-ng` version installed on an Ubuntu 16.04 LTS

[code]

I have around 40 source files that have configured to be read by `syslog-ng` and one of it stopped to be processed with the exact same output as you with the debugging commands.

We have a centralized logs server and I

[2018-12-04 16:45] mohankhanna commented on #2447
Thanks for all the help.

[2018-12-04 16:45] #2447 closed

[2018-12-04 16:45] szemere commented on #2360
Dear @sbraz,
 thank you for reporting the issue. Sorry for not answering earlier, however I did spent time with the problem, but I have no luck reproducing it. (Currently I have multiple syslog-ng instances on my machine running for several days. They were even able to survive multiple suspends.)

Dear @polak785,
 thank you for the additional information, I will put the incoming log size into a lo

[2018-12-04 16:55] mohankhanna opened #2448 "Error binding socket; addr='AF_INET(0.0.0.0:6508)', error='Address already in use (98)'"
# syslog-ng

Error binding socket; addr='AF_INET(0.0.0.0:6508)', error='Address already in use (98)'
## Version of syslog-ng

[code]

## Platform

RedHat 7

## Debug bundle

$ syslog-ng-debun -r
[code]
$ gdb syslog-ng
 run
[code]
[root@FB1PLOGFR03 syslog-ng]# cat /etc/syslog-ng/syslog-ng.conf

@version:3.5
@include "scl.conf"

options {
    flush_lines (0);
    time_reopen (10);
    log_fifo_size

[2018-12-04 21:43] szemere commented on #2448
Dear @mohankhanna,
 **IF***  I understand your scenario correctly, you have a syslog-ng - installed as a service - up and running. And you are trying to run a second instance of syslog-ng (for testing purposes?) in front with the `/usr/sbin/syslog-ng -Fdev -p /var/run/syslogd.pid` command.
 If this is the case, than the problem is that the second syslog-ng instance will load the same config as the

[2018-12-05 08:39] navrev opened #2450 "Segmentation fault during reload"
# syslog-ng

## Version of syslog-ng

syslog-ng 3 (3.11.1)
Installer-Version: 3.11.1
Revision: 3.11.1-2ubuntu1+pure20
Compile-Date: Sep 13 2018 22:55:45
Module-Directory: /usr/lib/syslog-ng/3.11
Module-Path: /usr/lib/syslog-ng/3.11
Available-Modules: http,confgen,basicfuncs,sdjournal,disk-buffer,date,system-source,syslogformat,linux-kmsg-format,cryptofuncs,kvformat,afuser,pseudofile,affile,cef,afs

[2018-12-05 09:44] mohankhanna commented on #2448
Thanks Laci, I appreciate you helping me here.
yes, My bad, I thought I was only checking errors with this command. but as you explained, its a second session. I should have known..
the reason I was trying this, because the data I am receiving on port 6508 in above config is not being written in the log file locally. I can see the udp data in the output of tcpdump.

09:36:43.823326 IP (tos 0x0, tt

[2018-12-05 09:50] #2400 closed

[2018-12-05 12:59] szemere commented on #2448
Hello,
 as I sad, checking errors by running syslog-ng in front is a good practice, keep it up during integration/testing!
 About "data not being written in the log file": first, I would make sure, syslog-ng is indeed receiving those packets. (i.e.: UDP packets are usually visible in tcpdump, even if the application do not gets them because of some firewall rules.) You can verify this in two ways:

[2018-12-05 13:43] mohankhanna commented on #2448
Thanks Laci,
I am trying to run it in degug mode but it just doesn't do anything after following line.
syslog-ng starting up; version='3.5.6'
I can see loads of data on port 6554 in tcpdump output but I cant see it being processed in degug mode.
in tcpdump data looks something like this
13:33:14.760947 IP (tos 0x0, ttl 53, id 35277, offset 0, flags [none], proto UDP (17), length 225)
    172.17.16

[2018-12-05 13:51] mohankhanna commented on #2448
the server also has 2 interfaces (mgmt. and service). can that cause problem?

[2018-12-05 14:06] szemere commented on #2448
Somehow we should really make sure that your firewall actually passes those packets to syslog-ng. My asumption is that your current problem is not syslog-ng related. Syslog-ng simply do not get any data.

By default syslog-ng will bind to the `0.0.0.0` ip address. (You don't have to provide it in your configuration.) The optional `ip` option is mostly there for "restricting" syslog-ng to one of yo

[2018-12-05 15:45] nicknameyu opened #2452 "failed remove rsyslog when installing syslog-ng"
I was trying to install syslog-ng on ubuntu with chef cookbook. I put a dpkg_package resource and install syslog-ng 3.18.1 and got this error
[code]

Seems rsyslog must be removed before install syslog-ng. Then, I tried to remove rsyslog package with dpkg_package
[code]
It failed again with error:
[code]
Seems this is not new. https://bugs.launchpad.net/ubuntu/+source/syslog-ng/+bug/1242173
while,

[2018-12-05 16:58] nicknameyu commented on #2452
fixed with apt_package instead of dpkg_package in chef recipe.

[2018-12-05 16:58] #2452 closed

[2018-12-07 09:55] alltilla opened #2453 "Enabling throttle with batching (HTTP) has unexpected behavior"
# syslog-ng

## Version of syslog-ng
[code]

## Platform

[code]

# Issue

## Failure

When I use the following config, and generate 13 messages with loggen, everything works as expected.
[code]
First, two HTTP requests are sent instantly, with 5 log lines batched each. Then there is only 3 logs in the queue, so syslog-ng waits 1000 ms, to possibly gather more, then when the 1000 ms runs out, it s

[2018-12-07 10:01] alltilla commented on #2453
Sorry for the misleading destination name `d_network1`, it is http as you can see :P

[2018-12-07 18:46] hannob opened #2454 "use after free in affile_dw_reap"
## Version of syslog-ng

[code]

## Platform

Linux

# Issue

There's a use after free bug in syslog-ng that can be detected with address sanitizer. This is likely a security issue.

## Failure

[code]

## Steps to reproduce

1. compile syslog-ng with address sanitizer (-fsanitize=address in CFLAGS+LDFLAGS)

2. run syslog-ng, wait a while

[2018-12-07 19:49] furiel commented on #2454
Thanks for reporting but this is already fixed in https://github.com/balabit/syslog-ng/pull/2418.

[2018-12-07 19:49] #2454 closed

[2018-12-07 19:57] MrAnno commented on #2454
The fix will be included in the syslog-ng OSE v3.19.1 release.

[2018-12-10 06:37] nevistest commented on #2203
@pazarr any conclusion on this issue?

[2018-12-10 09:13] Wernfried opened #2456 "LD_LIBRARY_PATH not taken into account"
I am referring to this topic: https://github.com/balabit/syslog-ng/issues/2424

In order to use latest SQLite features I replaced file /usr/lib64/libsqlite3.so.0.8.6 with latest compiled version of sqlite source code. In general everything is working fine.

Problem is shared object /usr/lib64/libsqlite3.so.0.8.6 might be replaced again by outdated version if the admin applies any standard Linux pa

[2018-12-10 10:36] bazsi commented on #2456
Hmm, syslog-ng might be compiled in a mode where it does change
LD_LIBRARY_PATH, the PE version uses that, but unless you are using that,
you shouldn't be affected.

If that's not the case, LD_LIBRARY_PATH should be taken into account.

To troubleshoot you could always check /proc/<pid>/env like this:

[code]

And check if the environment variable is there.

On Mon, Dec 10, 2018, 10:14 Wernfried <

[2018-12-10 10:50] Wernfried commented on #2456
Yes, `cat /proc/<pid>/env | xargs -0 echo` show environment as expected:

`LD_LIBRARY_PATH=/opt/mediation/lib:/opt/app/oracle/product/11.2.0/client_1/lib`

[2018-12-10 11:47] #2420 closed

[2018-12-10 13:40] norberttak commented on #2303
A POC has been created:
https://github.com/norberttak/syslog-ng/tree/file_read_on_reload

Unfortunately after the secound reload the afinet_dd init crashes:
[code]

[2018-12-10 18:44] gaborznagy commented on #2303
@Kokan Can you describe it in detail, please?
Sorry, maybe I don't understood it entirely.
Is your point that we should be careful not to break restart?

[2018-12-11 08:58] Kokan commented on #2303
I tried your config, and reproduction. Yes, it re-reads part of the file (not all). Which is not ideal from perf. point of view( well it is in reload, restart so...). But the other issue, which I think more serious is duplicating messages in this case (still speaking about reload).

It was not clear to me if this issue was focusing on duplicating the messages, or the unneeded read (I can live with

[2018-12-11 11:28] mikeBashStuff opened #2457 "syslog-ng (3.18.1) suddenly hangs"
## Version of syslog-ng

[code]
Compilation config:
[code]
## Platform

OS: Linux (embedded distro)
Kernel version: 4.4.88

# Issue
it's been noticed that syslog-ng, under a bit heavier load, suddenly hangs - it locks on a single cpu thread, not writing to any log files, not responding to most of the signals (including term ones. It dies when you bash it with those that can't be handled|ignored +

[2018-12-11 11:42] mohankhanna commented on #2448
Thanks for all the help.

[2018-12-11 11:42] #2448 closed

[2018-12-11 15:47] mohankhanna opened #2460 "syslog-ng not working with selinux in enforcing mode"
# syslog-ng

(Please, remove the unnecessary notes, including this one.)

## Version of syslog-ng

[code]

## Platform

linux RedHat 7

## Debug bundle

[code]
$ gdb syslog-ng
 run
[code]
$ cat /path/to/syslog-ng.conf

[code]

[2018-12-12 12:17] profhun opened #2461 "3.18.1 - can't start after build from tar on alpine linux"
# syslog-ng

## Version of syslog-ng
3.18.1

## Platform
Docker - alpine linux

# Issue
It misses ewmm-parser() after install

## Failure
not starts the service

## Steps to reproduce

### Dockerfile:
[code]

### commands issued in terminal:
[code]

## output log
[code]

[2018-12-12 13:36] Kokan commented on #2461
This is because it was compiled without the json plugin support (`ewmm-parser` requires it).
A possible solution for you would be: :
* either recompile with that plugin, using the libjson in the release tarbal (`--with-json=internal`)
* install the developper version of libjson
* remove the `default-network-drivers`
* remove that specific part of the `default-network-drivers`:

[code]

I would rec

[2018-12-12 13:44] soubhik-c opened #2462 "memory leak in 3.18.1+ latest master"
# syslog-ng
* Compiled syslog-ng from source (git revision below) but this issue is observed since 3.17 released version.

* We are using udp source and ingesting into http destination for elasticsearch with or without java-plugin and facing this memory leak issue for quite a while now.

 More details in the issue description.

## deployment
* The deployment is using docker swarm & have 3 docker c

[2018-12-12 19:25] patrickdepinguin opened #2463 "Relax requirement on Python"
# syslog-ng

## Version of syslog-ng

3.18.1

## Platform

Linux

# Issue

Since syslog-ng 3.13.1, Python has become a requirement, checked by the configure script. The commit that introduced it (d1366df40dd6f00734a46132a94a9a741fe6a580) has the following comment: "It is used for testing and preprocessing grammar rules."

Is it correct that this requirement only really pertains to building syslog-

[2018-12-12 20:20] Kokan commented on #2463
I think this is related #2179

[2018-12-12 21:55] bazsi commented on #2457
Can you send me all the binaries plus the core file, potentially in private?

Please include system binaries as well, so I can look at the core file in detail.

Thanks

[2018-12-13 09:43] mikeBashStuff commented on #2457
@bazsi attaching bundle with the syslog-ng binary and the core dump. Also, just to point out, I recompiled the syslog-ng with debugging code enabled in hope it will make troubleshooting easier.

Also, also, I noticed that when syslog-ng is executed in actual debug mode (e.g. syslog-ng -Fd), the issue is not seen - it happily returns something similar to
[code]
into stderr and nothing bad happens.

[2018-12-14 09:02] mikeBashStuff commented on #2369
@szemere appreciate your feedback.

 I agree that changing tz during the run-time is not a common thing to do. However, in our case, the problem was spotted during first boot of our systems, when user is forced to change the timezone it if it doesn't want to keep the default of UTC (that happens after the init stage, where system is fully booted). To submit the changes, we were always restarting (

[2018-12-14 10:07] soubhik-c opened #2466 "segfault in 3.18.1+ latest master"
# syslog-ng
   * Consistently getting a segfault with http and load-balancing in the worker. We are ingesting into elasticsearch using native http.
   * This bug is being hit after removing batch-timeout which essentially was doing reinit to the destination frequently & leaking memory (related ticket #2462).
   * With this change, reaping of connections went down drastically (from ~1600 to 41 time

[2018-12-18 19:52] patrickdepinguin commented on #2463
In some way it is related, but the statement there was:
https://github.com/balabit/syslog-ng/issues/2179#issuecomment-404139922

And the point of this issue is precisely to only require a python interpreter for building, not for running.

[2018-12-19 12:57] furiel commented on #2463
@patrickdepinguin python is not a runtime dependency, it is a build dependency, unless one wants to use the python binding (`--enable-python/--disable-python`).

Afaik the python interpreter is needed only for generating the grammar files, or updating them when the templates change. (And for functional testing and python module code quality checks.)

For this latter we included the python detectio

[2018-12-19 13:21] patrickdepinguin commented on #2463
@furiel Thanks for your response.
Having python installed on the build machine is according to me a realistic requirement, even for embedded development. So I think the last two paragraphs of your response are not needed.

But I'm puzzled by your paragraph "But from embedded point of view, this is probably not interesting.". While I did not check the code, your suggestion regarding changing the re

[2018-12-19 13:57] furiel commented on #2463
I think you understood correctly. If you can install python to the build machine, then you do not need the workaround I mentioned.

Even though it is often not a difficult to have python on a build system, it is not a hard dependency for syslog-ng, and the code could reflect that. So your ticket is reasonable, and can be resolved by delaying the error reporting till the yacc rules.

[2018-12-19 14:46] polak785 commented on #2360
Hello @szemere Thx for replying.

I face off this issue again today but unfortunately, I don't saved the persist file during hangout. But I have additional information.

The behavior was the same, one of the source file stopped to be parsed and it was just before a "big" log message. This time, the log message size was 12586 bytes. The involved line is a traceback and contains usual special charac

[2018-12-19 17:03] NottyRu opened #2470 "Corrupt memory while using multiple "store-matches" filters"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

Ubuntu 16.04.5 LTS

# Issue

## Failure

When I'm using more than one "store-matches" regexps for processing a message flow, I get corrupt strings in variables that have been extracted via these regexps. It doesn't matter I'm using two filters in a single log { } statement or combining them into a single filter { }. If I rewrite the condit

[2018-12-20 14:51] #2463 closed

[2018-12-20 14:57] bazsi commented on #2457
Hi,

Unfortunately this only contains the main binary, but I would need _all_
the binaries of syslog-ng (e.g. libsyslog-ng.so and all module shared
libraries), plus all the system libraries that syslog-ng links to. Without
those I am unable to look at the core file in detail, and problems like
this will probably need all the hints I can get.

Thanks

On Thu, Dec 13, 2018 at 10:43 AM Michal Berger

[2018-12-20 17:06] do3meli commented on #2457
just to let you know. we experience the exact same situation:

We are using FreeBSD 11.2 and syslog-ng 3.18.1. Right now we are trying to see if the same issues occur with 3.19.1 which we now have installed on some of the systems we experienced this issue before.

In addition to the above described situation we see our servers hang in debugger. i was able to get some information from gdb too:

![u

[2018-12-20 17:53] czanik commented on #2377
Fixed by a rebuild of ivykis for Fedora 29 Aarch64: https://bodhi.fedoraproject.org/updates/FEDORA-2018-d3f52c78c4

[2018-12-21 10:31] mnaef commented on #2457
Adding to do3meli's backtrace, we just had another syslog hang on a similar FreeBSD 11.2 Machine with syslog-ng-3.18.1.

The main syslogng process was unattachable for gdb (it hung before schwoing the prompt, was well). I induced a kernel panic and got an alltrace. Here's the backtraces of the kernel debugger for the syslogng parent process:

`Tracing command syslog-ng pid 3880 tid 101008 td 0xfff

[2018-12-24 22:18] espre05 opened #2473 "A "brew install syslog-ng" woudl be much friendly"
# syslog-ng

(Please, remove the unnecessary notes, including this one.)

## Version of syslog-ng

[code]

## Platform

(Name and version of OS)

## Debug bundle

Create a debug bundle on your system with the syslog-ng-debun script which is included in the syslog-ng package.

Overwiew of the CLI options of syslog-ng-debun:
-r: run actual information gathering
-d: run syslog-ng in debug mode
-p: pe

[2018-12-27 16:40] polak785 opened #2474 "Weird value sometimes for queued stats"
# syslog-ng

## Version of syslog-ng

Edit: Still occurs with syslog-ng 3 (3.25.1).

[code]

## Platform

Edit: Still occurs with Ubuntu 20.04

`Ubuntu 16.04.5` and `Ubuntu 14.04.5`

# Issue

## Failure

We have a monitoring that check every 30s the value of the stats: processed, written, dropped and queued.

It often happened that a weird value is retrieve for the stats `queued` only. Here are so

[2018-12-28 12:32] faxm0dem commented on #2474
we also periodically see unusually high values, although I'd have to check the scale when back at `$WORK`

[2018-12-28 20:16] JawadKM opened #2476 "Can not view logs on the Log Server using TLS"
Hi,
I am trying to push encrypted logs from my Client Server to the Log Server via TLS.
I created a Root CA and then generated Server certs and Client certs, instruction followed are from the following link.
https://www.syslog-ng.com/technical-documents/doc/syslog-ng-open-source-edition/3.16/mutual-authentication-using-tls/2#TOPIC-956372

Problem I am facing is, after configuring every thing I can

[2019-01-02 12:39] norberttak commented on #2239
I created a PR to solve this issue. With the modifications loggen can started with one parameter:
~/src/loggen-params/build/install/bin (loggen-params *)$ ./loggen -x -D /dev/log
count=1823, rate = 899.72 msg/sec
count=2297, rate = 947.67 msg/sec
count=2751, rate = 907.77 msg/sec

[2019-01-02 15:04] #2239 closed

[2019-01-03 09:09] #2206 closed

[2019-01-03 17:09] czanik opened #2479 "owner() does not work on CentOS 6"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

CentOS 6.10

# Issue

Originally reported by Evan Rempel in e-mail, reproduced in my test vm.

## Failure

The owner is the file is not set according to the configuration on CentOS 6. The below configuration worked fine with syslog-ng 3.16, but not with 3.18 and 3.19 (I don't have a 3.17 build to test). Here the owner stays as ``root`` ins

[2019-01-04 08:17] Kokan commented on #2479
does it work with `--no-caps` ?

[2019-01-04 08:44] czanik commented on #2479
Yes, it works with ``--no-caps``
[code]

[2019-01-04 10:18] ThomasDevoogdt opened #2480 "syslog-ng-ctl does not reload @included files"
# syslog-ng-ctl does not reload ```@included``` files

When I do a syslog-ng-ctl reload, the TCP destinations in the ```@include``` config files are not reloaded. Therefore editing the IP address used in a sub config file and accordingly calling syslog-ng-ctl is not working. The logs are still sent to the original IP. Removing the file, and then creating a new is the current workaround.

## Versio

[2019-01-04 10:47] Kokan commented on #2480
Could you please provide more information ?
Are you sure the reload is successful ?
For example a minimal configuration (as I tried it but could not get the same results as you experienced).
You could query the current config with `syslog-ng-ctl config -p`. You could try if the returned config represents the change or not ?!

Also please run syslog-ng with `-Fdev` options and past here to get more

[2019-01-07 07:54] Kokan commented on #2479
Could you please do some more research on the topic to narrow it down ?
Check the strace for centos 6 vs centos 7 ?
Does centos 7 built with linux caps ?

[2019-01-07 08:13] soubhik-c commented on #2466
@bazsi Hi, missed updating the project and milestone details.. could you please triage this bug

[2019-01-07 08:13] soubhik-c commented on #2462
@bazsi Hi, missed updating the project and milestone details.. could you please triage this bug

[2019-01-07 09:45] czanik commented on #2479
- both CentOS 6 and 7 packages are built with Linux capabilities enabled
- double checked, it's the same with SELinux disabled
- output of ``strace -o centosX.txt /usr/sbin/syslog-ng -Fvde`` for CentOS 6 and 7 attached (both use default config + test.conf from my original report)
[centos7.txt](https://github.com/balabit/syslog-ng/files/2732182/centos7.txt)
[centos6.txt](https://github.com/balabit/

[2019-01-07 14:59] polak785 commented on #2360
Additional info again:

When `syslog-ng` run properly, there are 3 processes running with the command `/usr/sbib/syslog-ng -F` and when the problem occurs, there are 3 more processes running with the command `/usr/sbib/syslog-ng` (from `htop` view) and 1 process named `supervising syslog-ng`.

![image](https://user-images.githubusercontent.com/37365812/50774569-0c293e00-1294-11e9-90bc-bac76bbd3924

[2019-01-07 16:50] ThomasDevoogdt commented on #2480
The ```syslog-ng-ctl reload``` is successfully called. A ```cat``` on the ``` /etc/syslog-ng/conf.d/example.conf``` shows me another IP, but Syslog-ng keeps logging to the old IP address.

When I'm deleting the extra config file, even then, syslog-ng keeps logging to the destination server. But this issue is thrown:
[code]

[2019-01-07 16:54] bazsi commented on #2360
You seem to have two syslog-ng processes running, potentially using the
same state in the persist file.

That can cause problems. So i would try to find out why you have two and
eliminate one of them.

On Mon, Jan 7, 2019, 15:59 polak785 <notifications@github.com wrote:

[2019-01-07 18:45] Kokan commented on #2480
`The syslog-ng-ctl reload is successfully called.`
This does not mean a reload is successful; in fact if the new config is not valid, syslog-ng is going to fall back to the config before reload was initiated. (just as you described).

The second issue seems more like some permission issue, but first let's focus on the first problem.

I would verify if both config is valid, and the user running sys

[2019-01-07 22:23] bazsi commented on #2480
Also, I've recently implemented proper feedback to syslog-ng-ctl reload,
e.g. the return code will indicate if the reload was successful.

But iirc it's only coming in 3.20.

On Mon, Jan 7, 2019, 19:45 Kókai Péter <notifications@github.com wrote:

[2019-01-08 07:33] ThomasDevoogdt commented on #2480
Well, there's my default log config file ```/etc/syslog-ng.conf```. Then I put some extra config under ```/etc/syslog-ng/conf.d/example.conf``` describing a network destination. Thereafter, I reload the config, and the network logging starts. So far, so good. Using the command ```syslog-ng-ctl config -p``` indicates indeed the default config file + the extra config file. Now, I'm deleting the extr

[2019-01-08 07:53] szemere commented on #2476
Hello @JawadKM,
 sorry for the late answer, your configuration looks good to me. Maybe this is not the case, but in most of the time TLS issues can be rooted back to the certificates. The client or the server can not authenticate the other party and closes the connection.

 Can you run syslog-ng with the `-Fdev` (runs syslog-ng in the front, and makes the debug logs more verbose) options and copy

[2019-01-08 09:20] Kokan commented on #2480
What do you mean by `still called` ?

I did my experiment now, and it goes as following:

syslog-ng config:
[code]
(there is no *.conf file in /tmp/)

start syslog-ng as: `syslog-ng -Fdev`

add an `extra.conf` file under the `/tmp/`
[code]

* start netcat: `nc -l 127.0.0.1 1514`
* reload syslog-ng with `syslog-ng-ctl reload`

and I see messages in netcat and stdout as well.

* remove `/tmp/extra.c

[2019-01-08 14:51] L4rS6 opened #2484 "FreeBSD socket buffer size"
# syslog-ng
Logged message through unix socket larger than 2kB gets truncated on FreeBSD.

## Version of syslog-ng

[code]

## Platform
FreeBSD 11.2

# Issue
It looks like the unix socket buffer size is too small for receiving messages larger than 2kB.

Test Shell-Script:
[code]

Test Python-Script:
[code]

## Failure
If the test shell script is used the logged message gets truncated:
`[2019-01-08

[2019-01-08 20:36] bazsi commented on #2484
Can you check that if you specify so-rcvbuf(8192) it works?

You may have to unwrap the unix-dgram() declaration from the system driver
and add this as an option.

On Tue, Jan 8, 2019, 15:51 L4rS6 <notifications@github.com wrote:

[2019-01-09 07:56] L4rS6 commented on #2484
I experience the same problem if I set the buffer size:
[code]

And the log message still gets truncated:
`[2019-01-09T15:34:59.558898] Incoming log entry; line='<13>Jan  9 15:34:59 root: pie9ooloipuo9Iuquohgi1aeghuo7eije9eic1iethaebishi5ujahquaeChee5oodash6iHoaf5Anei7li7iesei3aiPeiZ4IH1ohaeb1eeg5vieco2hootaamuo4eemooNg8ahPhah3heegh9rom5Uxuoghe7beex6aidoh2ia5Cheefe2ahs0shiebaewaihaet2jush7iux0haey

[2019-01-09 10:03] MrAnno commented on #2484
Please also make sure you link the test source with a real destination (`file()` for example). Debug messages like `Incoming log entry...` are truncated after 1024 characters, they won't show you the entire message.

[2019-01-09 13:41] L4rS6 commented on #2484
@bazsi The problem is the same with so_sndbuf set:

[code]

Logged message:
`[2019-01-09T21:34:10.899617] Incoming log entry; line='<13>Jan  9 21:34:10 root: pie9ooloipuo9Iuquohgi1aeghuo7eije9eic1iethaebishi5ujahquaeChee5oodash6iHoaf5Anei7li7iesei3aiPeiZ4IH1ohaeb1eeg5vieco2hootaamuo4eemooNg8ahPhah3heegh9rom5Uxuoghe7beex6aidoh2ia5Cheefe2ahs0shiebaewaihaet2jush7iux0haeye0ohphiej6laeS0ej2Yeiboozohgei

[2019-01-09 14:06] MrAnno commented on #2484
Hi @L4rS6,

Could you try replacing the `system()` source with an explicit `unix-dgram()` declaration?
This way `so-rcvbuf()` will surely be taken into account. Something like this:

[code]

Please also check `SO_SNDBUF` in your test script as @bazsi suggested.

[2019-01-09 16:16] MrAnno commented on #2484
Based on my tests, `logging.handlers.SysLogHandler` is the limitation here.

Please try the following (as I did on a FreeBSD 11.2-RELEASE #0 r335510):

[code]

[code]

Unfortunately, I could not find a way to set `SO_SNDBUF` for a `logging.handlers.SysLogHandler` instance.

[2019-01-09 19:00] MrAnno commented on #2484
@L4rS6 I've found it!

[code]

The socket of `logging.handlers.SysLogHandler` will use this default, so your test script will work as well without additional configuration.

[2019-01-09 23:57] JawadKM commented on #2476
@szemere Thanks for your reply it was a certificate issue that I resolved but now I am getting the below error
**[2019-01-09T18:48:29.891833] Error binding socket; addr='AF_INET(0.0.0.0:514)', error='Address already in use (98)'
[2019-01-09T18:48:29.891856] Error initializing message pipeline; plugin_name='syslog', location='/etc/syslog-ng/syslog-ng.conf:28:9'**

**strace syslog-ng -f /etc/syslog-

[2019-01-10 08:31] gaborznagy commented on #2476
Or in fact it is already in use, are there other syslog-ng instances or other processes using that port?

What do you see when you check it via netstat?

[2019-01-10 08:45] alltilla commented on #2470
I managed to reproduce the problem with a less complex config:
[code]

I ran syslog-ng with valgrind, and it caught some errors:
[code]

[code]

So the problem occurs, after we realloc the `nv_table`.

I will continue the investigation as soon as I have free capacity.

[2019-01-10 09:06] L4rS6 commented on #2484
@MrAnno Great! This works well. Thank you!

[2019-01-10 09:06] #2484 closed

[2019-01-11 10:00] furiel opened #2488 "python destination: optional return values (for lazies :)) - feature request"
While writing python code, I often forget about the return values...

In simple cases there is no much error handling needed. This is especially true for init call, that I typically use to prepare some local objects or store options. There is no much things that could go wrong there.

My request is, if a user omits the return value for the api methods, that should be considered as implicit success

[2019-01-11 11:36] alltilla commented on #2470
Commit introducing the bug:
[code]

After I reverted the commit locally, the memory corruption got fixed, however I believe the memory leak came back.
We should try to find a solution, which fixes both issues.

@bazsi:
Hi Bazsi,

Do you happen to have some tips for fixing both issues?
The NVTable gets cloned in `log_msg_set_value_indirect()`, because the old table does not have enough memory for t

[2019-01-11 17:57] tsunderino commented on #2488
Hi, I would like to work on this issue in the next few days.

[2019-01-11 18:05] furiel commented on #2488
Awesome thanks!

[2019-01-11 20:04] furiel commented on #2488
Can you please work on the top of my branch? https://github.com/balabit/syslog-ng/pull/2487
I was a bit early with the feature request and the flush method is introduced in that pr, and the send method is modified too in terms of return values. That would cause significant conflicts for either of us. Sorry for the inconvenience.

[2019-01-13 08:24] cpackham opened #2491 "syslog-ng can't be build with static libc"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

buildroot (linux)

# Issue

## Failure

building on a system with only static libraries is no longer possible as of 3.19.1. It used to work on 3.10.1.

http://autobuild.buildroot.net/results/c0bca852e053cd0e021205b3a949e750ae602333/build-end.log

The build failure was introduced by commit 01258e56abc5804f8ea977ff9ab98cc8e2fd4702 .

This ma

[2019-01-13 18:07] Kokan commented on #2491
I would say that is best effort; it would be hard to support anything without CI.
That patch is really needed in case of afprog & Java module is enabled; so it can be optional.

If somebody submits a patch to make this optional that is likely to be merged.

[2019-01-13 18:12] Kokan commented on #2353
Not a bug, rather a request; and for that inactive so I am closing. Please reopen if you think this is still in-progress.

[2019-01-13 18:12] #2353 closed

[2019-01-14 21:10] tsunderino commented on #2488
No problem, it got merged before I've started.
I've found the following python methods:
- python destination: is_opened, open, flush, send, init
- python parser: init, process
- python source: init
- python fetcher: init, open

Should this work for all of these or just the ones mentioned in the request?

[2019-01-15 07:41] furiel commented on #2488
`is_opened` is not a problem. As it is used as a predicate, it is hard to forget about the return value. Also if `is_opened` could be made to mean implicit success, that means there is no use case for the `open/close/is_opened` trio in that problem context, so users should omit those methods. So `is_opened` can remain as it is.

`open` method in destination would have been useful, but is `is_opene

[2019-01-15 16:52] JawadKM commented on #2476
@gaborznagy this is what I get when I do netstat
IP and host name is changed

[root@logs1 syslog-ng]# netstat
Active Internet connections (w/o servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 logs1.abcdefghij:44216 192.*.*.*:syslog-tls ESTABLISHED

**[root@******syslog-ng]# /usr/sbin/syslog-ng -Fdev -p /var/run/syslogd.pid**

[2019-01-15T11:47:

[2019-01-15 16:57] JawadKM commented on #2476
In my configuration I am receiving Logs from the remote server over port 514 and the forwarding those logs via port 6514 TLS connection to qRadar.

[2019-01-15 17:55] MrAnno commented on #2476
It seems you have another syslog-ng instance running.
Don't forget to stop any other syslog-ng instances before running `/usr/sbin/syslog-ng -Fdev` as root.

For example:
- `/etc/init.d/syslog-ng stop`
- `systemctl stop syslog-ng`
- `pkill syslog-ng`

and then
- `/usr/sbin/syslog-ng -Fdev -p /var/run/syslogd.pid`

[2019-01-15 18:34] JawadKM commented on #2476
Thank you so much @MrAnno
I did what you told and I passed the initial issue but now this is what I am getting.

[2019-01-15T13:19:29.142278] LogSource window is empty;
[2019-01-15T13:19:38.980371] Syslog connection established; fd='12', server='AF_INET(192.*.*.*:6514)', local='AF_INET(0.0.0.0:0)'
[2019-01-15T13:19:38.980529] Outgoing message; message='<86>Jan 15 13:19:28 in*****.*****.ca sshd[272

[2019-01-15 18:51] MrAnno commented on #2476
You have problems with your TLS (SSL) setup, the certificate of the server is self-signed, so syslog-ng was not able to validate it.

Make sure your certificate on the QRadar side is signed by a CA. Then, you must copy the CA certificate next to your syslog-ng instance and execute the following commands:

[code]

[2019-01-16 08:15] mitzkia commented on #1882
Ok, verified. With the current syslog-ng v3.19 I can not reproduce this issue.
Tested version: abd8814122525caf4d08dcf755e30aed475915df

[2019-01-16 08:15] #1882 closed

[2019-01-16 13:32] #2470 closed

[2019-01-16 15:19] bkgilbride opened #2497 "syslog-ng crashes on startup with cross-compile to a lightweight linux platform"
# syslog-ng

## Version of syslog-ng

[code]

## Platform
[code]

# Issue

## Failure
A little background: I have a kind of unique situation... I am attempting to install syslog-ng onto a "lightweight" linux device to add TLS support for a syslog sender. Images for this lightweight linux are built on an Ubuntu build server and then transferred to the lightweight linux device, with /var and /tmp as

[2019-01-16 18:52] bkgilbride commented on #2497
Also, after disabling json-parser, I run into the following error:
[code]

[2019-01-16 18:53] Kokan commented on #2497
Could you share your config ? Would it be possible to get a stack trace ?
Based on the module registry; it should not be able to do much anyway as it cannot load any module (probably the source of the crash is related to that)

If I were you I would try to investigate first why it cannot detect the modules (as my guess that would make the crash disappear).

It gives info about the modules: `Status

[2019-01-16 18:55] Kokan commented on #2497
It seems like you are using `default-network-drivers` that requires the json module.

[2019-01-16 18:57] Kokan commented on #2497
The `application` is defined in the `appmodel` module, do you have that ?

[2019-01-16 19:10] bkgilbride commented on #2497
Thanks for getting back to me so quick!

My pre-build dir is just the extracted source code from the .tar.gz release downloaded from the release page, unaltered and still containing the ````module_info```` as you described.

Including the json module results in the segmentation fault seen in the first error, which is why I tried disabling it.

Here is an ls of the module-path (contains appmodel);

[2019-01-16 19:22] Kokan commented on #2497
I tried to reamove all of the modules, and it gave me the same config error as for you (about application). That makes sense.
Sure so the code has the `module_info` but does the compiled `.so` files also has the `module_info` ?

[2019-01-16 20:51] bkgilbride commented on #2497
How do I confirm the .so files contain the correct source code?

![image](https://user-images.githubusercontent.com/46752647/51274624-9f9df580-199d-11e9-95df-783258e92042.png)

[2019-01-16 21:54] navrev opened #2498 "dns resolution segfault"
# syslog-ng

## Version of syslog-ng

syslog-ng 3 (3.11.1)
Installer-Version: 3.11.1

## Platform

Ubuntu Linux 16

# Issue
There is a race condition that can lead to segfault in syslog-ng. I am also proposing a fix to that. Need some expert eyes on that.

## Failure

Bug scenario:
caller of afsocket_dd_try_connect (e.g afsocket_dd_init) >> afsocket_dd_try_connect() >> afsocket_dd_setup_connection

[2019-01-17 06:44] Kokan commented on #2498
I cannot see a crash with your reproduction; but with valgrind it reveals the same backtraces:
[code]

I've checked this issue against upstream and is still a valid bug there. Nice catch!

The proposed fix also seems good to me; would you post this patch in a PR ?

[2019-01-17 07:38] navrev commented on #2498
I think I forgot a key step in repro - Configure a remote syslog server using it's url :)

[2019-01-17 08:40] alltilla opened #2499 "Fix the access of NVTable values"
This problem popped up during #2494.

The issue is, that after we call `log_msg_get_value()`, and modify the `NVTable` by adding new values with `log_msg_set_...()`, the previously get'd value can turn invalid, because the modification could free the memory, where we point to.

`NVTable` has an allocated space to store entries, but it can get full, which results in the reallocation of the `NVTable

[2019-01-17 09:51] gaborznagy commented on #2499
:+1

We have faced this issue in #2128 too.

It would be easy to add the ref counting into `log_msg_get_value()`, but then it needs to be unreferenced...

We could solve the problem of stale pointers, by increasing the level of indirection: `log_msg_get_value` should return with a `char **` instead of `char *`.
This way the memory address can be changed.
Simply we need to avoid storing the memory

[2019-01-17 09:51] navrev commented on #2498
@Kokan Have submitted a PR. Let me know if I am missing something.

[2019-01-17 13:15] alltilla commented on #2360
I tried the following, but could not reproduce the problem:

 1. My config had 4 file sources in one source group, with `follow-freq(30)`
 2. I started syslog-ng with the config, and wrote some long messages to the source files (~3000 characters)
 3. I waited, until the follow-freq kicked in, and the messages were sent to the destination
 4. I sent some more logs to the sources, which were not pro

[2019-01-17 13:23] alltilla commented on #2431
@danbeaulieu:

Hi Dan,
Is this workaround suitable for you? Do you have any more questions?
We are happy to help. :)

Best regards,
Attila

[2019-01-17 13:35] bkgilbride commented on #2497
Attached is part of the build output for the syslog-ng component (config, make, make install):
[syslog-ng_build_1-16.log](https://github.com/balabit/syslog-ng/files/2768810/syslog-ng_build_1-16.log)

Not an expert on this sorta stuff, does anything stand out to you as incorrect?

[2019-01-17 13:59] alltilla commented on #2480
I tried to reproduce the issue, and everything worked fine for me, too.

@ThomasDevoogdt: Did you manage to find out what the problem was?

[2019-01-17 15:21] gaborznagy commented on #2360
It is strange:
- systemd starts syslog-ng with the command `/usr/sbin/syslog-ng -F $SYSLOGNG_OPTS` (SYSLOGNG_OPTS var does not exists by default)
- when the problem occurs, a syslog started by the command `/usr/bin/syslog-ng`, which is background mode, when a supervisor process started as well.

The question is who and why starts the 2nd syslog-ng. At first I thought it's systemd, but then it woul

[2019-01-17 16:11] Kokan commented on #2497
Thanks for the logs, and verifying `module_info`; I'll check if I can dig something from those info and get back to you.

[2019-01-17 17:22] bazsi commented on #2499
I understand that taking a pointer that might go stale is difficult to track and can be problematic to get right. In general keeping a pointer is safe as long as you don't change the NVTable, at which point it might become stale.

But with any solution, just remember that it is a fast path and carefully consider consequences.

btw, what do you think of making doing a runtime validation of this. Li

[2019-01-17 20:22] JawadKM commented on #2476
@MrAnno Thanks for all your help;
I am facing another issue right now would you be able to assist me with following error as well

**SSL error while writing stream; tls_error='SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure', location='/etc/syslog-ng/syslog-ng.conf:46:15'**

[2019-01-17 20:40] bkgilbride commented on #2497
From what I can gather, syslog-ng is failing when using functions from glib, specifically those in gmodule.c called by syslog-ng's /lib/plugin.c. I'm using glib 2.53.4 (2.26.1 required). I will continue to investigate further on my end...

[2019-01-17 21:38] JawadKM commented on #2476
Sure this is the block of logs I get

**[2019-01-17T16:32:39.034388] Syslog connection established; fd='12', server='AF_INET(192.*.*.*:6514)', local='AF_INET(0.0.0.0:0)'
[2019-01-17T16:32:39.034625] Outgoing message; message='<30>Jan 17 15:30:01 int****.****.ca systemd[1]: Starting Session 2937 of user root.\x0a'
[2019-01-17T16:32:39.034719] Outgoing message; message='<78>Jan 17 15:30:01 int****.*

[2019-01-17 22:41] MrAnno commented on #2476
I think you should have a look at the error logs on the server side for a more specific description. I'm not really familiar with QRadar, there has to be a SSL-related log file somewhere. :)

[2019-01-18 05:19] bazsi commented on #2497
Either the compiled .so files dont have export symbols for some reason, or
the local dynamic linker has some problems.

Most probably the dlsym() syslog-ng performs when trying to discover the
modules fails.

On Thu, Jan 17, 2019, 21:40 bkgilbride <notifications@github.com wrote:

[2019-01-18 07:19] alltilla commented on #2499
The idea of forcing the realloc for testing purposes came up for us, too. I think it is a good idea, it should point to the problematic parts easily.

[2019-01-18 08:04] bazsi commented on #2499
I also had another idea: the issues are rooted at us writing the
LogMessage, and all call sites that do that will contain a
log_msg_make_writable() function call.

What if that call took a reference to NVTable  (maybe through an API
through LogMessage) and we'd just introduce a counterpart that would drop
that reference.

On Fri, Jan 18, 2019, 08:26 alltilla <notifications@github.com wrote:

[2019-01-18 08:08] #2498 closed

[2019-01-18 08:15] Kokan commented on #1471
I do not see this happening, so I am closing.

[2019-01-18 08:15] #1471 closed

[2019-01-18 12:08] aman566 commented on #2429
@pycal  please assign it to me

[2019-01-18 12:34] Kokan commented on #2429
@aman566 it is not possible to use the `Assignees` field for users outside of `balabit` org + issue owner; so claiming in the comment should do. feel free to work on it.

[2019-01-18 14:10] aman566 commented on #2429
So can I send PR if possible @Kokan

[2019-01-18 14:54] Kokan commented on #2429
of course

[2019-01-18 15:55] MrAnno commented on #2476
I don't fully understand your question.

The directory you specify in `ca-dir()` is used to verify the server's certificate.
If you want to configure a simple TLS destination, where the client is not authenticated, you can omit the `key-file()`, and `cert-file()` options, you only have to set `ca-dir()` to a directory that contains CA certs for verifying the server (don't forget rename or symlink

[2019-01-18 16:18] JawadKM commented on #2476
@MrAnno qRadar also has a Public cert, I was wondering how to declare that in syslog-ng config file and which directory should be used to store that public cert, along with client-certs(key.pem and cert.pem) and ca-certs(cacert.pem)

Summary of the situation is I generated self-signed certs, provided qRadar team to setup server cert.pem, serverkey.pem and cacert.pem at there end, I configured clie

[2019-01-18 16:37] MrAnno commented on #2476
It sounds like a mutual authentication for me.

Something like this should do the trick:

![untitled](https://user-images.githubusercontent.com/3130044/51400018-9ea8c780-1b47-11e9-9048-75c335da7930.png)

[2019-01-18 16:41] MrAnno commented on #2476
The documentation says QRadar needs the private key in DER-encoded PKCS8 format, so you might need to convert it as well.

[2019-01-21 05:09] rohitranahsr opened #2504 "SEQNUM resets on syslog-ng reload, destination network"
# syslog-ng
## Version of syslog-ng

/usr/sbin/syslog-ng --version
syslog-ng 3.5.6
Installer-Version: 3.5.6
Revision:
Compile-Date: Dec 30 2015 19:57:24
Available-Modules: affile,afprog,afsocket-notls,afsocket-tls,afsocket,afstomp,afuser,basicfuncs,confgen,cryptofuncs,csvparser,dbparser,linux-kmsg-format,syslogformat,system-source
Enable-Debug: off
Enable-GProf: off
Enable-Memtrace: off
Enable-IPv

[2019-01-21 07:40] furiel commented on #2179
Closing this one with #2472

[2019-01-21 07:40] #2179 closed

[2019-01-21 08:18] alltilla commented on #2504
Hi Rohit,

Thank you for your finding!

I am observing the same behavior on 3.19. It seems, that syslog-ng misses the implementation of storing the sequenceId during a reload, where I think it should be stored. Whether we should load this value after stop & start is a different question.

From [RFC 5424](https://tools.ietf.org/html/rfc5424#section-7.3.1):
7.3.1.  sequenceId
The "sequenceId" parame

[2019-01-21 11:41] czanik commented on #2179
Generated myself a release tgz using dbld and tried to compile it on FreeBSD, where it caused most pain while packaging. I still receive:
[code]

[2019-01-21 12:04] czanik commented on #2179
OK, found it. The FreeBSD ports adds ```--without-python``` unless I use ```--disable-python --with-python=3.6```. So I can't get rid of the redundant python 3.6 dependency unless ```---without-python``` works again.

[2019-01-21 12:49] alltilla commented on #2504
We could not decide, whether we want to store and load the `sequenceId` during reload.

@bazsi: Could you kindly give your opinion about this proposal? Thanks!

PS: another SEQNUM related question, which might bring up some arguments: #2152

[2019-01-21 13:14] alltilla commented on #2466
Hi Soubhik,

Sorry for the late answer.

I tried to reproduce both this issue and #2462, but I did not succeed.
Although, I found an interesting part in your config:

The `server` argument of your `elasticsearchhttp` block is not used anywhere. The logs are sent to http://10.176.1.xx:9201, ..2, ..3, ..4 every time. So you have seemingly different destinations, which are all the same. This might ca

[2019-01-21 14:02] alltilla commented on #2504
In threaded-destinations (e.g.: http), it seems to work, In LogWriter, it does not. I believe it should provide the same behavior.

test config:
[code]
run log:
[code]

[2019-01-21 16:21] bazsi commented on #2504
Well, I already wanted to eliminate SEQNUM in that proposal :) The current
SEQNUM support is somewhat broken, and I think we should enumerate the
alternatives and come up with a decision how we want to cope with it.

I think not surviving the reload still meets the letter of the RFC as the
primary reason is to identify ordering of messages within the same second:
https://www.cisco.com/c/en/us/td/d

[2019-01-22 08:46] #1375 closed

[2019-01-22 08:50] #2491 closed

[2019-01-22 09:31] Kokan commented on #2480
Please reopen this issue if you still experience it.

[2019-01-22 09:31] #2480 closed

[2019-01-22 09:54] alltilla commented on #2504
@rohitranahsr:

Hi Rohit,

It seems, that the function of `sequenceId` is to provide the sequence of log messages sent from the same timestamp, and not to provide a unique ID for that particular log message.

From CISCO documentation, mentioned above:
"Because there is a chance that more than one log message can have the same timestamp, you can display messages with sequence numbers so that you ca

[2019-01-22 15:50] Kokan commented on #2431
If somebody faces this issue please consider that `tags` are unordered; but the above mentioned workaround could help.

[2019-01-22 15:50] #2431 closed

[2019-01-22 16:35] ThomasDevoogdt commented on #2480
It's indeed weird that no one could reproduce it. In my case, a custom buildroot linux build is used with a bumped version of syslog-ng (3.18.1). The workaround is now to always remove the custom configuration file and reloading syslog-ng before applying a new one. I understand that the issue is marked as closed because I can't give enough information to reproduce it. If someone else encounters th

[2019-01-22 18:49] Kokan commented on #2480
If it is possible for you to share more about your environment to reproduce, I would be happy to find out what went wrong. By buildroot you mean https://buildroot.org/ ? If so is it possible for you to share the `.config` ?

[2019-01-23 08:22] Fadavvi opened #2508 "python parser function parser problem with log_message"
syslog-ng 3 (3.19.1)
Config version: 3.19
Installer-Version: 3.19.1
Revision:
Compile-Date: Dec 14 2018 07:58:22
Module-Directory: //usr/lib64/syslog-ng
Module-Path: //usr/lib64/syslog-ng
Include-Path: /usr/share/syslog-ng/include
Available-Modules: add-contextual-data,afamqp,affile,afprog,afsocket,afstomp,afuser,appmodel,basicfuncs,cef,confgen,cryptofuncs,csvparser,date,dbparser,disk-buffer,examp

[2019-01-23 08:30] furiel commented on #2508
In the python code `log_message` is passed `re.finditer`, but that should receive string. You can try to pass `log_message["MSG"]` instead for python2, or `log_message["MSG"].decode()` for python3 (this latter is compatible with python2 too).

[2019-01-23 08:50] Fadavvi commented on #2508
Thanks a million
problem solved with "log_message["MSG"].decode()"

[2019-01-23 09:53] rohitranahsr commented on #2504
Thanks all for looking into this use case. Apologies for late reply.

Going by the cisco device behavior, It seems this functionality is to enable sequence number for display.
It seems sequence number is always there, but it will be displayed after configuring this command.
Correct me if I assumed it incorrectly, but I believe this should be the intent behind this behavior here in cisco.

Thinking

[2019-01-23 14:38] alltilla commented on #2466
Hi Soubhik,

Thank you for your kind support!

Could you kindly tell a little more about the following? "Observe when ES pushes back." Does it send 4XX or 5XX errorcode back, or just slowing down in processing, maybe something else? Knowing this could help a lot in reproducing, or finding the issue.

Regarding the invalid variable, I suppose it is the queue, but I cannot say for sure yet.

By the

[2019-01-23 16:35] soubhik-c commented on #2466
I don't remember the error code but that will be ESRejectException i.e. queue_size being momentarily full on the other end. No other exception is observed.

Ok.

So, what is the difference between current http native with load-balancing and the #2509 ? AFAI could gather its index and type information is outside the server url list. Strictly speaking, current impl with absolute url is more desirabl

[2019-01-23 18:08] bkgilbride commented on #2497
I added a call for g_module_error() right after attempting to get the module info in plugin.c and it outputs the following for each module:
```'module_info': /lib/syslog-ng/libadd-contextual-data.so: undefined symbol: _module_info```

[2019-01-23 21:51] bazsi commented on #2497
It seems your dynamic linker is unable to resolve a symbol in the .so file of the plugins which is definitely there.

It's either a compilation issue our a dynamic linker issue.

I am afraid it's really difficult to troubleshoot that from a distance.

I'd check the so file using nm, to see if the symbion is there. Maybe run strace to see what happens while we are trying to resolve the symbol.

But

[2019-01-23 22:18] MrAnno commented on #2476
@JawadKM Have you managed to solve the problem?

If you don't have any questions related to TLS-logging (from the perspective of syslog-ng), please close the issue.

[2019-01-24 07:55] bazsi commented on #2504
Hi,

On Wed, Jan 23, 2019 at 10:55 AM Rohit Rana <notifications@github.com>
wrote:

for behavioral references.

Our idea currently is to make SEQNUM destination specific, _always_
regardless of the message coming from a local source or relayed. And if
that change is done, this should be reflected in the documentation as well.

The UNIQID is truely unique, as it is a combination of two properties:

[2019-01-24 15:28] alltilla commented on #2466
Hi Soubhik,

I think we found the cause of the segfault, see #2512.
It happens with any threaded destination (http in our case) after 2^32 number of log messages. If you are building syslog-ng locally, you can cherry-pick that commit to use http-destination again.

Best regards,
Attila

[2019-01-24 17:02] soubhik-c commented on #2466
awesome. I should have looked at it more closely... thanks a lot... will cherry pick and try sometime next week...

[2019-01-25 09:02] #2466 closed

[2019-01-25 17:24] furiel commented on #2466
@soubhik-c just one note, the java based elasticsearch in 3.18 does not work too well in terms of message loss, when elasticsearch drops the messages.

The elasticsearch2 with client-mode(http) is just fixed recently in https://github.com/balabit/syslog-ng/pull/2478. I suggest you update a relatively recent checkout. The older elasticsearch driver, or elasticsearch2 with non-http client mode are s

[2019-01-25 21:04] JawadKM commented on #2476
@MrAnno I am still waiting for our IBM counter part, so that we can implement the solution provided.

[2019-01-28 07:38] furiel opened #2513 "fix is_opened in python"
Extracted from https://github.com/balabit/syslog-ng/issues/1761.

For now python destination ignores a return value of `open`, although in the documentation, we expect users to return with `True`/`False`. Instead, the binding expects that an `is_opened` method is provided by users, that must expose the result of `open`, that is used by the binding to interrogate the return value of `open`.

As log

[2019-01-28 07:42] furiel commented on #1761
This issue contains two parts, one is for properly connect bindings to logthrdestdrv by returning appropriate values by send. The second part is for eliminating `is_opened`. The first one was done in https://github.com/balabit/syslog-ng/pull/2487.

To clarify the scope, I close this one and create a new issue for the `is_opened` part in #2513.

[2019-01-28 07:42] #1761 closed

[2019-01-28 08:40] gaborznagy commented on #2171
Hi @soubhik-c,

Sorry for not replying for a long time.
Do you still have the above issue?
Can you give us detailed information about your environment, so we could reproduce the issue?
- syslog-ng version (built from source or package?)
- java version you use
- elastic version (I see 6.4.1)

[2019-01-29 20:59] Kokan opened #2518 "mod-example debian pkg description duplicate"
As described in the original debian bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=920846

The examples module debian pkg description is a duplicate of value-pairs.

[2019-01-30 08:30] furiel commented on #1276
@mochrul I tried to reproduce this but I got stuck with the reproduction.

I got the i386 kvm machine:
[code]

The system update was a little tricky, I needed to add the debian ports apt key manually:
[code]

After that the system update was successful. Then I wanted to install the dependencies.

3.8.1 depends on libevtlog, but that is not packaged yet. I might try to compile from source, or go wi

[2019-01-31 13:32] faxm0dem opened #2521 "Increasing TCP receive queue using riemann destination"
This was first reported to me by @smortex
Using syslog-ng-3.9.1 or master, we experience that the linux TCP receive-queue of the sender ever increases.

[code]

so whenever we send one message to the log path, the following figure increases:

[code]

Example in production:

[code]

[2019-01-31 14:08] furiel commented on #2521
@faxm0dem I quickly tried with master and the recv-q is increasing for me too. I used riemann v0.3.1, with librieman-client v1.8.1.

Maybe from some version riemann sends back extra data to syslog-ng (like status code or similar) that is not read by riemann-c-client, hence the increase.

There is a newer version of libriemann-c-client 1.10.4. Although I did not find anything relevant in the change

[2019-01-31 14:20] faxm0dem commented on #2521
oh I see, that would make perfect sense indeed

[2019-01-31 16:51] smortex commented on #2521
Hi, some notes about my use-case:

Packages versions:
* riemann: 0.3.1 (manually installed with [deb package from the project's repo](https://github.com/riemann/riemann/releases/tag/0.3.1))
* libriemann-client0: 1.9.1-1+b1 ([from Debian official repository](https://packages.debian.org/stretch/libriemann-client0))
* syslog-ng: 3.19.1-1 ([from the "official unofficial" repository](https://build.open

[2019-01-31 20:55] MrAnno commented on #2518
Oh, sorry. 😞

[2019-02-01 02:33] smortex commented on #2521
Problem confirmed.  I added this patch on top of master to see what happen.  It only reads the data send by riemann, and ignore it (at least 3 things can go bad according to the [API snippet of code](https://github.com/algernon/riemann-c-client/blob/aed628cde0d435ba836412645e4cde16f1d5e318/docs/API.md)):

[code]

I then made syslog-ng spam Riemann with the configuration of @faxm0dem and a minimal

[2019-02-01 05:20] #2518 closed

[2019-02-04 07:11] #2521 closed

[2019-02-04 17:29] xtaran opened #2532 "spoof-source(yes) truncates forwarded UDP messages at 1024 bytes / Please make spoof_source_maxmsglen configurable"
# syslog-ng

## Version of syslog-ng

[code]

According to `git grep spoof_source_maxmsglen` in the current git HEAD (as of 8f10d8f), this issue is still present in the current git HEAD.

## Platform

Debian 9 Stretch, Raspbian 9 Stretch

## Debug bundle

There seems neither a `syslog-ng-debun` (nor a `syslog-ng-debug` in case that the `n` is a typo) file in the Debian package of syslog-ng (nor an

[2019-02-05 13:12] xtaran commented on #2532
Both, [RFC 5424](https://tools.ietf.org/html/rfc5424#section-6.1) as well as [RFC 5426](https://tools.ietf.org/html/rfc5426#section-3.2) recommend that Syslog receivers SHOULD support syslog messages which are 2048 octet long.

So I assume in this case the motivation behind truncating is that the message is not discarded  after being forwarded due to its size. But then again, the chances seem high

[2019-02-05 13:22] szemere commented on #2532
Hello @xtaran,
 thank you for reporting this issue (and also thank you for all the details you provided, very nice description).

I have started to investigate the problem, maybe there are other options beside "just" making this variable public in the configuration. I will be back with my findings.

Br,
Laci

[2019-02-05 16:21] bazsi commented on #2532
please see #2535 for a potential solution.

[2019-02-05 16:39] xtaran commented on #2532
Woah, that was quick, thanks!

Will have a closer look tomorrow (by compiling syslog-ng on my lab relay from git HEAD). Will post comments to the pull request.

[2019-02-06 15:04] xtaran commented on #2532
I think it's probably better to wait for a patch for https://github.com/balabit/syslog-ng/pull/2535#issuecomment-461013607 before testing. Or should I still try the first suggested fix?

[2019-02-07 09:43] czanik opened #2540 "collectd destination not in release tgz"
# syslog-ng

## Version of syslog-ng

Tested on a git snapshot from this morning.

# Issue

@faxm0dem added a collectd destination in https://github.com/balabit/syslog-ng/pull/1433 . The problem is, that it is not added to the release tgz (generated using the usual ```dbld/rules tarball```)

[2019-02-07 09:54] Kokan commented on #2540
@czanik could you please provide a git commit hash ?

It works for me:
[code]

(master: 1bc4142b89ff83e3637669462db8722be8671833)

[2019-02-07 10:04] czanik commented on #2540
Sorry, false alarm. Used the wrong tgz. Probably I should not work after skipping two weekends with conferences...

[2019-02-07 10:04] #2540 closed

[2019-02-07 13:11] furiel commented on #1712
Without further information (core dump backtrace and error logs), I'm afraid this cannot be investigated further.

Slightly related:
Since https://github.com/balabit/syslog-ng/pull/1868 the grammar generation works with both python2 and python3.
Since https://github.com/balabit/syslog-ng/pull/2472 python is not required if syslog-ng is built from tarball (not git source).

Closing this due to inac

[2019-02-07 13:11] #1712 closed

[2019-02-08 08:11] #2368 closed

[2019-02-08 09:11] furiel commented on #1188
After https://github.com/balabit/syslog-ng/pull/2478/commits/7353ea03b8a99ac858c813250dc3dfdac3b7306e,
syslog-ng writes the following exception:
[code]
@pzoleex does this fix your issue?

[2019-02-08 11:04] gaborznagy commented on #2171
Hi @soubhik-c ,
Can you test your issue on the latest master, please? (it will be released in syslog-ng-3.20)
@furiel added improvements for debugging, see: https://github.com/balabit/syslog-ng/issues/1188#issuecomment-461737249

[2019-02-08 11:05] gaborznagy commented on #2126
Hi @grinapo,
Can you test your issue on the latest master, please? (it will be released in syslog-ng-3.20)
@furiel added improvements for debugging, see: https://github.com/balabit/syslog-ng/issues/1188#issuecomment-461737249

[2019-02-08 15:09] furiel commented on #1292
I just tried with 3.19, and I see these setsockopt problems even without the kernel module.

Interestingly, the problem occurs even with an "empty" config:
[code]

[code]
With the empty configuration, these errors do not accumulate.

However with a simple file destination:
[code]

[code]
the error occurs per message.

This `SO_OOBINLINE` call does not show up in syslog-ng code, however it is calle

[2019-02-08 17:15] abhay8nitt opened #2545 "Lazy loading of rules in patterndb"
Couple of questions
1. Is there a way to configure syslog-ng to lazily load patterns?
2. How to get the memory footprints the syslog-ng after it has loaded all the rules?
3. Where does syslog-ng log when a rule is hit?
4. My version of syslog-ng in production is 3.6.2, should we upgrade it? Were there major memory leaks issues fixed?

[2019-02-09 16:45] abhay8nitt commented on #2545
Can somebody help please?

[2019-02-09 16:55] faxm0dem commented on #2545
1. syslog-ng will automatically reload the dB when it changes on disk
2. ps
3. you can check the macro `.parser.rule_id`
or run in debug mode
4. yes, definitely upgrade. current is 3.19.1

[2019-02-11 06:08] Kokan commented on #2306
For more details please check out the pull request: https://github.com/balabit/syslog-ng/pull/2375#issuecomment-462227036

[2019-02-11 06:08] #2306 closed

[2019-02-11 07:24] furiel commented on #2545
There was a reload time memory leak in patterndb, when the leak was proportional to the size of the rules. This was fixed in https://github.com/balabit/syslog-ng/pull/2311.

[2019-02-11 08:20] abhay8nitt commented on #2545
Also where does the syslog-ng process writes log to? Is it under /var/log/ ?

[2019-02-11 08:45] gaborznagy commented on #2545
@abhay8nitt, if your run syslog-ng in the foreground (`-F` option) with `-e` option all logs redirected to stderr.
Otherwise you need to connect the `internal()` source of syslog-ng into any destination you prefer.
The default configuration (etc/syslog-ng.conf) connects internal() and system() sources to a file() destination under `/var/log/messages`.

[2019-02-11 10:53] bazsi commented on #1292
it is done in iv_fd_register(), and our logreader unfortunately
registers/unregisters fds at every poll iteration, which this PR is aiming
at to address.

https://github.com/balabit/syslog-ng/pull/2531

On Fri, Feb 8, 2019 at 4:09 PM furiel <notifications@github.com> wrote:

[2019-02-11 10:54] mikeBashStuff commented on #2457
Checking in if anyone has any updates on this particular issue.

[2019-02-11 18:34] bazsi commented on #2457
I successfully reproduced the issue in my dev environment.

[2019-02-12 17:19] bazsi commented on #2457
I've now opened a PR that should fix the original issue. I am not sure about the FreeBSD ones though, as the backtrace it contains is a kernel backtrace. The symptoms of the issue I've fixed were:

1) the main thread spinning 100% without any system calls
2) all the worker threads (their number equals to the number of online CPUs) waiting in epoll/kevent/whatever

In the FreeBSD traces, I can see

[2019-02-12 17:24] mnaef commented on #2457
A quick note form our side: At least parts of it were bugs (or triggered by bugs) in the FreeBSD 11.2 Kernel. ATM the Systems work quite stable.

[2019-02-13 08:03] szemere commented on #2474
Hello @polak785 , @faxm0dem ,
 I started to work on this problem, I would like to share my results.

 Unfortunately there is some incoherence with the sign/unsigned handling along the execution path of the query. I am working on a patch to solve it out, but I doubt that this is causing the problem right now. (The examples are far away from the extremal values.)
The strange thing is that we use G_G

[2019-02-13 08:38] #1832 closed

[2019-02-14 06:13] #1870 closed

[2019-02-14 10:08] polak785 commented on #2474
Hello @szemere,

Thanks for the follow of this problem.

On our instances, the logs are sent to 2 destinations : to a syslog and a logtash server.

The problem happen on these 2 destinations but it appears that this is a bit more often for logstash queue metric. The metrics are pulled every 30 seconds, and a strange value is retrieves around between 5 and 25 times per instances per day (total of b

[2019-02-15 06:44] Kokan commented on #2545
@abhay8nitt you could also ask question on our gitter, and you could avoid the issue creation/closure overhead. speaking of closure, if you feel all of your question have been answered please close this ticket.

[2019-02-15 12:37] #2545 closed

[2019-02-18 08:04] szemere commented on #2474
Hello @polak785,
 Using disk buffers, I was able to reproduce an underflow incident at the weekend, but the method is not stable, and my values are far away from yours (Those were proper near "MAX_INT" values.).

 Working on the issue, I will report my findings.

Br,
Laci

[2019-02-18 12:22] polak785 commented on #2474
I found new things:

- It appears that this problem appears less on Ubuntu 14.04. We have only 3 servers (of around 60) on Ubuntu 14.04 and a weird value has been detected only 44 times (total of the 3 servers) during 3 last months.

- The same weird value `18446744073709551616.000000` comes back very often and on differents servers.

- The weird values like `610018022897693696` seems to be unique

[2019-02-18 12:26] #869 closed

[2019-02-20 08:52] czanik opened #2560 "persist-tool breaks rpm packaging"
# syslog-ng

## Version of syslog-ng

Git snapshot from this morning.

## Platform

CentOS 7

# Issue

The addition of persist-tool breaks rhel7/centos7 packaging. It needs to be added to the file list. The following patch fixes it:

[code]

(sorry for not sending it as a PR, but have not used git for months and for a one liner I did not want to learn git again...)

[2019-02-20 16:06] meierfra-ergon commented on #2131
hi there, just wana ask, if there are any plans to bring the flush-timeout() feature to the elasticsearch2 destination?
As I see it was implemented in the http destination, but I think it seems not to be feasible to use it with elasticsearch, since as far as I understand, the http destination, can not feed the elasticsearch bulk API, where multiple log messages are posted in one request. Without t

[2019-02-20 16:18] furiel commented on #2131
@meierfra-ergon flush-timeout was added in https://github.com/balabit/syslog-ng/pull/2478/commits/b37e75c864ba7a617f9ef37224275e74afcc2d88 for `client_mode("http")`. The change will be available in the next release: 3.20.

[2019-02-20 16:45] meierfra-ergon commented on #2131
@furiel thanks for the info, looking forward to test it :-)

[2019-02-20 18:06] #2560 closed

[2019-02-21 10:36] Kokan commented on #2461
@profhun Does any of the above acceptable by you ? Did it solve your problem ?

[2019-02-21 14:10] profhun commented on #2461
Sorry, i left the problem with rsyslog. It solved my problem on a quicker way.

[2019-02-21 14:10] #2461 closed

[2019-02-23 16:39] mehul-m-prajapati opened #2566 "warning elimination: format nonliteral"
As the result of #1302 we want to eliminate some special warnings. For this reason I open issues with the different warning types to split the problem into subtasks.

The resolution would be a PR that fixes the mentioned warnings, and - to defend against reintroducing such warnings - these kind of warnings should be added in the top level Makefile.am, to the end of AM_CFLAGS in the ENABLE_EXTRA_WA

[2019-02-25 17:36] czanik opened #2568 "include does not work any more"
# syslog-ng

## Version of syslog-ng

syslog-ng compiled from git master today

## Platform

multiple openSUSE versions

# Issue

## Failure

Sometime after 3.19.1 release handling of include broke, the syslog-ng.conf used for the past couple of years does not work any more:

[code]

Downgrading to 3.19.1 resolves the problem.

## Configuration

[code]

[2019-02-25 17:41] MrAnno commented on #2568
`include` without the `@` symbol was never documented, but it had moderate complexity in our codebase, so we've decided to remove this undocumented feature.

`@include` can be used instead without any side effects.

[2019-02-26 12:00] MrAnno commented on #2568
Please reopen this ticket, if you have any concerns.

[2019-02-26 14:34] #2566 closed

[2019-02-26 15:37] Kokan commented on #2566
The #2567 has been merged, but that did not introduced the `format-nonliteral` warning, as the decision was not to cover it, see https://github.com/balabit/syslog-ng/pull/2567#pullrequestreview-207229899.

[2019-02-27 04:15] mehul-m-prajapati opened #2570 "warning elimination: cast qual"
As the result of #1302 we want to eliminate some special warnings. For this reason I open issues with the different warning types to split the problem into subtasks.

The resolution would be a PR that fixes the mentioned warnings, and - to defend against reintroducing such warnings - these kind of warnings should be added in the top level Makefile.am, to the end of AM_CFLAGS in the ENABLE_EXTRA_WA

[2019-02-28 06:56] Kokan opened #2572 "convert ut test_filters_in_list to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 06:59] Kokan opened #2573 "convert ut test_timestamp_serialize to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:00] Kokan opened #2574 "convert ut test_tags to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:02] Kokan opened #2575 "convert ut test_logproto to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:02] Kokan opened #2576 "convert ut test_stats_cluster to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:07] Kokan opened #2577 "convert ut test_template_compile to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:12] Kokan opened #2578 "convert ut test_template_on_error to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:12] Kokan opened #2579 "convert ut test_aux_data to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:13] Kokan opened #2580 "convert test_encode to criterion"
Use Criterion to rewrite this unit test.

[2019-02-28 07:18] Kokan opened #2581 "create issue for converting unit tests to criterion"
There is an ongoing project with converting UT to criterion, each unit test should have its own issue tracked via https://github.com/balabit/syslog-ng/projects/3

Please create the remaining of the UT a new issue and mark them as `good first issue` and add the same project as this issue.

[2019-02-28 10:58] akshat14714 commented on #2580
@Kokan I would like to work on this issue. As I am a beginner to code for syslog, can you help me out a little bit how to solve this issue?

[2019-02-28 11:10] Kokan commented on #2580
Sure,

1) Try to setup an environment (build, and run ut on your computer)
2) Check other Criterion based UT, or even check a PR that did a conversion for clues what should be done.

You can find tips in the wiki, gitbook (https://syslog-ng.gitbooks.io/getting-started) and even in the criterion documentation (https://criterion.readthedocs.io/en/master/)

[2019-02-28 12:42] akshat14714 commented on #2580
As I was looking at the docs, so does this issue needs just to include the criterion.h library in the test_encode.c file?

[2019-02-28 13:20] Kokan commented on #2580
If it would, there were a simple script to convert tests.

There is two unit tests exists as of now, those with Criterion, and those without (let's call the later libtest based).

Libtest:
The libtest based tests are just simple application with a `main` calling functions and return `0/1` based on success.
[code]

Criterion:
This is more like a ut framework, which provides function like: parallel

[2019-02-28 14:07] czanik commented on #2568
Sorry for not responding earlier, I did not receive e-mail from github for the past couple of days...

The syslog-ng.conf in openSUSE & SLES used ```include``` this way for the past 6-7 years. So updating syslog-ng will break for anyone, who modified the configuration coming with the openSUSE / SLES syslog-ng rpm in any way.
(Historical background: it is used to include an external configuration s

[2019-02-28 14:15] gaborznagy commented on #2568
@czanik This is an interesting question, because in my opinion it was never documented and it could be seen even as a bug that was fixed.
We have a lot of compatibility constraints already, I think we can change something that was never documented.

Please also note that since #2548, the following  `3.19.1` version number scheme in config is invalid too, only the major-minor versioning `3.19`.

[2019-02-28 14:20] gaborznagy commented on #2568
Also, the default config never used include without the `@` keyword

[2019-02-28 18:27] mehul-m-prajapati commented on #2579
Hi @Kokan ,

I am working on this issue.

[2019-02-28 20:19] mehul-m-prajapati commented on #2578
Hi @Kokan .

I am working on this issue.

Thanks,
Mehul

[2019-03-01 03:26] smortex opened #2585 "Missing syslog-ng 3.20 packages on the openSUSE build service"
Hi!

sysylog-ng 3.20.1 was tagged yesterday.  However, I see nothing related to this new version on the [openSUSE build service](https://build.opensuse.org/project/show/home:laszlo_budai:syslog-ng).

By looking at the previous releases build date and comparing it to the tag date, it makes me think that builds are not triggered automatically, and maybe someone have to do something on the build.open

[2019-03-01 05:19] mehul-m-prajapati commented on #2576
Hi @Kokan,

I am working on the issue.

Thanks,
Mehul

[2019-03-01 05:58] Kokan commented on #2585
You are right that is not automatic, and as an unofficial package maintained by @lbudai

[2019-03-01 10:36] Kokan commented on #2585
This should solve it: https://lists.balabit.hu/pipermail/syslog-ng/2019-March/025089.html

[2019-03-01 10:36] #2585 closed

[2019-03-01 11:53] lbudai commented on #2585
@smortex : as @Kokan says, these are unofficial packages. I always trying to release the packages in time, but there is no guarantee (maybe in the future I'll make it fully automatic, but not this time).

Packages are available now.

[2019-03-01 13:59] smortex commented on #2585
Awesome! :heart: :yellow_heart: :green_heart: :blue_heart: :purple_heart:

I was not sure about how to reach @lbudai directly (no public e-mail address on your GitHub profile) so I opened an issue here.  Since this release fix a major issue for us, I was actively looking for this release :wink:

If a more convenient way to raise this kind of problems is preferred, please say so here: I or some oth

[2019-03-02 09:30] #2579 closed

[2019-03-02 10:00] Kokan commented on #2570
@mehul-m-prajapati are you working on this issuse ?

[2019-03-02 13:49] mehul-m-prajapati commented on #2570
Hi @Kokan ,

Yes, I am working on this issue ...

[2019-03-03 08:36] #2576 closed

[2019-03-03 19:39] mochrul commented on #1204
@bazsi I found this bug. And this issue still persists in 3.20.1.

[2019-03-04 06:50] #2578 closed

[2019-03-04 16:43] bazsi commented on #2568
I have opened a PR that should resolve this issue in a smoother manner: https://github.com/balabit/syslog-ng/pull/2592

This does not add back the support for the old-style include statement, however it patches the
input as it is read by syslog-ng to add the '@' back for old configuration versions.

Anything that declares `@version: 3.20` will still not recognize the old include statement, however

[2019-03-05 11:01] tomlaredo opened #2595 "Syslog-ng stops logging"
# syslog-ng

## Version of syslog-ng
[code]
[code]

## Platform
Virtual OS : Debian GNU/Linux 9.8 (stretch) up to date - LXC Container
Physical host : Proxmox 5 up to date
Kernel : Linux myserver 4.15.18-10-pve #1 SMP PVE 4.15.18-32 (Sat, 19 Jan 2019 10:09:37 +0100) x86_64 GNU/Linux

Syslog-ng configuration is deployed by saltstack.

## Debug bundle
syslog-ng-debun seems to be absent from Debian.

[2019-03-05 15:19] Kokan commented on #2595
Hello,

About debun, as far as I can see it is not included in the *syslog-ng* package, you could get it from the repository: https://github.com/balabit/syslog-ng/blob/master/contrib/syslog-ng-debun

When *syslog-ng* is stopped there is a flush for messages, but that should be triggered in case of `service syslog-ng stop`.

Would it be possible to send a core dump from a *syslog-ng* process, when

[2019-03-05 15:28] #2572 closed

[2019-03-05 17:00] tomlaredo commented on #2595
Hi,

Thanks for your quick reply.
Here is some more hint:

On a host stuck since Feb 28 16:49:36:

[code]

Before retart, 2 messages at today's datetime, nothing between Feb 28 and today
Stop/start flushed a few logs but not all of them and in a weired order (some logs BEFORE the time it got stuck...).

You'll find an archive file attached to this comment with more details (including core dumps) b

[2019-03-05 23:29] andrewfawcett opened #2597 "linux-audit-parser decodes proctitle with \t instead of spaces"
# syslog-ng

Ausearch and other auditing tools uses spaces for whitespace while linux-audit-parser uses tabs. This becomes \t, which makes the output even harder to read. Linux-audit-parser should use spaces to make it easier to use.

## Version of syslog-ng
syslog-ng pe 6.0.5

## Platform
Centos 7

[2019-03-06 01:57] mehul-m-prajapati commented on #2580
@akshat14714 : Are you still working on this?

[2019-03-06 02:52] akshat14714 commented on #2580
@mehul-m-prajapati Yes I am working on it. I was just stuck with some assignment. Will probably do it today or tomorrow mostly.

[2019-03-06 03:45] mehul-m-prajapati commented on #2580
@akshat14714 : Ok. If you find it difficult then I can take over this issue.

[2019-03-06 04:21] bazsi commented on #2595
I think this might be related to system() source automatically adding the
/proc/kmsg source (3.8.1 is pretty old, newer versions would skip that if
running in a container). Since /proc/kmsg is not providing sane
non-blocking behaviour, sometimes syslog-ng gets stuck because of that.
(e.g. two processes ingesting messages from /proc/kmsg can cause this,
especially if kernel messages are rare).

So

[2019-03-06 04:27] bazsi commented on #2597
Hi,

While this problem might be related to PE and probably also relates to the
open source version, please file your ticket under the normal support
process in case you also want warranties/SLAs of a professional support
organization :) this one is focusing on the open source project. Can you
please show a sample input and expected output for your case? I would also
be interested in how you use t

[2019-03-06 05:29] mehul-m-prajapati opened #2598 "convert test_cfg_lexer_subst to criterion"
Use Criterion to rewrite this unit test.

I am creating this issue as it is mentioned in #2581 by @Kokan.

[2019-03-06 08:33] tomlaredo commented on #2595
Hi @bazsi, thanks for your thoughts.
Unfortunately, it seems that /proc/kmsg isn't used.

root@myserver3:~# syslog-ng --preprocess-into=/tmp/preprocessed_syslog_conf
root@myserver3:~# grep -v "^#" /tmp/preprocessed_syslog_conf
[code]

On the other hand, I see that /dev/tty10 is used while it shoudn't, as mentioned in my first post (/dev/tty10 is a standard file on my containers, not a device). May

[2019-03-06 11:50] #2568 closed

[2019-03-06 11:51] #1204 closed

[2019-03-06 20:33] akshat14714 commented on #2580
@mehul-m-prajapati I am trying to do that, but I am finding it difficult. If you could help me getting one of the files correct, then I can move on to change the other files that require the change.

[2019-03-08 05:39] veer11997 commented on #2581
@Kokan  sir i would like to work on the project  for gsoc 2019 and i want to contribute on it.if you can say which project is to take the organisation in the year gsoc 2019.

[2019-03-08 06:00] Kokan commented on #2581
@veer11997 Please if possible use gitter or the mailing list for discussion not connected to a particular bug or feature request - github issue tracker is used for those.

As of GSoC, there is **no** direct list of issues, or project that you should work on. The project ideas are shared on the wiki page, you could either choose from that or bring your own.
If you are interested in early involvemen

[2019-03-08 10:12] #2577 closed

[2019-03-08 11:25] #2598 closed

[2019-03-09 10:24] MrAnno opened #2609 "convert test_decode to criterion"
Use Criterion to rewrite this unit test.

[2019-03-09 10:24] MrAnno opened #2610 "convert test_host_resolve to criterion"
Use Criterion to rewrite this unit test.

[2019-03-09 10:24] MrAnno opened #2611 "convert test_systemd_journal to criterion"
Use Criterion to rewrite this unit test.

[2019-03-09 10:25] MrAnno opened #2612 "convert test_diskq to criterion"
Use Criterion to rewrite this unit test.

- [ ] test_reliable_backlog
- [ ] test_diskq_truncate
- [ ] test_diskq
- [ ] test_diskq_full

[2019-03-09 10:25] MrAnno opened #2613 "convert test_csvparser_perf to criterion"
Use Criterion to rewrite this unit test.

[2019-03-09 10:25] MrAnno opened #2614 "convert test-transport-mapper to criterion"
Use Criterion to rewrite this unit test.

- [ ] test-transport-mapper
- [ ] test-transport-mapper-inet
- [ ] test-transport-mapper-unix

[2019-03-09 10:27] MrAnno commented on #2581
I think all remaining tests have an issue now.

[2019-03-09 10:27] #2581 closed

[2019-03-10 16:36] #2609 closed

[2019-03-11 06:19] #2613 closed

[2019-03-11 08:39] #2575 closed

[2019-03-11 11:55] #2614 closed

[2019-03-12 09:17] polak785 commented on #2360
Unfortunately, we are unable tp provide an environment where the problem is reproductible.

@alltilla I think your "long message" to test is too short, we had issue every time with a message with at least 8424 characters (may be it can happened with a shorter message).
Also, I don't know if it's relevant but we use the default value for `follow-freq` parameter.

I think, the problem of the 2nd `sy

[2019-03-12 16:02] #2610 closed

[2019-03-13 07:28] #2580 closed

[2019-03-13 07:56] #2573 closed

[2019-03-13 12:03] abalage opened #2625 "python-parser requires updated apparmor profile otherwise got SIGSEGV"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

OpenSUSE Leap 15.0 (and possibly other apparmor based distros like Ubuntu)

# Issue

## Failure

Checking configuration syntax (syslog-ng -s) ends up in SIGSEGV

## Steps to reproduce

1. start syslog-ng with a defined python-parser

2. experience SIGSEGV of syslog-ng

See gdb backtrace. https://pastebin.com/Gpby35Nb

3. look for entries o

[2019-03-13 14:08] Kokan commented on #2625
Thanks for reporting, and for the suggestion.
@czanik Does this apparmor profile is the same as under contribute folder?

[2019-03-13 16:27] czanik commented on #2625
No. The one in openSUSE is from AppArmor upstream:

[code]

[2019-03-13 22:04] Kokan commented on #2625
@czanik does this part of the opensuse repo ?

[2019-03-14 08:18] abalage commented on #2625
OpenSUSE requires the contribution to be sent to their bugzilla as well to Apparmor's mailing list: https://en.opensuse.org/SDB:AppArmor

However Debian suggest directly contributing to Apparmor's Git repo, although I could not find any syslog-ng profile there: https://wiki.debian.org/AppArmor/Contribute/Upstream

The logic is the same, commit to upstream, then they will pick the changes from ther

[2019-03-14 15:05] abalage opened #2630 "syslog-ng-3.20 deadlock caused by grouping-by() parser"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

openSUSE Leap 15.0

# Issue

Syslog-ng stops storing log messages. No new messages are getting stored in any destination drivers.

## Failure

gdb "threads apply all bt full" is attached, so as the core file

## Steps to reproduce

1. start syslog-ng with the configs supplied in attachment

2. use monitoring system to realize no new logs a

[2019-03-14 15:06] abalage commented on #2630
strace, netstat, lsof, gdb backtrace, core file, messages, config are all stored in that tar.gz
I am sorry for any inconveniences it may caused that I did not upload it separately.

[2019-03-14 15:37] Kokan commented on #2630
Thanks for the great report, it is fine uploading them in one `tar.gz`.

[2019-03-14 16:31] Kokan commented on #2630
The issue seems to be related to the `group-by` parser and the `file` destination.
1) The timer for the `group-by` is expired thus triggering in the main thread. This thread waits for the lock owned by `group-by` pipe item.
2) The log path that has the `group-by` configured also active in a different thread, where it processes a message (the `group-by` queue holds the lock), and reaches the `file`

[2019-03-15 09:59] yanryb opened #2631 "make error with 3.20.1 on solaris 11.3"
# syslog-ng

Hi
I am getting an error when running gmake.

error: conflicting types for (compat_generic__getprotobynumber_r)
error: conflicting types for (compat_generic__getprotobyname_r)
error: conflicting types for (compat_generic__getservbyport_r)
error: conflicting types for (compat_generic__getservbynamer_r)

modules/getent/module_getent_libtfgetent_la-tfgetent.lo error 1

/Y

[2019-03-15 13:15] yanryb commented on #2631
Found the error.

Moved the include up before define in lib/combat/getent.h.

#include "getent-generic.h"
#define getprotobynumber_r _combat_generic__gertprotobynumber_r
.....

[2019-03-15 13:59] furiel commented on #1276
Unfortunately I got stuck during the reproduction. Closing this due to inactivity. Feel free to reopen if the problem still persists.

[2019-03-15 13:59] #1276 closed

[2019-03-15 14:04] Kokan commented on #2631
Thanks for the report, is this the only build error you found ? Would you mind to create a PR so in the next release you won't face the same issue ?

[2019-03-16 13:24] gen2brain opened #2633 "Redis Cluster support"
Hello,

Are there any plans to support Redis cluster https://redis.io/topics/cluster-spec ?
Currently, we use Java destination with support for the cluster for that, but performance is not that good, real support in Redis plugin would be much better.

I wanted to try and add support myself, based on the example I saw, how FreeRadius project added support for their Redis plugin. I am not an expert

[2019-03-16 14:21] Kokan commented on #2633
The core development team as far as I am aware does not work in this. Without reading the how the redis cluster scale, in syslog-ng itself there was some major improvement on http (could use multiple thread/connection to feed http server). That work could help you a little.

Feel free to ask questions here, or in gitter if you feel like you stuck.

[2019-03-18 08:17] abalage commented on #2630
fyi: Removing the file destination from the nested log path did not resolve the issue.

[2019-03-18 15:31] szemere commented on #226
Dear @faxm0dem ,
 we were looking into this old issue. We discussed the possibility of supporting templates inside tags. Since no one else mentioned/requested this feature, and nobody took the chance to implement it in the past years, I think it is not feasible way.
 However I would like to deeper understand your problem and find other ways to solve it.

1. mimic `attribute(foo => bar)` with `tag(

[2019-03-18 20:12] jtkristoff opened #2635 "create-dirs() option fails in source pipe()"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

Debian 9.7

# Issue

Specifying create-dirs(yes) in source pipe() is not recognized / causes a parsing failure.  Note, this is specified in a separate conf.d/local.conf file that gets loaded later.

## Failure

[code]

## Steps to reproduce

Create a conf.d/local.conf that includes the following:

[code]
1. start syslog-ng

If you comment

[2019-03-19 04:01] bazsi commented on #2635
This is a destination specific option, the source side never supported it.
I am not saying it wouldnt make sense to add this, but then we should do
that similarly in unix-dgram/unix-stream drivers, and possibly files as
well.

I currently dont have time for this feature but patches as always are
appreciated :)

On Mon, Mar 18, 2019, 21:12 John Kristoff <notifications@github.com wrote:

[2019-03-19 08:14] faxm0dem commented on #226
the Riemann limitation I was mentioning is no longer present, so the original use-case is defeated.
However, it would seem natural that the riemann destination would pick up the $TAGS macro as riemann tags, don't you think?

[2019-03-19 14:13] jtkristoff commented on #2635
Thanks bazsi, thanks for your rapid response.  I would just note that the I thought this was an appropriate issue to raise, because a source pipe() will "create" the pipe, so it seemed at least reasonable to expect the create-dirs() option to work as it would in a destination.

This is not big deal of course and I'm happy to have it marked as wish list or very low priority enhancement indefinitely

[2019-03-20 05:51] faxm0dem commented on #226
thanks so much for the test and clarification! si the missing piece is just that `set-tag` is not templateable. this could justify a separate issue, but as I don't need it anymore, I leave it up to you to open it if you feel it necessary!

you can close this issue then

thanks for being so thorough on old issues!

[2019-03-20 07:10] #226 closed

[2019-03-20 22:32] marcin-82 opened #2641 "[Solved/Explained] Error parsing config, syntax error, unexpected LL_ERROR, expecting $end in /etc/syslog-ng/syslog-ng.conf"
## Version of syslog-ng
[code]

## Platform
Arch Linux, up to date, stable branch

## Debug bundle

[code]

# Issue
After update from 3.19.1 to 3.20. 1 without any configuration changes syslog-ng does not start.

## Steps to reproduce
1. start syslog-ng
## Configuration
[code]
## Input and output logs (if possible)
Result from _journalctl -xe | grep syslog-ng_
[code]

Link to Arch Linux package PK

[2019-03-20 22:43] MrAnno commented on #2641
Hi @marcin-82,

Thanks for opening this issue.
Unfortunately, `@version: 3.20.1` is not a correct config version syntax, it should have been `@version: 3.20` instead.

This is not coming from our side, you can open a bug on https://bugs.archlinux.org/ or contact one of the Arch Linux maintainers: Florian Pritz, Jelle van der Waa.

[2019-03-21 07:46] rosemead opened #2642 "unable to receive messages on non-tls tcp source (Invalid frame header; header='')"
syslog-ng starting up; version='3.19.1'
(docker image)

Struggling to find the correct setup to receive a message over tcp, without TLS.

Keep seeing this:

[code]
Tried:
- source s_network {network (transport("tcp") port("601")) };
(with/without flags(syslog-protocol))
- source s_network {default-network-drivers(); };

clients attempted:

- bsdutils' logger
- log4j (2.11.2)
- nodejs syslog-client

[2019-03-21 08:12] furiel commented on #117
We were looking into this ticket, and decided to close this issue with documentation update. In the meantime, `ifelse` and `app-parser` became available, that makes easy to resolve the problem when subsequent db-parsers overwrite `.classifier.class`.

For example in case only a few db-parsers need to be used, one can use `if`:
[code]

Or in case there are many, one could use `app-parser`:
[code]

[2019-03-21 08:12] #117 closed

[2019-03-21 08:41] Kokan commented on #2642
The `network(transport(tcp) port(601));` is exactly tcp+601 port receiving messages without tls :+1:

You can even test it with `logger -n 127.0.0.1 -T test` and it should handle the message.
There is also `loggen` shipped with syslog-ng you may try that as well :-)

p.s.:

server config example:
[code]

[2019-03-21 11:00] rosemead commented on #2642
[code]

[code]
[code]
[code]

[2019-03-21 11:02] rosemead commented on #2642
full output of container...
[syslog-ng.log](https://github.com/balabit/syslog-ng/files/2991712/syslog-ng.log)

[2019-03-21 11:09] Kokan commented on #2642
`v "%cd%\syslog-ng.test.conf:/etc\syslog
-ng/syslog-ng.conf"` this does not seem to correct to me, would you try `v "%cd%\syslog-ng.test.conf:/etc/syslog
-ng/syslog-ng.conf"` (forward slash in the `/etc/` part.

Are you using docker from windows ?

[2019-03-21 11:18] rosemead commented on #2642
this produces a docker error...
[code]
Probably unrelated to the syslog issue, though (am running docker on windows)...

[2019-03-21 11:29] rosemead commented on #2642
Ok. Started container with 'bash' entrypoint, overwrote syslog-ng.conf with your suggested one, then fired-up syslog-ng, and tested w/logger. Works 👍 Guess my pains were mostly docker-related. Thanks for spotting it!

[2019-03-21 11:30] #2642 closed

[2019-03-21 11:36] rosemead commented on #2642
Pardon, one last question: so, one should not expect for the default configuration shipped with balabit/syslog-ng to support the above use-case? Just that it seems to me like a common one.

[2019-03-21 12:10] Kokan commented on #2642
The `default-network-drivers` listens on `tcp/514`, `udp/514`, `tls/6514` and `tcp/601`; where the latter two requires you to have framing (`logger -n 127.0.0.1 -T --octet-count test`) the first two are not.
I am not really sure what is your use-case, but you could tell me more about it.

[2019-03-21 15:53] tomlaredo commented on #2595
I come back to you with now informations.
Here is a system where logs are stuck since "Mar  6 11:05:01"

[code]

I see every missing log when I run journalctl.
[code]

It seems that only servers running systemd are affected.
I tried to do all things below but nothing actually flushed thoses messages to /var/log/syslog:

- journalctl --flush
- systemctl restart systemd-journal-flush.service

Some o

[2019-03-21 16:16] marcin-82 commented on #2641
Thank your for response. Perhaps I've went ahead (too fast)... but older version has been working good with @version 3.19.1 setting and I did not check shorter form - 3.20. With **3.20** setting syslog-ng works OK. Thank you for tip.

[2019-03-21 16:17] #2641 closed

[2019-03-21 20:41] rosemead commented on #2642
thanks. By 'use-case' I meant 'just works': have syslog messages sent to server, via well-known tcp port, using a ubiquitous client, simple command line, and syslog-ng out-of-the-box (default config). Haven't seen `--octet-framing` before, and anyway, it wouldn't have associated with the issue at-hand, in my mind. Perhaps there's some syslog-ng documentation on this matter that I missed?

On a bro

[2019-03-22 07:44] Kokan commented on #2630
Thanks for the feedback, I had to do something else for a while; but I am back on this track.

[2019-03-23 06:16] #288 closed

[2019-03-25 13:05] #366 closed

[2019-03-25 14:20] flynn1973 opened #2646 "AIX: linker errors while building libsyslog-ng.a"
while trying to build for aix, i ran into linker errors, any hints how to proceed?

OS: AIX 71
compiler: gcc 6.3.0

configure results:
[code]

error:

[code]

[2019-03-25 15:27] gaborznagy commented on #2532
https://github.com/balabit/syslog-ng/pull/2535 is merged, I am closing this ticket if you agree.

[2019-03-25 15:27] #2532 closed

[2019-03-26 11:57] Kokan commented on #2646
There was an issue with an attempt to compile syslog-ng on AIX; in that issue the same linking error come up. https://github.com/balabit/syslog-ng/issues/2206#issuecomment-408337889 (there is a possible solution in the next commit.)

[2019-03-26 12:07] flynn1973 commented on #2646
yes i already read the issue mentioned. but i am not clear where to do the edit.
i probably found it in m4/libtool.m4. there should be some aix specific tests done.
ld --help is not a valid aix ld option and produces the errror, and for some reason chooses gnu ld options
which of course will never work.
->

ld: 0706-012 The -- flag is not recognized.
ld: 0706-012 The -w flag is not recognized.
ld:

[2019-03-26 12:34] Kokan commented on #2646
The `--whole-archive` is configured in `configure.ac`: https://github.com/balabit/syslog-ng/blob/c4f075969a88dfb9dfb07ce59f53860049d313b0/configure.ac#L588-L598

Sadly I am not an libtool mage as well, in fact do not even use it to compile syslog-ng.
Probably won't solve your issues, and bring you more issue, but there is a `cmake` build system support in the syslog-ng repository. (and cmake suppo

[2019-03-27 09:50] flynn1973 commented on #2646
cmake is not an option add the moment.
i changed the "THREAD_KEYWORD" test to the following.
[code]
which results in the follwing. looks good.
[code]
now it wants to use epoll.h which simply does not exists on aix..

[code]

now what?

[2019-03-27 10:36] flynn1973 opened #2649 "AIX: linux only apis/calls prevents build"
there are occasions where linux only apis are used. this prevents portability to AIX and probably other platforms to.

example:
eventfd is linux only..

[code]

[2019-03-27 12:10] MrAnno commented on #2649
Hi,

This is coming from an external library called ivykis, which is, by default, bundled as a submodule. I'm pretty sure [ivykis](https://github.com/buytenh/ivykis) supports AIX, it has proper checks for eventfd, epoll, etc. It might be possible that those checks do not work when ivykis is configured through syslog-ng.

Please try compiling ivykis seperately, then use `./configure --with-ivykis=s

[2019-03-27 12:10] MrAnno commented on #2646
Hi,

This is coming from an external library called ivykis, which is, by default, bundled as a submodule. I'm pretty sure [ivykis](https://github.com/buytenh/ivykis) supports AIX, it has proper checks for eventfd, epoll, etc. It might be possible that those checks do not work when ivykis is configured through syslog-ng.

Please try compiling ivykis seperately, then use `./configure --with-ivykis=s

[2019-03-28 08:47] Kokan commented on #2625
@czanik @abalage would any of you update apparnor for opensuse/debian ?

[2019-04-01 12:06] hbakken commented on #2263
This is indeed a ivykis issue, but I would still like to see it fixed in syslog-ng, since syslog-ng has a --with-ivykis=internal, would it be possible to push a fix to the shipped ivykis?
What is needed would be to pull https://github.com/buytenh/ivykis/pull/16 into the ivykis subdirectory of syslog-ng.

[2019-04-01 12:18] furiel commented on #356
We discussed this old issue, and we decided not to support such functionality in the configuration language. Such feature to be usable, it would need a variety of functionality, that would be difficult to manage inside the configuration language, and also difficult to maintain inside the code.

The resolution is that syslog-ng should provide an e2e test framework, that could be used to test any co

[2019-04-01 12:18] #356 closed

[2019-04-01 12:26] Kokan commented on #2263
I would really avoid shipping ivykis which is not part of the upstream. As of now there is not really a mechanism to ship patched ivykis. I think pushing the ivykis PR would be better.

[2019-04-01 12:31] hbakken commented on #2263
Sure, I can understand that.  But you will consider pulling in the fix from ivykis once it is upstream there?

[2019-04-01 12:32] lbudai commented on #2263
@hbakken : we have ivykis as a (git) submodule and internal means that someone wants to build syslog-ng with this submodule (as this is part of the tarball), but does not mean that we put local patches to the ivykis submodule.
When the upstream will contain the fix, we are going to `step` our submodule.

[2019-04-01 12:36] Kokan commented on #417
The syslog-ng has reached the current limitation of coverity scan:

[code]

Additionaly the [LGTM](https://lgtm.com/) is configured and used.

[2019-04-01 12:36] #417 closed

[2019-04-01 12:40] hbakken commented on #2263
Ok, thanks, that sounds good.  Imma push ivykis.

[2019-04-01 13:42] Kokan commented on #2460
Does the logging worked with the default ports ?
Could you check with tools like tcpdump what happens with the packets ?
(I assume you configured the firewall as well.)

[2019-04-01 14:40] Kokan commented on #2476
@JawadKM I hope you could resolve your problem, if so, could you please close this issue ?

[2019-04-01 14:44] JawadKM commented on #2476
Sorry guys, we contacted IBM and there is some issue at their end.
Closing this issue, but whenever IBM gets back to us I will update this link.

Thanks for your support. :)

[2019-04-01 14:45] #2476 closed

[2019-04-01 15:32] MrAnno commented on #147
This has been fixed in syslog-ng v3.8.1 (#1032, https://github.com/balabit/syslog-ng/commit/82b473ece85c3426bb502f0c55afad4daf2f5938#diff-d9f8b4f62fd3294230ca43a28a2c0cb1R308).

Since then, only the following actions are supported:
- `create-context`
- `message`

`<value>` as an action is not valid anymore:
[code]

If you want to achieve the same behavior, it can be done with the following cleaner

[2019-04-01 15:32] #147 closed

[2019-04-02 07:51] polak785 commented on #2360
Hello,

By applying a maximum length for message at 8Ko, this permit to avoid the bug.

[code]

[2019-04-02 12:31] szemere commented on #881
Hello!
 Credits for @mitzkia for founding this old ticket.
 #2644 should fixes this.

Br,
Laci

[2019-04-02 12:38] jszigetvari opened #2654 "requesting a feature: internal ring buffer for internal() messages"
# syslog-ng

## Version of syslog-ng

all versions

## Platform

any OS

## Debug bundle

None needed

# Issue

It came to my mind that it would be a great (debugging) feature for syslog-ng if it would have an internal ring buffer (possibly with a configurable size) that would record all the internal() messages regardless if the internal() source is explicity used in the config or not.
Once that i

[2019-04-02 13:32] gaborznagy commented on #2654
The feature sounds very useful!

Currently, msg_debug(), msg_verbose() and msg_trace() functions only create the messages if the according flag is set previously.
The feature would to avoid to modify the config, add the internal() source and reload syslog-ng.
We should not remove these due to their impact on performance.
Therefore this feature would have some limitations:
- you cannot have post-mo

[2019-04-02 14:29] abalage commented on #2630
I installed a binary built from your branch to test the issue. I will report back after a couple of days.

[2019-04-03 18:45] #2612 closed

[2019-04-03 18:49] sudormrfstar opened #2658 "test_logproto failed to pass unit test due to double free error"
## Version of syslog-ng
syslog-ng 3.20.1

## Platform
Fedora
 Linux version 4.18.16-300.fc29.x86_64

# Issue

## Failure
From ./test-suite.log:
...
FAIL: lib/logproto/tests/test_logproto
....
free(): double free detected in tcache 2

From valgrind test result:

==15149== Memcheck, a memory error detector
==15149== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==15149== Using Valg

[2019-04-03 18:52] MrAnno commented on #2658
@sudormrfstar I introduced this double-free 😞. Thanks for catching it.
Would you like to work on fixing this issue?

[2019-04-03 18:54] sudormrfstar commented on #2658
Of course, I'd love to, I've made a little progress;)

[2019-04-04 09:40] abalage commented on #2630
I enabled file destinations again but no logs are being stored there (could be because of my config).
Anyway I still experience coredump upon logrotation (SIGABRT).

[code]

Version
[code]
[gdb.txt.gz](https://github.com/balabit/syslog-ng/files/3042788/gdb.txt.gz)

[2019-04-04 09:40] abalage commented on #2630
Let me know if you need the core file too.

[2019-04-04 10:34] Kokan commented on #2630
You compiled from the fork of my master, which did not have my fix.
The crash you found is a different issue on master, fortunately @furiel just found and created a fix for this crash: https://github.com/balabit/syslog-ng/pull/2655

Now to I've rebased my branch on top of @furiel 's, so my `group_by_deadlock` branch should contains both fixes.

One possible way to get the correct branch:
[code]
Yo

[2019-04-04 10:56] abalage commented on #2630
Thanks for the notice. I recompiled it but this time on the right branch after git pull.

[2019-04-05 06:58] furiel commented on #189
As a hint, here is how I created a working environment for development. With better understanding of rabbitmq, there is probably a simpler way. Please share if you know one!

1) Starting rabbitmq server from dockerhub.
[code]
2) Adding `logs` exchange for vhost `"/"`.
For some reason the default `""` exchange did not work with the example script from the rabbitmq tutorial, so I needed to create an

[2019-04-05 11:54] abalage commented on #2630
This isn't look good. It aborts in every couple of minutes. (I noticed that your branch is on 3.19 and not on 3.20)
[gdb.10116.txt.gz](https://github.com/balabit/syslog-ng/files/3047741/gdb.10116.txt.gz)
[gdb.10662.txt.gz](https://github.com/balabit/syslog-ng/files/3047742/gdb.10662.txt.gz)

[2019-04-05 12:31] Kokan commented on #2630
It is not on `3.19`, but there was a change to use `git describe` to obtain the version, which looks for recent tag. But my fork does not have the `3.20.1` tag (it has the code for it but not tagged). Thus if you only clone my repo, you get the `3.19.1.g....`. (https://github.com/Kokan/syslog-ng/tags)

I'll check later the gdb outputs, thanks for the test.

[2019-04-05 17:27] cboltz commented on #2625
Upstream AppArmor moved from launchpad to gitlab.com, so the best way is to send a merge request to https://gitlab.com/apparmor/apparmor/

Bugreports at various places (bugzilla.opensuse.org, bugs.debian.org, launchpad and gitlab.com) will also work, but if you already know what needs to be changed, a merge request is less paperwork ;-)

In this specific case, I made it easy for you and just opene

[2019-04-05 19:40] abalage commented on #2625
That's very kind of you.
Thank you @cboltz

[2019-04-07 12:05] MrAnno commented on #2488
@tsunderino Are you working on this issue?

[2019-04-07 12:52] sudormrfstar commented on #2658
[rid_double_free_in_test_logproto.patch.gz](https://github.com/balabit/syslog-ng/files/3051531/rid_double_free_in_test_logproto.patch.gz)

Could you review the diff patch, please? Or would you like another format in email or elsewhere?

Currently unit tests in log_proto can all pass (53/53).
`make check` result: (151/152)
It also passed `valgrind --trace-children=yes ./build/lib/logproto/tests/tes

[2019-04-07 13:13] MrAnno commented on #2658
I think they are absolutely necessary, because the double-free issue exists in those tests as well.
Since the `encoding` field is not used (`NULL`) in those tests, the double-free is just a possibility, this is why valgrind did not detect them.

The patch looks good. :)
I have a few comments about the change, but it is easier to comment on the diff, so please push your changes to your fork and ope

[2019-04-07 13:45] sudormrfstar commented on #2658
Oh so sorry, I forgot to add Signed-off line in the commit.

[2019-04-08 06:02] #2658 closed

[2019-04-08 09:32] #1027 closed

[2019-04-08 12:34] furiel commented on #1188
Closing with https://github.com/balabit/syslog-ng/commit/7353ea03b8a99ac858c813250dc3dfdac3b7306e:

[2019-04-08 12:34] #1188 closed

[2019-04-10 03:00] MikeLim7 opened #2667 "syslog-ng.service startup failure on"
# syslog-ng systemd

## Version of syslog-ng
3.20 for RHEL 7
(syslog-ng-3.20.1.233.g502b0f0-1.el7.x86_64)

output of syslog-ng --version

## Platform
CentOS 7.6

# Issue : Systemd startup errors
Whenever a RHEL/CentOS VM is booted up, syslog-ng daemon fails to start.  This can be fixed by configuring syslog-ng.service to start _after_ network daemon

## Steps to reproduce
Install syslog-ng on Cent

[2019-04-10 03:05] MikeLim7 commented on #2667
The **After=network.target** method is also used by other daemons such as httpd (apache) and mariadb .

[2019-04-11 19:12] nambrosch opened #2670 "feature request - expand apache parser"
Would it be possible to add support for the unofficial vcommon & vcombined formats to the apache parser?  I would like to pass logs via syslog however would be unable to pass vhosts.

apache config:
[code]

This will add the additional parameters (hostname and port) so a request can be identified:
[code]

A simple regex to identify would be `^[A-Za-z0-9-_.]{4,254}:[0-9]{1,5}` (although it could be

[2019-04-12 04:48] bazsi commented on #2670
This is a good idea, and I think can be trivially added using an if {}
statement, if the format can be identified.

I think wr could use the colon in the first column to do that.

E.g. something like

[code]

Could you cook a pull request? The apache parser is somewhere in scl/apache
subdirectory.

Thanks

On Thu, Apr 11, 2019, 21:12 nambrosch <notifications@github.com wrote:

[2019-04-12 15:11] NidhiArien opened #2674 "How to recover a corrupted disk file; syslog-ng-00008.qf.corrupted ?"
Hi,

We see a  corrupted disk file: syslog-ng-00008.qf.corrupted in one of our systems. Is there anyway one could recover and replay events from the corrupted file?

**output of syslog-ng --version**

syslog-ng 3 (3.18.1)
Config version: 3.18
Installer-Version: 3.18.1
Revision: 3.18.1-1
Compile-Date: Oct 24 2018 10:05:42
Module-Directory: /usr/lib/syslog-ng/3.18
Module-Path: /usr/lib/syslog-ng/3.1

[2019-04-12 15:16] mcaulifn opened #2675 "Parsing SDATA"
# syslog-ng

## Version of syslog-ng

[code]

## Platform

Amazon Linux AMI release 2018.03

## Debug bundle
none available

# Issue

## Failure

JUNOS SRX is sending an RFC5424 log message.
- When sending via UDP, matching on PROGRAM for APP-NAME fails.
- When sending via TCP, matching on PROGRAM for APP-NAME writes a truncated entry to the file.

## Steps to reproduce

1. start syslog-ng
2. send

[2019-04-12 15:21] MrAnno commented on #2674
Hi @NidhiArien,

You can try to extract messages from the disk buffer file using `dqtool cat`:
https://www.syslog-ng.com/technical-documents/doc/syslog-ng-open-source-edition/3.20/administration-guide/89#TOPIC-1122122

If you have a syslog-ng >=3.18.1 for **testing purposes**, you can also try an example module called `example-diskq-source()` which can read your disk buffer file and forward non-co

[2019-04-12 17:12] parthw1 commented on #2635
@bazsi I would like to work on the patch. Can you please help me, from where to start.
Thank you

[2019-04-12 19:02] nambrosch commented on #2670
Before I submit the PR, how does this look?  Three new macros are exposed, `${vhost}`, `${port}`, and `${vhostport}`.

[code]

[2019-04-13 06:13] furiel commented on #1635
Closing due to inactivity.

[2019-04-13 06:13] #1635 closed

[2019-04-13 06:17] #1224 closed

[2019-04-13 07:13] furiel commented on #2202
Ok thanks I understand. The workaround of legoing the output template together works nicely for my usecase.

[2019-04-13 07:13] #2202 closed

[2019-04-13 07:20] furiel commented on #1279
Closing due to inactivity.

[2019-04-13 07:20] #1279 closed

[2019-04-13 08:04] furiel commented on #1277
One technical limitation is that systemd does not allow to override key fields in the journal. Specifically, the originator/host etc would be still syslog-ng, no matter what is the content of the message. I believe this is because of security reasons to avoid random services to inject logs for each other.

So what is needed here is to embed the raw message into a meta field of a journald entry usi

[2019-04-13 08:04] #1277 closed

[2019-04-13 15:46] bazsi commented on #2670
It would be great to not duplicate stuff, e.g. the date-parser seems to be
the same.

Otherwise it looks good.

Wrt naming I was trying to use a schema that matched the defaults in
logstash I think, as it is pretty often used to parse apache logs. Can you
check it the new fields match those?

On Fri, Apr 12, 2019, 21:02 nambrosch <notifications@github.com wrote:

[2019-04-14 01:09] nambrosch commented on #2670
I don't believe there is an official stance on using this new data in logstash.  I found a few posts of people using a similar configuration and they were using the names vhost & port.

Here is the new block with no duplication:

[code]

I noticed after posting that ${.apache.template} is specified in place of using ${MESSAGE} however I am not able to match against value("`prefix`template") in a f

[2019-04-14 01:42] mehul-m-prajapati opened #2677 "warning elimination: undefined"
As the result of #1302 we want to eliminate some special warnings. For this reason I open issues with the different warning types to split the problem into subtasks.

The resolution would be a PR that fixes the mentioned warnings, and - to defend against reintroducing such warnings - these kind of warnings should be added in the top level Makefile.am, to the end of AM_CFLAGS in the ENABLE_EXTRA_WA

[2019-04-14 05:17] mehul-m-prajapati opened #2679 "warning elimination: old style definition"
As the result of #1302 we want to eliminate some special warnings. For this reason I open issues with the different warning types to split the problem into subtasks.

The resolution would be a PR that fixes the mentioned warnings, and - to defend against reintroducing such warnings - these kind of warnings should be added in the top level Makefile.am, to the end of AM_CFLAGS in the ENABLE_EXTRA_WA

[2019-04-15 01:05] meigea opened #2681 "Some Errors Preduced with mod_python load"
I have runed like ` ./configure --with-python=3 && make && make install `
but configure well but make not maked such as what i want . mod_python not produced.

**the last log showed**
[code]

[2019-04-15 01:07] meigea commented on #2681
env centos7.4

the configure log
[code]

[2019-04-15 04:45] bazsi commented on #2670
This looks much better, so we are getting there.

Wrt matching against templates: it's true, that right now filters only
allow specific name value pairs instead of a template.

The reason is:

1) there was no strong usecase before
2) using a specific name-value pair is faster.

This use case proves that a template () option for filter expressions would
be useful.

For now, can you please use a num

[2019-04-15 04:47] bazsi commented on #2635
Well, there's a function that creates directories, you can find it the file
destination that already supports create-dirs().

The code for both the pipe source and the file destination are in the
modules/affile/ directory.

On Fri, Apr 12, 2019, 19:12 Parth Wazurkar <notifications@github.com wrote:

[2019-04-15 04:49] bazsi commented on #2681
The python detection failed. You can find more detailed logs in the file
config.log

Is python3-devel installed?

On Mon, Apr 15, 2019, 03:07 meigea <notifications@github.com wrote:

[2019-04-15 06:48] #2679 closed

[2019-04-15 07:03] parthw1 commented on #2635
@bazsi Thank you.

[2019-04-15 08:30] abalage commented on #2630
How is your progress? Is there anything I can do to help?

[2019-04-15 12:21] bazsi commented on #2675
Hi,

I was just trying to feed this log message to the current master of
syslog-ng, and it seems to parse it just fine:

[2019-04-15T12:20:08.696097] Incoming log entry; line='<14>1
2019-04-12T14:29:06.576Z - RT_FLOW - RT_FLOW_SESSION_CLOSE
[junos@2636.1.1.1.2.129 reason="TCP FIN" source-address="10.3.255.203"
source-port="47776" destination-address="8.23.224.110"
destination-port="80" connection-

[2019-04-15 12:24] mcaulifn commented on #2675
@bazsi what version did you test with?

Is `filter f_srx_traffic {program("RT_FLOW"); };` correct based on that message?

[2019-04-15 12:33] bazsi commented on #2675
I didn't test the filter itself, but noticed that $PROGRAM is properly set,
based on the debug log:
[code]
sp program("RT_FLOW") should work. I didn't try it though.

I tested it with current master, which is like 3.20+

3.2 is ancient, ~8-10 years old. Please upgrade to something more recent.
There are binaries of syslog-ng for a set of platforms, maybe the one in
EPEL works on AMI Linux.
https:/

[2019-04-15 12:40] mcaulifn commented on #2675
The one in EPEL 6 is `3.2.5`. EPEL 7 bumps it up to `3.5.6`. Since we are running Amazon Linux 1, it is EPEL 6.

[2019-04-15 12:43] bazsi commented on #2675
hi,

Here's a package for EPEL6:
https://copr.fedorainfracloud.org/coprs/czanik/syslog-ng319epel6/

that's 3.19, which is pretty close.

On Mon, Apr 15, 2019 at 2:40 PM Nathaniel McAuliffe <
notifications@github.com> wrote:

[2019-04-15 13:51] mcaulifn commented on #2675
Got it installed. The debug messages are a lot better :)

However, I'm only getting a partial log still:
[code]

Here is an updated version of the filter:

[code]

[code]

[2019-04-15 14:04] #2574 closed

[2019-04-15 14:38] Kokan commented on #2630
I had to investigate some nasty linker related issue, now I am back on this track.

Based on the first glance of those stack traces it still hits some issue before the code that causes the deadlock. All of them seem to originate from the same root cause.

[2019-04-15 15:22] bazsi commented on #2675
Your filter IS matched. The output is truncated, because the MESSAGE
portion of the incoming message is indeed empty. You only have structured
data.

Just use a $SDATA macro somewhere in the output template, or use
flags(syslog-protocol) on the destination file.

The first way you can easily insert all the SDATA payload anywhere in the
output. The flags() solution will flip your output file to use

[2019-04-15 15:49] mcaulifn commented on #2675
Ah ha. I added the `syslog-protocol` flag to the destination file as this will ultimately end up in splunk so I really just need the SDATA.

Thank you!

[2019-04-15 20:01] nambrosch commented on #2670
Thanks, I didn't know using numbered name-value pairs was best practice here.  I switched template and vhostport however i needed to remove prefix() from csvp-arser to make it work.  A little ugly but it works.

Also updated the regex to include period and underscore.

[code]

[2019-04-16 10:07] #906 closed

[2019-04-16 11:18] nitishsaboo opened #2682 "fatal error: 'config.h' file not found"
Hi,

I am using syslog-ng-3.6.2 (https://src.fedoraproject.org/lookaside/pkgs/syslog-ng/syslog-ng_3.6.2.tar.gz/6928e9be3499a2e9ae52ea8aa204b165/).
I want to use syslog-ng header files in my project.

This is my repository : https://github.com/nitishsaboo/Testing

syslog-node.c is a file where I am using syslog-ng's header files.
The match function in 'syslog-node.c' is being called from 'main.go'

[2019-04-16 11:45] Kokan commented on #2682
Possibly you have to proved a path for the `config.h` in the `//#cgo CFLAGS: -g -Wall` option.
Additionally with `go build`, the `-x` option could give you helpful info; btw for me it does not compile the `syslog-node.c`.

[2019-04-16 12:27] MikeoPerfect commented on #2682
that sounds very challenging, I will try it.

[2019-04-16 13:01] Kokan commented on #2682
@MikeoPerfect which part is challenging?
@nitishsaboo would you describe what you want to achieve ?

[2019-04-16 14:44] ayappanec commented on #2206
I am IBM AIX Toolbox development team.
AIX Toolbox web page --> https://www.ibm.com/developerworks/aix/library/aix-toolbox/alpha.html

Usage of the keyword " __tls " by application softwares is forbidden in AIX according to IBM AIX linker team. If the source code would have used " __tls1" or something, then it would have compiled.

I just tried building syslog-ng in AIX 6.1 . I see only two proble

[2019-04-16 14:59] nitishsaboo commented on #2682
@Kokan
I want to use syslog-ng header files in my project for which I came across this github link 'https://github.com/balabit/syslog-ng/issues/745' which mentions that 'to use syslog-ng's header files in a project  he/she needs syslog-ng's config.h file as well'. The GO code calls syslog-node.c which then calls syslog-ng libraries.I already have 'config.h' file present in my syslog-ng-3.6.2 direc

[2019-04-16 15:07] ayappanec commented on #2206
The --whole-archive linker issue comes because of this portion of configure file.

+17714  INTERNAL_IVYKIS_CFLAGS=""
+17715  if test "x$with_ivykis" = "xinternal"; then
+17716          if $IVYKIS_INTERNAL_SOURCE_EXISTS; then
+17717                  # these can only be used in lib as it assumes
+17718                  # the current directory just one below ivykis
+17719
+17720                  IVYK

[2019-04-16 15:10] ayappanec commented on #2206
And "WHOLE_ARCHIVE_OPT" gets set in all OSes except Darwin because of this

+15876  if test $ostype = "Darwin"; then
+15877    WHOLE_ARCHIVE_OPT="-all_load"
+15878    NO_WHOLE_ARCHIVE_OPT="-noall_load"
+15879  else
+15880    WHOLE_ARCHIVE_OPT="--whole-archive"
+15881    NO_WHOLE_ARCHIVE_OPT="--no-whole-archive"
+15882  fi

[2019-04-16 15:15] Kokan commented on #2682
as suggested before you should provide the include path in the main.go `//#cgo CFLAGS` that tells the c compiler whete to look for this header, something like this `-I${prefix}/include` where the prefix is your syslogng installation.

this is probably solves your include issue, as next step linker should fail.

I saw the code, I was curious what functionality you want to use from libsyslogng?